<%= content_tag_for :li, block, 'data-block-id' => block.id do %>
  <div class="row">
    <div class="eight columns centered">
      <div class="actions">
        <%= link_to t('admin.posts.actions.blocks.destroy'), [:admin, post, block], :remote => true, method: :delete, data: { confirm: "Biztos törli ezt a dobozt?" }, :class => 'delete', :title => t('admin.posts.actions.blocks.destroy') %>
        <%= link_to t('admin.posts.actions.blocks.edit'), edit_admin_post_block_path(post, block), :remote => true, :class => 'edit', :title => t('admin.posts.actions.blocks.edit') %>
        <%= content_tag :span, t('admin.posts.actions.blocks.move'), :class => 'handle drag' %>
      </div>
      <% if block.kind == 'title' %>
        <h2><%= block.content.nil? || block.content.empty? ? content_tag(:p, t('admin.posts.messages.notices.blocks.empty_text'), :class => 'info-panel error') : block.content %></h2>
      <% end %>
      <% if block.kind == 'text' %>
        <%= markdown block.content.nil? || block.content.empty? ? content_tag(:p, t('admin.posts.messages.notices.blocks.empty_text'), :class => 'info-panel error') : block.content %>
      <% end %>
      <% if block.kind == 'bordered-text' %>
        <div class="bordered-text">
          <%= markdown block.content.nil? || block.content.empty? ? content_tag(:p, t('admin.posts.messages.notices.blocks.empty_text'), :class => 'info-panel error') : block.content %>
        </div>
      <% end %>
      <% if block.kind == 'big-text' %>
        <div class="big-text">
          <%= markdown block.content.nil? || block.content.empty? ? content_tag(:p, t('admin.posts.messages.notices.blocks.empty_text'), :class => 'info-panel error') : block.content %>
        </div>
      <% end %>
      <% if block.kind == 'image' %>
        <% if !block.attachment_id.nil? %>
          <figure class="<%= block.css_class %>">
            <%= image_tag processed_attachment_url(block.attachment, :medium), :size => block.attachment.attachment.image_size(:medium), :style => "background-color: #{block.attachment.average_color}" %>
            <% if !block.content.empty? %>
              <figcaption><%= block.content %></figcaption>
            <% end %>
          </figure>
        <% else %>
          <p class="info-panel error"><%= t('admin.posts.messages.notices.blocks.empty_image') %></p>
        <% end %>
      <% end %>
      <% if block.kind == 'video' %>
        <div class="embedded-video">
          <iframe src="http://player.vimeo.com/video/<%= block.content %>?byline=0&color=F2B500" width="720" height="405" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      <% end %>
      <% if block.kind == 'recipe' %>
        <div class="embedded-post recipe">
          <%= link_to_recipe(block) %>
        </div>
      <% end %>
      <% if block.kind == 'post' %>
        <div class="embedded-post post">
          <%= link_to_post(block) %>
        </div>
      <% end %>
      <% if block.kind == 'restaurant' %>
        <div class="embedded-post restaurant">
          <%= link_to_restaurant(block) %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
