<%= content_tag_for :li, block, :class => 'edit', 'data-block-id' => block.id do %>
  <div class="row">
    <div class="eight columns centered">
      <%= form_tag admin_attachments_path, :method => :get, :remote => 'true', :id => "attachment-search-form-#{block.id}", 'data-behavior' => "attachment-search-form-#{block.id}", :class => 'hidden' do %>
        <%= hidden_field_tag :block_id, block.id %>
      <% end %>
      <%= form_for [:admin, post, block], :html => { :class => 'block-form', 'data-behavior' => 'block-form', :remote => true } do |f| %>
        <% if block.new_record? %>
          <p class="info-panel"><%= t('admin.posts.messages.info_panels.blocks.new') %></p>
          <%= f.select :kind, options_for_select(Block.kind_options), {},  {} %>
        <% end %>
        <% if block.kind == 'title' %>
          <p><%= f.text_field :content, :placeholder => t('admin.posts.placeholders.blocks.title'), :autofocus => true %></p>
          <%= f.select :kind, options_for_select(Block.text_kind_options, :selected => block.kind), {},  {} %>
        <% end %>
        <% if block.kind == 'text' %>
          <p class="info-panel"><%= t('admin.posts.messages.info_panels.blocks.text_format_options').html_safe %></p>
          <p><%= f.text_area :content, :rows => 8, :placeholder => t('admin.posts.placeholders.blocks.text_content'), :autofocus => true %></p>
          <%= f.select :kind, options_for_select(Block.text_kind_options, :selected => block.kind), {},  {} %>
        <% end %>
        <% if block.kind == 'big-text' %>
          <p class="info-panel"><%= t('admin.posts.messages.info_panels.blocks.text_format_options').html_safe %></p>
          <p><%= f.text_area :content, :rows => 8, :placeholder => t('admin.posts.placeholders.blocks.text_content'), :autofocus => true %></p>
          <%= f.select :kind, options_for_select(Block.text_kind_options, :selected => block.kind), {},  {} %>
        <% end %>
        <% if block.kind == 'bordered-text' %>
          <p class="info-panel"><%= t('admin.posts.messages.info_panels.blocks.text_format_options').html_safe %></p>
          <p><%= f.text_area :content, :rows => 8, :placeholder => t('admin.posts.placeholders.blocks.text_content'), :autofocus => true %></p>
          <%= f.select :kind, options_for_select(Block.text_kind_options, :selected => block.kind), {},  {} %>
        <% end %>
        <% if block.kind == 'image' %>
          <div class="attachment-browser" data-behavior="attachment-browser-<%= block.id %>">
            <%= link_to 'Válasszon a mellékletekből…', admin_attachments_path(:category => session[:last_attachment_picker_filter], :block_id => block.id), :remote => true, :class => 'open-attachment-browser' %>
          </div>
          <%= f.hidden_field :attachment_id, 'data-behavior' => 'attachment-id' %>
          <div class="attachment-options">
            <div class="attachment-preview">
              <% unless block.attachment_id.nil? %>
                <%= image_tag processed_attachment_url(block.attachment, :medium), 'data-behavior' => 'attachment-preview' %>
              <% else %>
                <%= image_tag 'transparent.png', 'data-behavior' => 'attachment-preview' %>
              <% end %>
            </div>
            <div class="attachment-fields">
              <% for image_class in Block.image_class_options %>
                <div class="row">
                  <div class="twelve columns">
                    <div class="radio-button">
                      <%= f.radio_button :css_class, image_class[1] %>
                      <%= f.label "css_class_#{image_class[1]}", image_class[0] %>
                    </div>
                  </div>
                </div>
              <% end %>
              <%= f.label :content, 'Képaláírás:' %>
              <%= f.text_field :content, :placeholder => t('admin.posts.placeholders.blocks.image_content') %>
            </div>
          </div>
        <% end %>
        <% if block.kind == 'video' %>
          <p class="info-panel"><%= t('admin.posts.messages.info_panels.blocks.choose_video').html_safe %></p>
          <%= f.text_field :content %>
        <% end %>
        <% if block.kind == 'recipe' %>
          <p class="info-panel"><%= t('admin.posts.messages.info_panels.blocks.choose_recipe') %></p>
          <%= f.select :content, options_for_select(find_all_recipe, :selected => block.content), {},  { 'data-behavior' => 'choose-post' } %>
        <% end %>
        <% if block.kind == 'post' %>
          <p class="info-panel"><%= t('admin.posts.messages.info_panels.blocks.choose_post') %></p>
          <%= f.select :content, options_for_select(find_all_post(block), :selected => block.content), {},  { 'data-behavior' => 'choose-post' } %>
        <% end %>
        <% if block.kind == 'restaurant' %>
          <p class="info-panel"><%= t('admin.posts.messages.info_panels.blocks.choose_restaurant') %></p>
          <%= f.select :restaurant_id, options_for_select(find_all_restaurants, :selected => block.restaurant_id), {},  { 'data-behavior' => 'choose-post' } %>
        <% end %>
        <div class="form-actions">
          <%= f.submit block.new_record? ? t('admin.posts.actions.blocks.new') : t('admin.posts.actions.blocks.update') %>
          <% unless block.new_record? %>
            <%= t('shared.messages.or') %> <%= link_to t('shared.actions.cancel'), admin_post_block_path(post, block), :remote => true %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
