$('[data-block-id~=<%= @block.id %>]').replaceWith('<%= j render :partial => 'admin/blocks/form', :locals => { :post => @post, :block => @block } %>');
$('[data-block-id~=<%= @block.id %>] textarea').autosize({ append: '' });
if ($('[data-behavior~=choose-post]').length > 0) {
  $("[data-behavior~=choose-post]").chosen({
    width: "100%",
    no_results_text: "<%= t('admin.posts.messages.notices.blocks.post_not_found') %>"
  });
}
$('html').addClass('loaded');
