if ($('#new_block').length == 0) {
  $('[data-behavior~=new-block]').before('<%= j render :partial => 'admin/blocks/form', :locals => { :post => @post, :block => @block } %>')
}

$("form[data-behavior~=attachment-search-form] input, form[data-behavior~=attachment-search-form] select").on("change", function() {
  return $(this).parents("form[data-behavior~=table-form]").submit();
});
$('html').addClass('loaded');
