$('[data-block-id~=<%= @block.id %>]').replaceWith('<%= j render :partial => 'admin/blocks/block', :locals => { :post => @post, :block => @block } %>');
$('[data-block-id~=<%= @block.id %>]').effect("highlight", {color: '#feffe6'}, 500);
$('html').addClass('loaded');
