<% cache ['v23', comment] do %>
  <tr data-comment-id="<%= comment.id %>">
    <td class="title three">
      <%= link_to edit_admin_comment_path(comment) do %>
        <span class="username"><%= username_for comment.user %> / <%= l(comment.created_at, :format => :short) %></span>
      <% end %>
    </td>
    <td>
      <span class="main-tag <%= comment.post.category %>"><%= get_category_for(comment.post) %></span><br/>
      <p class="comment-excerpt"><%= excerpt_for_text(comment.body, 70) %></p>
    </td>
    <td><%= link_to comment.post.title, "#{get_post_path_for(comment.post)}#comment-#{comment.id}" %></td>
    <td class="text-centered">
      <%= link_to t('shared.actions.destroy'), [:admin, comment], method: :delete, data: { confirm: t('admin.comments.messages.confirmations.destroy'), :remote => true } %>
    </td>
  </tr>
<% end %>
