<div class="twelve columns">
  <%= form_for([:admin, @comment], :html => { :class => 'admin-form comment-form', :mutlipart => true }) do |f| %>
    <div class="row">
      <div class="six columns centered">
        <div class="row">
          <div class="five columns">
            <%= f.label :user, :class => 'inline right' %>
          </div>
          <div class="seven columns end">
            <span class="data-label">
              <%= link_to edit_admin_user_path(@comment.user) do %>
                <%= username_for @comment.user %>
              <% end %>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="five columns">
            <%= f.label :email, :class => 'inline right' %>
          </div>
          <div class="seven columns end">
            <span class="data-label">
              <%= mail_to @comment.user.email %>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="five columns">
            <%= f.label :post, :class => 'inline right' %>
          </div>
          <div class="seven columns end">
            <span class="data-label">
              <span class="main-tag <%= @comment.post.category %>"><%= get_category_for(@comment.post) %></span>
              <%= link_to @comment.post.title, edit_admin_post_path(@comment.post) %>
            </span>
          </div>
        </div>
        <%= spacer_tag('twelve') %>
        <div class="row">
          <div class="five columns">
            <%= f.label :body, :class => 'inline' %>
          </div>
          <div class="twelve columns">
            <%= f.text_area :body, :rows => 14, :class => 'blocked-field editing-textarea' %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="six columns centered">
        <div class="form-actions">
          <%= f.submit t('admin.comments.actions.update'), 'data-behavior' => 'save-button' %>
          <%= t('shared.messages.or') %>
          <%= link_to t('shared.actions.destroy'), [:admin, @comment], method: :delete, data: { confirm: t('admin.comments.messages.confirmations.destroy') } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
