<% content_for :title do %>
  <%= t('admin.comments.name') %> &ndash; <%= t('admin.name') %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <div class="twelve columns">
    <div class="row">
      <h2 class="eight columns"><%= t('admin.comments.name') %> <%= content_tag :span, "(#{all_comments_count(@comments)})", :class => 'subtitle' %></h2>
      <div class="four columns">
        <div class="action-group">
          <%= form_tag admin_comments_path, :method => :get, :class => 'search-form', 'data-behavior' => 'table-filter' do %>
            <%= text_field_tag :search, params[:search], :placeholder => t('shared.placeholders.filter_table'), :class => 'search-keyword' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="twelve columns">
    <table cellspacing="2" class="comments-table">
      <thead>
        <tr>
          <th class="three title"><%= t('activerecord.attributes.comment.user') %> / <%= t('activerecord.attributes.comment.created_at') %></th>
          <th><%= t('activerecord.attributes.comment.body') %></th>
          <th class="two"><%= t('activerecord.attributes.comment.post') %></th>
          <th class="text-centered"><%= t('shared.actions.name') %></th>
        </tr>
      </thead>

      <tbody>
        <% if !@comments.empty? %>
          <% @comments.each do |comment| %>
            <%= render comment %>
          <% end %>
        <% else %>
          <tr>
            <td colspan="5">
              <div class="row empty-notice">
                <div class="six columns centered">
                  <div class="flash-notice notice text-centered"><%= t('admin.comments.messages.notices.empty_comments') %></div>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="twelve columns text-centered">
      <div class="pagination-container">
        <%= page_navigation_links(@comments) %>
      </div>
    </div>
  </div>
</div>
