<div id="flash-alert" class="flash-notice alert" data-behavior="flash-notice"><a href="#" data-behavior="flash-notice-close" class="flash-close">&times;</a><%= t('errors.models.comment.attributes.body.blank') %></div>
