<% content_for :title do  %>
  <%= t('user.titles.resend_confirmation') %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <h2 class="twelve columns"><%= t('user.titles.resend_confirmation') %></h2>
  <div class="twelve columns">
    <div class="row">
      <div class="twelve columns">
        <p class="info-panel"><%= t('user.messages.info_panels.resend_confirmation').html_safe %></p>
      </div>
    </div>
    <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :class => 'user-form', :method => :post }) do |f| %>
      <div class="row">
        <div class="four columns"><%= f.label :email, :class => 'inline right' %></div>
        <div class="four columns end guided email <%= field_has_error?(@user, :email) %>">
          <%= f.email_field :email, :class => field_has_error?(@user, :email) %>
          <%= field_errors @user, :email %>
        </div>
      </div>

      <div class="row">
        <div class="four columns offset-by-four">
          <%= f.submit t('user.actions.resend_confirmation'), :class => 'button radius' %>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="four columns offset-by-four">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
