<header class="blog-header">
  <div class="row">
    <h2 class="six columns offset-by-two blog-logo-container">
      <%= link_to "#{t('guides.name')}", guides2012_path, :class => 'blog-logo' %>
    </h2>
    <div class="four columns table-of-contents-container">
      <div class="table-of-contents">
        <%= link_to  '#', :class => 'button table-of-contents-popover-toggle', 'data-behavior' => 'table-of-contents-popover-toggle' do %>
          <%= "#{t('guides.titles.table_of_contents')} ▾".html_safe %>
        <% end %>
        <div class="plain popover table-of-contents-popover" data-behavior="table-of-contents-popover">
          <% render_embedded_page('kalauz-oldalsav-2012') %>
        </div>
      </div>
    </div>
  </div>
</header>
