<% content_for :title do  %>
  <%= t('user.titles.edit_user_registration') %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <h2 class="twelve columns"><%= t('user.titles.edit_user_registration') %></h2>
  <div class="twelve columns">
    <div class="row">
      <div class="twelve columns">
        <p class="info-panel"><%= t('user.messages.info_panels.edit_user_registration').html_safe %></p>
      </div>
    </div>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'user-form', :autocomplete => "off", 'data-behavior' => 'edit-user-registration-form', :method => :put }) do |f| %>
      <div class="row">
        <div class="four columns"><%= f.label :username, :class => 'inline right' %></div>
        <div class="four columns end guided username <%= field_has_error?(@user, :username) %>">
          <%= f.text_field :username, :class => field_has_error?(@user, :username), :autocomplete => false %>
          <%= field_errors @user, :username %>
        </div>
      </div>

      <div class="row">
        <div class="four columns"><%= f.label :email, :class => 'inline right' %></div>
        <div class="four columns end guided email <%= field_has_error?(@user, :email) %>">
          <%= f.email_field :email, :class => field_has_error?(@user, :email), :autocomplete => false %>
          <%= field_errors @user, :email %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="row">
          <div class="four columns offset-by-four">
            <p class="info-panel">
            <%= t('user.messages.info_panels.waiting_for_confirmation') %><br><%= resource.unconfirmed_email %></p>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="four columns"><%= f.label :phone, :class => 'inline right' %></div>
        <div class="four columns end guided phone <%= field_has_error?(@user, :phone) %>">
          <%= f.phone_field :phone, :class => field_has_error?(@user, :phone), :autocomplete => false %>
          <%= field_errors @user, :phone %>
        </div>
      </div>

      <div class="row">
        <div class="four columns"><%= f.label :password, t('helpers.label.user.new_password'), :class => 'inline right' %></div>
        <div class="four columns end guided password <%= field_has_error?(@user, :password) %>">
          <%= f.password_field :password, :class => field_has_error?(@user, :password), :placeholder => t('user.placeholders.password_sign_up') %>
          <%= field_errors @user, :password %>
        </div>
      </div>

      <div class="row">
        <div class="four columns"><%= f.label :password_confirmation, t('helpers.label.user.new_password_confirmation'), :class => 'inline right' %></div>
        <div class="four columns end guided password <%= field_has_error?(@user, :password_confirmation) %>">
          <%= f.password_field :password_confirmation, :class => field_has_error?(@user, :password_confirmation) %>
          <%= field_errors @user, :password_confirmation %>
        </div>
      </div>

      <div class="row">
        <div class="four columns offset-by-four">
          <div class="panel registration-editing-authentication">
            <div class="row">
              <div class="twelve columns end"><%= f.label :current_password, :class => 'inline' %></div>
              <div class="twelve columns end guided password <%= field_has_error?(@user, :current_password) %>">
                <%= f.password_field :current_password, :class => field_has_error?(@user, :current_password), :autocomplete => false %>
                <%= field_errors @user, :current_password %>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="four columns offset-by-four">
          <%= f.submit t('user.actions.update'), :class => 'button radius' %>
        </div>
      </div>
    <% end %>

    <section class="row user-favourites">
      <div class="eight columns offset-by-two">
        <h3><%= t('user.titles.favourites') %></h3>
        <% if !current_user.favourites.empty? %>
          <p class="info-panel"><%= t('favourites.messages.info_panels.has_favs', :site_title => site_title).html_safe %></p>
          <ul class="plain">
            <% current_user.favourites.each do |favourite| %>
              <% if record_exists_for_fav? favourite %>
                <li><%= link_to get_record_title_for_fav(favourite), get_record_path_for_fav(favourite), :class => "favourite-kind faved-#{favourite.kind}" %>
              <% end %>
            <% end %>
          </ul>
        <% else %>
          <p class="info-panel"><%= t('favourites.messages.info_panels.empty', :site_title => site_title, :restaurants_path => restaurants_path, :hotels_path => hotels_path, :wineries_path => wineries_path).html_safe %></p>
        <% end %>
      </div>
    </section>
    <section class="row user-restaurant-reservations">
      <div class="twelve columns">
        <div class="row">
          <h3 class="eight columns offset-by-two"><%= t('user.titles.restaurant_reservations') %></h3>
        </div>
        <% if !current_user.restaurant_reservations.empty? %>
          <div class="row">
            <div class="eight columns offset-by-two">
              <p class="info-panel"><%= t('restaurant_reservations.messages.info_panels.has_restaurant_reservation', :restaurants_path => restaurants_path).html_safe %></p>
            </div>
          </div>
          <ul class="plain">
            <% current_user.restaurant_reservations.each do |restaurant_reservation| %>
              <%= render :partial => 'restaurant_reservations/restaurant_reservation', :locals => { :restaurant_reservation => restaurant_reservation } %>
            <% end %>
          </ul>
        <% else %>
          <div class="row">
            <div class="eight columns offset-by-two">
              <p class="info-panel"><%= t('restaurant_reservations.messages.info_panels.empty', :site_title => site_title, :restaurants_path => restaurants_path, :hotels_path => hotels_path, :wineries_path => wineries_path).html_safe %></p>
            </div>
          </div>
        <% end %>
      </div>
    </section>
    <section class="row user-orders">
      <div class="twelve columns">
        <div class="row">
          <h3 class="eight columns offset-by-two"><%= t('user.titles.orders') %></h3>
        </div>
        <% if !current_user.orders.empty? %>
          <div class="row">
            <div class="eight columns offset-by-two">
              <p class="info-panel"><%= t('orders.messages.info_panels.has_order', :new_order_path => new_product_order_path(@gm_guide_product)).html_safe %></p>
            </div>
          </div>
          <ul class="plain">
            <% current_user.orders.each do |order| %>
              <%= render :partial => 'orders/order', :locals => { :order => order } %>
            <% end %>
          </ul>
        <% else %>
          <div class="row">
            <div class="eight columns offset-by-two">
              <p class="info-panel"><%= t('orders.messages.info_panels.empty', :new_order_path => new_product_order_path(@gm_guide_product)).html_safe %></p>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>
