<% content_for :title do  %>
  <%= t('user.sign_up') %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <h2 class="twelve columns"><%= t('user.titles.sign_up', :site_title => site_title) %></h2>
</div>
<div class="row">
  <div class="six columns">
    <div class="panel">
      <div class="row">
        <div class="twelve columns">
          <p class="info-panel"><%= t('user.messages.info_panels.sign_up').html_safe %></p>
        </div>
      </div>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'user-form' }) do |f| %>
        <div class="row">
          <div class="four columns"><%= f.label :username, :class => 'inline right' %></div>
          <div class="eight columns end guided username <%= field_has_error?(@user, :username) %>">
            <%= f.text_field :username, :autofocus => true, :class => field_has_error?(@user, :username) %>
            <%= field_errors @user, :username %>
          </div>
        </div>

        <div class="row">
          <div class="four columns"><%= f.label :email, :class => 'inline right' %></div>
          <div class="eight columns end guided email <%= field_has_error?(@user, :email) %>">
            <%= f.email_field :email, :class => field_has_error?(@user, :email), :value => params[:email].blank? ? @user.email : params[:email] %>
            <%= field_errors @user, :email %>
          </div>
        </div>

        <div class="row">
          <div class="four columns"><%= f.label :password, :class => 'inline right' %></div>
          <div class="eight columns end guided password <%= field_has_error?(@user, :password) %>">
            <%= f.password_field :password, :class => field_has_error?(@user, :password), :placeholder => t('user.placeholders.password_sign_up') %>
            <%= field_errors @user, :email %>
          </div>
        </div>

        <div class="row">
          <div class="four columns"><%= f.label :password_confirmation, :class => 'inline right' %></div>
          <div class="eight columns end guided password <%= field_has_error?(@user, :password_confirmation) %>">
            <%= f.password_field :password_confirmation, :class => field_has_error?(@user, :password_confirmation) %>
            <%= field_errors @user, :password_confirmation %>
          </div>
        </div>

        <div class="row">
          <div class="offset-by-four eight columns end captcha"><%= recaptcha_tags %></div>
        </div>

        <div class="row">
          <div class="eight columns offset-by-four">
            <%= f.submit t('user.sign_up'), :class => 'button radius' %>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="eight columns offset-by-four">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
  <div class="six columns registration-info">
    <% render_embedded_page 'regisztracio-oldalsav' %>
  </div>
</div>

