<% content_for :title do %>
  <%= t('shared.titles.search', :keyword => articalize(params[:q])).html_safe %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <h2 class="twelve columns"><%= t('shared.titles.search', :keyword => articalize(params[:q])).html_safe %></h2>
</div>

<div class="row">
  <div class="twelve columns">
    <gcse:searchresults-only></gcse:searchresults-only>
  </div>
</div>
