<ul class="square user-links" data-no-turbolink>
  <%- if controller_name != 'sessions' %>
    <li><%= link_to t('user.shared_links.sign_in'), new_session_path(resource_name) %></li>
  <% end -%>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <li><%= link_to t('user.shared_links.sign_up'), new_registration_path(resource_name) %></li>
  <% end -%>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
    <li><%= link_to t('user.shared_links.forgot_password'), new_password_path(resource_name) %></li>
  <% end -%>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <li><%= link_to t('user.shared_links.confirmable'), new_confirmation_path(resource_name) %></li>
  <% end -%>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <li><%= link_to t('user.shared_links.lockable'), new_unlock_path(resource_name) %></li>
  <% end -%>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <li><%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %></li>
    <% end -%>
  <% end -%>
</ul>
