<% cache ['v13', attachment] do %>
  <div class="three columns attachment-container end">
    <%= link_to edit_admin_attachment_path(attachment), :class => 'attachment', 'style' => "background-image: url('#{processed_attachment_url(attachment)}'); background-color: #{attachment.average_color};" do %>
      <%= content_tag :span, attachment.attachment_file_name + ' (' + number_to_human_size(attachment.attachment.size) + ')' %>
    <% end %>
  </div>
<% end %>
