<div class="row">
  <div class="twelve columns">
    <ul class="plain horizontal attachment-category-filter clearfix category-<%= params[:category].blank? || params[:category] == 'latest' ? 'all' : params[:category] %>">
      <li><%= select_tag :category, "<option value=\"\">Minden modul</option>".html_safe + options_for_select(Attachment.categories, params[:category]), :class => 'select-field attachment-category-select', :form => "attachment-search-form-#{params[:block_id]}", 'data-behavior' => "attachment-category-select-#{params[:block_id]}" %></li>
      <li><%= text_field_tag :keyword, params[:keyword], :placeholder => t('shared.placeholders.filter_table'), :class => 'attachment-keyword-field', :form => "attachment-search-form-#{params[:block_id]}", 'data-behavior' => "attachment-keyword-field-#{params[:block_id]}" %></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <div class="attachment-browser-container">
      <div class="attachment-browser-inner row">
        <% if !@attachments_picker.empty? %>
          <% @attachment_months.each do |month, attachments_picker| %>
            <h2 class="twelve columns attachments-months"><%= l(month, :format => :year_and_month) %></h2>
            <% for attachment in attachments_picker %>
              <% cache ['v15', 'attachment_picker', attachment] do %>
                <div class="two columns end <%= attachment.category %> attachment-picker-container">
                  <%= link_to processed_attachment_url(attachment, :medium), 'data-behavior' => 'attachment-selector', 'data-attachment-id' => attachment.id, :class => 'attachment-selector', 'style' => "background-image: url('#{processed_attachment_url(attachment)}'); background-color: #{attachment.average_color};" do %>
                    <span class="attachment-selector-title"><%= attachment.title %></span>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <div class="twelve columns">
            <p class="empty-attachments">Nem található melléklet ebben a kategóriában.</p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="twelve columns text-centered">
      <div class="pagination-container">
        <%= page_navigation_links(@attachments_picker, true) %>
      </div>
    </div>
  </div>
</div>
