<div class="twelve columns">
  <%= form_for([:admin, @attachment], :html => { :class => 'admin-form', :mutlipart => true }) do |f| %>
    <div class="row">
      <div class="six columns centered">
        <div class="row">
          <div class="four columns">
            <%= f.label :attachment, :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <% if @attachment.new_record? %>
              <%= f.file_field :attachment, :class => 'inline-field' %>
            <% else %>
              <p>
                <%= link_to processed_attachment_url(@attachment, :original), :title => t('admin.attachments.actions.download'), :class => 'download has-tip tip-right' do %>
                  <%= image_tag processed_attachment_url(@attachment, :medium) %>
                <% end %>
              </p>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= f.label :category, :class => 'inline right' %>
          </div>
          <div class="five columns end">
            <%= f.select :category, options_for_select(Attachment.categories, :selected => @attachment.new_record? ? params[:category] : @attachment.category), {},  { :class => 'inline-field' } %>
          </div>
        </div>
        <% unless @attachment.new_record? %>
          <div class="row">
            <div class="four columns">
              <%= f.label :attachment_file_size, :class => 'inline right' %>
            </div>
            <div class="five columns end">
              <span class="data-label"><%= number_to_human_size(@attachment.attachment.size) %></span>
            </div>
          </div>
          <div class="row">
            <div class="four columns">
              <%= f.label :attachment_content_type, :class => 'inline right' %>
            </div>
            <div class="five columns end">
              <span class="data-label"><%= @attachment.attachment.content_type %></span>
            </div>
          </div>
          <div class="row">
            <div class="four columns">
              <%= f.label t('activerecord.attributes.attachment.url'), :class => 'inline right' %>
            </div>
            <div class="eight columns end">
              <textarea data-behavior="copy-paste-field" rows="5" class="copy-paste-field" readonly><%= processed_attachment_url(@attachment, :original) %></textarea>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="six columns centered">
        <div class="form-actions">
          <% unless @attachment.new_record? %>
            <% if !@attachment.blocks.empty? %>
              <p class="info-panel"><%= t('admin.attachments.messages.info_panels.included_in_post').html_safe %>
              <%= @attachment.blocks.map { |block| link_to block.post.title, "#{edit_admin_post_path(block.post)}#block_#{block.id}" }.join(', ').html_safe %></p>
            <% end %>
          <% end %>
          <%= f.submit @attachment.new_record? ? t('admin.attachments.actions.new') : t('admin.attachments.actions.update'), 'data-behavior' => 'save-button' %>
          <% unless @attachment.new_record? %>
            <% if @attachment.blocks.empty? %>
              <%= t('shared.messages.or') %> <%= link_to t('shared.actions.destroy'), [:admin, @attachment], method: :delete, data: { confirm: t('admin.attachments.messages.confirmations.destroy') } %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
