$('[data-behavior~=new-block]').before('<%= j render :partial => 'admin/blocks/block', :locals => { :post => @block.post, :block => @block } %>');
$('[data-block-id~=<%= @block.id %>]').effect("highlight", {color: '#feffe6'}, 500);
