<% content_for :title do %>
  <%= t('admin.attachments.titles.edit') %> &ndash; <%= t('admin.name') %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <div class="three columns">
    <div class="action-group">
      <ul class="horizontal">
        <li><%= link_to t('admin.attachments.actions.back').html_safe, admin_attachments_path(:category => @attachment.category) %></li>
      </ul>
    </div>
  </div>
  <h2 class="six columns"><%= t('admin.attachments.titles.edit') %></span></h2>

  <%= render 'form' %>
</div>
