<% content_for :title do %>
  <%= t('admin.attachments.name') %> &ndash; <%= t('admin.name') %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <div class="twelve columns">
    <div class="row">
      <h2 class="eight columns">
        <%= t('admin.attachments.name') %>
        <% if !params[:category].blank? %>
          <span class="subtitle">
            <%= '/ ' + current_attachment_category(params) %>
          </span>
          <%= content_tag :span, "(#{current_attachment_category_count(params)})", :class => 'subtitle' %>
        <% end %>
      </h2>
      <div class="four columns">
        <div class="action-group">
          <ul class="horizontal right">
            <li><%= link_to t('admin.attachments.titles.new'), new_admin_attachment_path(:category => params[:category]) %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% if !params[:category].blank? %>
    <div class="twelve columns">
      <p class="info-panel"><%= t('admin.attachments.messages.info_panels.drop_instructions') %> <%= t('admin.attachments.messages.info_panels.file_types', :maximum_file_size => number_to_human_size(Attachment.maximum_file_size)).html_safe %></p>
    </div>
    <%= form_for([:admin, @attachment], :html => { :class => 'admin-form attachment-uploader', :mutlipart => true }) do |f| %>
      <%= f.file_field :attachment, 'data-behavior' => 'attachment-uploader', :class => 'attachment-uploader' %>
      <%= f.hidden_field :category, 'value' => params[:category].blank? ? 'inbox' : params[:category] %>
    <% end %>
  <% end %>
  <div class="twelve columns attachments" data-behavior="attachment-dropzone">
    <div class="row">
      <div class="twelve columns">
        <div class="row">
          <% if !@attachments.empty? %>
            <% if params[:category].blank? %>
              <% Attachment.categories.each do |category| %>
                <div class="three columns end attachment-container">
                  <%= link_to admin_attachments_path(:category => category[1]), :class => 'attachment category' do %>
                    <span><%= category[0] %></span>
                  <% end %>
                </div>
              <% end %>
            <% else %>
              <% @attachments.each do |attachment| %>
                <%= render attachment %>
              <% end %>
              <div class="twelve columns text-centered">
                <div class="pagination-container">
                  <%= page_navigation_links(@comments) %>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="eight columns centered empty-notice">
              <div class="flash-notice notice text-centered"><%= t('admin.attachments.messages.notices.empty_category') %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="attachment-progress" data-behavior="attachment-progress">
  <div class="attachment-progress-bar" data-behavior="attachment-progress-bar"></div>
  <div class="attachment-progress-info" data-behavior="attachment-progress-info"></div>
</div>
