$('[data-behavior~=attachment-browser-<%= params[:block_id] %>]').html('<%=j(render :partial => 'attachment_browser') %>');
$('.pagination a').attr('data-remote', 'true');
$('[data-behavior~=block-form]').on('click', '[data-behavior~=attachment-selector]', function() {
  var image_id = $(this).attr('data-attachment-id');
  var image_url = $(this).attr('href');
  $('[data-behavior~=attachment-id]').val(image_id);
  $('[data-behavior~=attachment-preview]').attr('src', image_url);
  $('[data-behavior~=attachment-selector]').removeClass('selected-attachment');
  $(this).addClass('selected-attachment');
  return false;
});
$('html').addClass("loaded");

$("[data-behavior~=attachment-category-select-<%= params[:block_id] %>], [data-behavior~=attachment-keyword-field-<%= params[:block_id] %>]").on("change", function() {
  var attachment_search_form = $(this).attr('form')
  return $("#"+ attachment_search_form).submit();
});
