<% content_for :title do %>
  <%= t('admin.attachments.titles.new') %> &ndash; <%= t('admin.name') %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <div class="three columns">
    <div class="action-group">
      <ul class="horizontal">
        <li><%= link_to t('admin.attachments.actions.back').html_safe, admin_attachments_path(:category => @attachment.category) %></li>
      </ul>
    </div>
  </div>
  <h2 class="nine columns"><%= t('admin.attachments.titles.new') %></h2>
  <div class="six columns offset-by-three">
    <p class="info-panel"><%= t('admin.attachments.messages.info_panels.file_types', :maximum_file_size => number_to_human_size(Attachment.maximum_file_size)).html_safe %></p>
  </div>
  <%= render 'form' %>
</div>
