<article class="comment <%= highlight_admin_comment comment %>" id="comment-<%= comment.id %>" data-comment-id="<%= comment.id %>" data-author-email="<%= comment.try(:user).try(:email) %>" data-comment-username="<%= username_for(comment.user) %>">
  <h4 class="comment-title">
    <%= render_admin_comment_badge comment %>
    <% if user_signed_in? && current_user.admin? && User.exists?(comment.user) %>
      <%= mail_to comment.user.email, username_for(comment.user) %>
    <% else %>
      <%= username_for(comment.user) %>
    <% end %>
    <span class="subtitle">
      <%= link_to "\##{l(comment.created_at, :format => :long)}", '#comment-' + comment.id.to_s, :class => 'permalink' %>
      <% if user_signed_in? %>
        <% if current_user.role_admin || current_user.role_senior_editor || current_user.role_editor %>
          <%= link_to t('admin.comments.actions.moderate'), edit_admin_comment_path(comment), :class => 'right' %>
        <% end %>
      <% end %>
    </span>
  </h4>
  <%= simple_format auto_link(comment.body) %>
</article>
