<% if CONFIG_COMMENTS_ENABLED %>
  <%= form_for([@post, @post.comments.build], :url => amuva_post_amuva_comments_path(@post), :html => { :class => 'comment-form', 'data-behavior' => 'comment-form', :remote => true }) do |f| %>
    <fieldset>
      <%= f.text_area :body, :rows => 10, 'data-behavior' => 'comment-body' %>
      <div class="form-actions plain">
        <%= f.submit t('comment.actions.create', :username => current_user.username), :class => 'button' %>
      </div>
    </fieldset>
  <% end %>
<% end %>
