<% content_for :title do %>
  <%= t('admin.name') %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <h4 class="four columns"><%= t('admin.name') %></h4>
  <div class="twelve columns">
    Admin főoldal
  </div>
</div>
