<h2 class="six columns recipe-category-title">
  <%= link_to recipes_path(:tag => category) do %>
    <span class="recipe-category"><%= category %> (<%= format_count(count_for_recipe_category category) %>)</span>
    <span class="recipe-category-thumbnail <%= css_class_for_recipe_category category %>"></span>
  <% end %>
</h2>
