<% cache ['v14', 'recipe', 'card', recipe] do %>
  <div class="twelve columns recipe-container">
    <%= link_to get_post_path_for(recipe), :class => 'database-thumbnail recipe' do %>
      <span class="title"><%= recipe.title %></span>
    <% end %>
  </div>
<% end %>
