<article class="post clearfix" data-tags="<%= recipe.tags.pluck(:name).join(', ') %>">
  <div class="post-tile-inner">
    <%= link_to t('shared.actions.short_url'), get_short_url_for_post(recipe), :class => 'short-url', :title => t('shared.actions.short_url') %>
    <% if user_signed_in? %>
      <% if current_user.role_admin || current_user.role_senior_editor || current_user.role_editor %>
        <%= link_to t('shared.actions.edit'), edit_admin_post_path(recipe), :class => 'edit-post', :title => t('shared.actions.edit') %>
      <% end %>
    <% end %>
    <header class="post-header">
      <h1><%= link_to recipe.title, get_post_path_for(recipe) %></h1>
      <p class="post-meta">
        <time class="post-date"><%= l recipe.published_at, :format => :long %></time>
        <%= link_to t('shared.actions.print'), get_post_path_for(recipe), :class => 'post-meta-icon print', 'data-behavior' => 'print-button' %>
      </p>
    </header>
    <div class="post-body">
      <% recipe.blocks.each do |block| %>
        <%= render :partial => 'blocks/block', :locals => { :post => recipe, :block => block } %>
      <% end %>
    </div>
    <% if !find_parent_posts(recipe).empty? %>
      <footer class="related-recipes">
        <h2 class="related-recipes-title"><%= t('recipes.titles.related') %></h2>
        <ul>
          <% find_parent_posts(recipe).each do |related_post| %>
            <li><%= link_to related_post.title, get_post_path_for(related_post) %></li>
          <% end %>
        </ul>
      </footer>
    <% end %>
  </div>
</article>
