<% content_for :title do %>
  <%= t('recipes.name') %> &ndash; <%= site_title %>
<% end  %>

<header>
  <div class="row">
    <h2 class="twelve columns">
      <%= link_to t('recipes.titles.index'), recipes_path %>
      <% if !params[:tag].blank? || !params[:kitchen].blank? %>
        <span class="subtitle">
          /
          <% if !params[:tag].blank? %>
            <%= link_to(filter_recipes_category_title(params[:tag]), recipes_path(:tag => params[:tag]), :class => 'breadcrumb-tag')  %>
          <% end %>
          <% if !params[:kitchen].blank? %>
            <%= link_to(filter_recipes_category_title(params[:kitchen]), recipes_path(:kitchen => params[:kitchen]), :class => 'breadcrumb-tag')  %>
          <% end %>
        </span>
      <% end %>
    </h2>
  </div>
</header>

<header class="database-filter-container">
  <div class="row">
    <%= form_tag recipes_path, :method => 'get', :class => 'database-filter clearfix', 'data-behavior' => 'database-filter' do |f| %>
      <div class="four columns">
        <%= text_field_tag :search, params[:search], :class => 'keyword-field', :placeholder => t('recipes.placeholders.search') %>
      </div>
      <div class="three columns">
        <%= select_tag :tag, "<option value=\"\">#{t('recipes.placeholders.tag')}</option>".html_safe + options_for_select(Post.recipe_tags, params[:tag]), :class => 'select-field recipes-tag-field' %>
      </div>
      <div class="three columns">
        <%= select_tag :kitchen, "<option value=\"\">#{t('recipes.placeholders.kitchen')}</option>".html_safe + options_for_select(Post.recipe_kitchens, params[:kitchen]), :class => 'select-field recipes-kitchen-field' %>
      </div>
      <div class="two columns end">
        <%= submit_tag t('recipes.actions.search'), :class => 'button full-width' %>
      </div>
    <% end %>
  </div>
</header>

<% if params[:tag].blank? && params[:search].blank? && params[:kitchen].blank? %>
  <div class="row">
    <%= render :partial => 'recipes/featured_group', :locals => { :category => Post.recipe_tags[0] } %>
    <%= render :partial => 'recipes/featured_group', :locals => { :category => Post.recipe_tags[1] } %>
    <%= render :partial => 'recipes/featured_group', :locals => { :category => Post.recipe_tags[2] } %>
    <%= render :partial => 'recipes/featured_group', :locals => { :category => Post.recipe_tags[3] } %>
    <%= render :partial => 'recipes/featured_group', :locals => { :category => Post.recipe_tags[4] } %>
    <%= render :partial => 'recipes/featured_group', :locals => { :category => Post.recipe_tags[5] } %>
    <%= render :partial => 'recipes/featured_group', :locals => { :category => Post.recipe_tags[6] } %>
    <%= render :partial => 'recipes/featured_group', :locals => { :category => Post.recipe_tags[7] } %>
    <%= render :partial => 'recipes/featured_group', :locals => { :category => Post.recipe_tags[8] } %>
    <%= render :partial => 'recipes/featured_group', :locals => { :category => Post.recipe_tags[9] } %>
  </div>
  <footer class="row">
    <div class="twelve columns">
      <p class="info-panel">Az alábbi receptjegyzéket Ehran nicknevű törzsolvasónk szerkeszti és frissíti folyamatosan.<br>Megtalálhatók benne &bdquo;szakácskönyvszerű&rdquo; rendszerezésben az összes receptek és a karizmatikus ételek egyaránt.</p>
    </div>
  </footer>
<% end %>

<% if !params[:tag].blank? || !params[:search].blank? || !params[:kitchen].blank? %>
  <div class="row">
    <div class="eight columns centered">
      <div class="row database-gallery">
        <% if !@recipes.empty? %>
          <% @recipes.each do |recipe| %>
            <%= render :partial => 'recipes/recipe_card', :locals => { :recipe => recipe } %>
          <% end %>
        <% else %>
          <div class="twelve columns centered">
            <%= render :partial => 'shared/not_found', :locals => { :text => t('recipes.messages.notices.not_found') } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns text-centered">
      <div class="pagination-container">
        <%= page_navigation_links(@recipes) %>
      </div>
    </div>
  </div>
<% end %>
