<% content_for :title do %>
  <%= @recipe.title %> &ndash; <%= t('recipes.name') %> &ndash; <%= site_title %>
<% end  %>
<% content_for(:og_description) { @recipe.excerpt } %>
<% content_for(:og_type) { "article" } %>
<% if has_thumbnail_image?(@recipe) %>
  <% content_for(:og_image) { thumbnail_image_for @recipe } %>
<% end %>

<header class="breadcrumb">
  <div class="row">
    <h2 class="twelve columns">
      <%= link_to t('recipes.titles.index'), recipes_path %>
      <span class="subtitle">
        /
        <% @recipe.tag_list.map do |tag| %>
          <%= link_to tag, recipes_path(:tag => tag), :class => 'breadcrumb-tag' %>
        <% end %>
      </span>
    </h2>
  </div>
</header>

<div class="row">
  <div class="eight columns centered">
    <%= render :partial => 'recipes/recipe', :locals => { :recipe => @recipe } %>
  </div>
</div>
