<% if @comment.errors.any? %>
  $('[data-behavior~=flash-notices]').html('<%= j render :partial => 'news_comments/empty_notice' %>');
  $('html').addClass('loaded');
  $.fn.flash_notice();
<% else %>
  $('form[data-behavior~=comment-form]').before('<%= j render :partial => 'news_comments/comment', :locals => { :comment => @comment } %>');
  $('[data-comment-id~=<%= @comment.id %>]').effect("highlight", {color: '#feffe6'}, 500);
  $('html, body').animate({scrollTop: $('[data-comment-id~=<%= @comment.id %>]').offset().top-60}, 500);
  $('[data-behavior~=comments-counter]').html('<%= t('comment.titles.form_counter', :comments_count => @news.comments.count) %>');
  $('[data-behavior~=comment-body]').val('');
  $('html').addClass('loaded');
<% end %>
