<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= render :partial => 'shared/mailer_styles' %>
    <%= t('restaurant_reservations.mailers.restaurant_reservation_confirmed', :site_title => CONFIG_SITE_NAME, :restaurant_title => @restaurant_reservation.restaurant.title).html_safe %>
    <%= t('restaurant_reservations.mailers.restaurant_reservation_details').html_safe %>
    <table border="0" cellpadding="6">
      <tr>
        <td><strong><%= t('helpers.label.restaurant_reservation.book_datetime') %></strong></td>
        <td><%= @restaurant_reservation.book_at %> <%= @restaurant_reservation.book_time %></td>
      </tr>
      <tr>
        <td><strong><%= t('helpers.label.restaurant_reservation.number_of_persons') %></strong></td>
        <td><%= @restaurant_reservation.number_of_persons %></td>
      </tr>
      <tr>
        <td><strong><%= t('helpers.label.restaurant_reservation.name') %></strong></td>
        <td><%= @restaurant_reservation.name %></td>
      </tr>
      <tr>
        <td><strong><%= t('helpers.label.restaurant_reservation.email') %></strong></td>
        <td><%= @restaurant_reservation.email %></td>
      </tr>
      <tr>
        <td><strong><%= t('helpers.label.restaurant_reservation.phone') %></strong></td>
        <td><%= @restaurant_reservation.phone %></td>
      </tr>
      <tr>
        <td><strong><%= t('helpers.label.restaurant_reservation.feedback_type') %></strong></td>
        <td>
          <% if @restaurant_reservation.feedback_type == 'email' %>
            <%= t('helpers.label.restaurant_reservation.feedback_types.in_email') %>
          <% elsif @restaurant_reservation.feedback_type == 'phone' %>
            <%= t('helpers.label.restaurant_reservation.feedback_types.on_phone') %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td style="vertical-align:top;"><strong><%= t('helpers.label.restaurant_reservation.comment') %></strong></td>
        <td><%= @restaurant_reservation.comment %></td>
      </tr>
    </table>
    <%= t('restaurant_reservations.mailers.restaurant_reservation_confirmed_bottom', :site_title => CONFIG_SITE_NAME).html_safe %>
    <%= t('user.mailers.signature', :site_name => CONFIG_SITE_NAME).html_safe %>
  </body>
</html>
