<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= render :partial => 'shared/mailer_styles' %>
    <%= t('restaurant_reservations.mailers.restaurant_reservation_booking', :site_title => CONFIG_SITE_NAME, :root_url => root_url, :restaurant_title => @restaurant_reservation.restaurant.title).html_safe %>
    <% if @restaurant_reservation.feedback_type == 'email' %>
      <%= t('restaurant_reservations.mailers.restaurant_reservation_booking_email_confirmation', :site_title => CONFIG_SITE_NAME, :url => confirm_restaurant_reservation_url(@restaurant_reservation.token)).html_safe %>
    <% elsif @restaurant_reservation.feedback_type == 'phone' %>
      <%= t('restaurant_reservations.mailers.restaurant_reservation_booking_phone_confirmation', :site_title => CONFIG_SITE_NAME, :phone => @restaurant_reservation.phone).html_safe %>
    <% end %>
    <%= t('restaurant_reservations.mailers.restaurant_reservation_details').html_safe %>
    <table border="0" cellpadding="9" style="background-color: #fff; border: 1px solid #ddd;">
      <tr>
        <td><strong><%= t('helpers.label.restaurant_reservation.book_datetime') %></strong></td>
        <td><%= @restaurant_reservation.book_at %> <%= @restaurant_reservation.book_time %></td>
      </tr>
      <tr>
        <td><strong><%= t('helpers.label.restaurant_reservation.number_of_persons') %></strong></td>
        <td><%= @restaurant_reservation.number_of_persons %></td>
      </tr>
      <tr>
        <td><strong><%= t('helpers.label.restaurant_reservation.name') %></strong></td>
        <td><%= @restaurant_reservation.name %></td>
      </tr>
      <tr>
        <td><strong><%= t('helpers.label.restaurant_reservation.email') %></strong></td>
        <td><%= @restaurant_reservation.email %></td>
      </tr>
      <tr>
        <td><strong><%= t('helpers.label.restaurant_reservation.phone') %></strong></td>
        <td>
          <% if @restaurant_reservation.feedback_type == 'email' %>
            <%= @restaurant_reservation.phone %>
          <% elsif @restaurant_reservation.feedback_type == 'phone' %>
            <mark style="background-color: yellow; font-weight: bold;"><%= @restaurant_reservation.phone %></mark>
          <% end %>
        </td>
      </tr>
      <tr>
        <td style="vertical-align:top;"><strong><%= t('helpers.label.restaurant_reservation.comment') %></strong></td>
        <td><%= @restaurant_reservation.comment %></td>
      </tr>
    </table>
    <%= t('restaurant_reservations.mailers.restaurant_reservation_booking_confirmation', :site_title => CONFIG_SITE_NAME).html_safe %>
    <%= t('user.mailers.signature', :site_name => CONFIG_SITE_NAME).html_safe %>
</html>
