<div class="twelve columns">
  <%= form_for([:admin, @order], :html => { :class => 'admin-form order-form' }) do |f| %>
    <script>
      $(function() {
        function addCurrencySeparators(nStr) {
          nStr += '';
          x = nStr.split('.');
          x1 = x[0];
          x2 = x.length > 1 ? '.' + x[1] : '';
          var rgx = /(\d+)(\d{3})/;
          while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ' ' + '$2');
          }
          return x1 + x2;
        }

        var order_price = <%= @order.product.price %>;
        var order_delivery_price = <%= @order.product.delivery_price %>;
        var order_free_delivery_from_quantity = <%= @order.product.free_delivery_from_quantity %>;

        $('[data-behavior~=order-product-count-field]').on('keyup change', function() {
          var order_product_count = $(this).val();
          if (order_product_count == '' || order_product_count == 0) {
            $('[data-behavior~=order-total-calculator]').html('0');
          } else if (order_product_count > order_free_delivery_from_quantity) {
            $('[data-behavior~=order-total-calculator]').html(addCurrencySeparators(order_price * order_product_count) + ' Ft');
          } else {
            $('[data-behavior~=order-total-calculator]').html(addCurrencySeparators((order_price * order_product_count) + order_delivery_price) + ' Ft');
          }
        });

      });
    </script>
    <div class="row">
      <div class="six columns centered">
        <div class="row">
          <div class="four columns">
            <%= f.label :status, :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <%= f.select :status, options_for_select(Order.options_for_status, :selected => @order.status), {},  { :class => 'inline-field' } %>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= f.label :product_name, :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <% if @order.product.available? %>
              <span class="data-label"><%= link_to @order.product.name, policy(@order.product).edit? ? edit_admin_product_path(@order.product) : admin_orders_path(:search => @order.product.name) %></span>
            <% else %>
              <span class="data-label"><%= @order.product.name %> (<%= t('admin.products.messages.not_available') %>)</span>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= f.label :payment_token, :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <span class="data-label"><%= @order.payment_token %></span>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= f.label :total, :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <span class="data-label" data-behavior="order-total-calculator"><%= number_to_currency(@order.total) %></span>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= f.label :product_count, :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <%= f.number_field :product_count, :min => '1', 'data-behavior' => 'order-product-count-field' %>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= f.label :email, :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <%= f.text_field :email %>
          </div>
        </div>
        <div class="row">
          <div class="four columns"><%= f.label :payment_method, :class => 'inline right' %></div>
          <div class="eight columns">
            <div class="radio-button">
              <%= f.radio_button :payment_method, 'delivery', :id => "payment_methods_delivery" %><%= label_tag "payment_methods_delivery", t('helpers.label.order.payment_methods.delivery') %>
            </div>
            <div class="radio-button">
              <%= f.radio_button :payment_method, 'transfer', :id => "payment_methods_transfer" %><%= label_tag "payment_methods_transfer", t('helpers.label.order.payment_methods.transfer') %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= f.label :post_identifier, :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <%= f.text_field :post_identifier %>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= f.label :comment, :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <%= f.text_area :comment, :rows => 4 %>
          </div>
        </div>
        <div class="row">
          <div class="eight columns end offset-by-four">
            <div class="checkbox">
              <%= f.check_box :paid %> <%= f.label :paid %>
            </div>
          </div>
        </div>
        <div class="row">
          <h3 class="twelve columns"><%= t('orders.titles.order_address') %></h3>
        </div>
        <div class="row">
          <div class="four columns">
            <%= f.label :full_name, :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <%= f.text_field :full_name %>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= f.label :phone, :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <%= f.text_field :phone %>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= f.label :postcode, :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <%= f.text_field :postcode %>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= f.label :city, :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <%= f.text_field :city %>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= f.label :address, :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <%= f.text_field :address %>
          </div>
        </div>
        <div class="row">
          <h3 class="twelve columns"><%= t('orders.titles.billing_address') %></h3>
        </div>
        <div class="row">
          <div class="four columns">
            <%= f.label :billing_name, :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <%= f.text_field :billing_name %>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= f.label :billing_phone, :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <%= f.text_field :billing_phone %>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= f.label :billing_postcode, :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <%= f.text_field :billing_postcode %>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= f.label :billing_city, :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <%= f.text_field :billing_city %>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= f.label :billing_address, :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <%= f.text_field :billing_address %>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= f.label :vat_number, :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <%= f.text_field :vat_number %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="six columns centered">
        <div class="form-actions">
          <%= f.submit t('admin.orders.actions.update'), 'data-behavior' => 'save-button' %>
          <% if policy(@order).destroy? %>
            <%= t('shared.messages.or') %>
            <%= link_to t('shared.actions.destroy'), [:admin, @order], method: :delete, data: { confirm: t('admin.orders.messages.confirmations.destroy') } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
