<% cache ['v72', order] do %>
  <tr data-order-id="<%= order.id %>" class="<%= css_class_for_order_status order %>">
    <td class="title">
      <%= link_to order.full_name, edit_admin_order_path(order), :class => 'username' %>
    </td>
    <td>
      <%= form_for([:admin, order], :html => { :class => 'admin-form order-form', 'data-behavior' => 'table-form', :remote => true }) do |f| %>
        <span class="order-status-select-container">
          <%= f.select :status, options_for_select(Order.options_for_status, :selected => order.status), {},  { :class => 'inline-field' } %>
        </span>
        <span class="checkbox order-paid-checkbox-container">
          <span class="checkbox-icon order-paid">
            <%= f.check_box :paid, :id => "order_#{order.id}_paid", 'data-behavior' => 'order-paid-checkbox', :title => t('activerecord.attributes.order.paid') %> <%= f.label :paid, :for => "order_#{order.id}_paid" %>
          </span>
        </span>
      <% end %>
    </td>
    <td class="text-centered">
      <%= format_count order.product_count %> / <%= number_to_currency(order.total) %>
      <%= content_tag(:span, '', :class => 'order-icon post-identifier', :title => t('activerecord.attributes.order.post_identifier')) unless order.post_identifier.blank? %>
      <%= content_tag(:span, '', :class => 'order-icon comment', :title => t('activerecord.attributes.order.comment')) unless order.comment.blank? %>
    </td>
    <td class="text-centered"><%= link_to order.product.name, admin_orders_path(:search => order.product.name) %></td>
    <td class="text-centered"><%= order.payment_method_label %></td>
    <td class="text-centered"><time><%= l order.created_at, :format => :short %></time></td>
    <td class="text-centered"><%= order.payment_token %></td>
  </tr>
<% end %>
