<% content_for :title do %>
  <%= t('admin.orders.titles.edit') %> &ndash; <%= t('admin.name') %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <div class="three columns">
    <div class="action-group">
      <ul class="horizontal">
        <li><%= link_to t('admin.orders.actions.back').html_safe, admin_orders_path() %></li>
      </ul>
    </div>
  </div>
  <h2 class="six columns end"><%= t('admin.orders.titles.edit') %></h2>

  <%= render 'form' %>
</div>
