<?xml version="1.0"?>
<ss:Workbook xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet">
  <ss:Styles>
    <ss:Style ss:ID="1">
      <ss:Font ss:Bold="1"/>
    </ss:Style>
  </ss:Styles>
  <ss:Worksheet ss:Name="<%= site_title %> Rendelések Export <%= Time.now.strftime('%Y-%m-%d-%H-%M') %>">
    <ss:Table>
      <ss:Column ss:Width="110"/>
      <ss:Column ss:Width="110"/>
      <ss:Column ss:Width="110"/>
      <ss:Column ss:Width="110"/>
      <ss:Column ss:Width="110"/>
      <ss:Column ss:Width="110"/>
      <ss:Column ss:Width="110"/>
      <ss:Column ss:Width="110"/>
      <ss:Column ss:Width="110"/>
      <ss:Column ss:Width="110"/>
      <ss:Column ss:Width="110"/>
      <ss:Column ss:Width="110"/>
      <ss:Column ss:Width="110"/>
      <ss:Column ss:Width="110"/>
      <ss:Column ss:Width="110"/>
      <ss:Column ss:Width="110"/>
      <ss:Column ss:Width="110"/>
      <ss:Column ss:Width="110"/>
      <ss:Column ss:Width="110"/>
      <ss:Column ss:Width="110"/>
      <ss:Column ss:Width="110"/>
      <ss:Column ss:Width="110"/>
    <ss:Row ss:StyleID="1">
      <ss:Cell><ss:Data ss:Type="String"><%= t('activerecord.attributes.order.payment_token') %></ss:Data></ss:Cell>
      <ss:Cell><ss:Data ss:Type="String"><%= t('activerecord.attributes.order.email') %></ss:Data></ss:Cell>
      <ss:Cell><ss:Data ss:Type="String"><%= t('activerecord.attributes.order.product_name') %></ss:Data></ss:Cell>
      <ss:Cell><ss:Data ss:Type="String"><%= t('activerecord.attributes.order.product_count') %></ss:Data></ss:Cell>
      <ss:Cell><ss:Data ss:Type="String"><%= t('activerecord.attributes.order.total') %></ss:Data></ss:Cell>
      <ss:Cell><ss:Data ss:Type="String"><%= t('activerecord.attributes.order.payment_method') %></ss:Data></ss:Cell>
      <ss:Cell><ss:Data ss:Type="String"><%= t('activerecord.attributes.order.status') %></ss:Data></ss:Cell>
      <ss:Cell><ss:Data ss:Type="String"><%= t('activerecord.attributes.order.post_identifier') %></ss:Data></ss:Cell>
      <ss:Cell><ss:Data ss:Type="String"><%= t('activerecord.attributes.order.comment') %></ss:Data></ss:Cell>
      <ss:Cell><ss:Data ss:Type="String"><%= t('activerecord.attributes.order.paid') %></ss:Data></ss:Cell>
      <ss:Cell><ss:Data ss:Type="String"><%= t('activerecord.attributes.order.created_at') %></ss:Data></ss:Cell>
      <ss:Cell><ss:Data ss:Type="String"><%= t('activerecord.attributes.order.full_name') %></ss:Data></ss:Cell>
      <ss:Cell><ss:Data ss:Type="String"><%= t('activerecord.attributes.order.phone') %></ss:Data></ss:Cell>
      <ss:Cell><ss:Data ss:Type="String"><%= t('activerecord.attributes.order.postcode') %></ss:Data></ss:Cell>
      <ss:Cell><ss:Data ss:Type="String"><%= t('activerecord.attributes.order.city') %></ss:Data></ss:Cell>
      <ss:Cell><ss:Data ss:Type="String"><%= t('activerecord.attributes.order.address') %></ss:Data></ss:Cell>
      <ss:Cell><ss:Data ss:Type="String">Számlázási <%= t('activerecord.attributes.order.billing_name') %></ss:Data></ss:Cell>
      <ss:Cell><ss:Data ss:Type="String">Számlázási <%= t('activerecord.attributes.order.billing_phone') %></ss:Data></ss:Cell>
      <ss:Cell><ss:Data ss:Type="String">Számlázási <%= t('activerecord.attributes.order.billing_postcode') %></ss:Data></ss:Cell>
      <ss:Cell><ss:Data ss:Type="String">Számlázási <%= t('activerecord.attributes.order.billing_city') %></ss:Data></ss:Cell>
      <ss:Cell><ss:Data ss:Type="String">Számlázási <%= t('activerecord.attributes.order.billing_address') %></ss:Data></ss:Cell>
      <ss:Cell><ss:Data ss:Type="String"><%= t('activerecord.attributes.order.vat_number') %></ss:Data></ss:Cell>
    </ss:Row>
    <% @orders_not_paginated.each do |order| %>
      <ss:Row>
        <ss:Cell><ss:Data ss:Type="String"><%= order.payment_token %></ss:Data></ss:Cell>
        <ss:Cell><ss:Data ss:Type="String"><%= order.email %></ss:Data></ss:Cell>
        <ss:Cell><ss:Data ss:Type="String"><%= order.product.name %></ss:Data></ss:Cell>
        <ss:Cell><ss:Data ss:Type="Number"><%= check_empty_entry_data order.product_count %></ss:Data></ss:Cell>
        <ss:Cell><ss:Data ss:Type="Number"><%= order.total %></ss:Data></ss:Cell>
        <ss:Cell><ss:Data ss:Type="String"><%= order.payment_method_label %></ss:Data></ss:Cell>
        <ss:Cell><ss:Data ss:Type="String"><%= order.status %></ss:Data></ss:Cell>
        <ss:Cell><ss:Data ss:Type="String"><%= check_empty_entry_data order.post_identifier %></ss:Data></ss:Cell>
        <ss:Cell><ss:Data ss:Type="String"><%= check_empty_entry_data order.comment %></ss:Data></ss:Cell>
        <ss:Cell><ss:Data ss:Type="String"><%= order.paid ? "Fizetve" : "" %></ss:Data></ss:Cell>
        <ss:Cell><ss:Data ss:Type="String"><%= l order.created_at, :format => :short %></ss:Data></ss:Cell>
        <ss:Cell><ss:Data ss:Type="String"><%= check_empty_entry_data order.full_name %></ss:Data></ss:Cell>
        <ss:Cell><ss:Data ss:Type="String"><%= check_empty_entry_data order.phone %></ss:Data></ss:Cell>
        <ss:Cell><ss:Data ss:Type="String"><%= check_empty_entry_data order.postcode %></ss:Data></ss:Cell>
        <ss:Cell><ss:Data ss:Type="String"><%= check_empty_entry_data order.city %></ss:Data></ss:Cell>
        <ss:Cell><ss:Data ss:Type="String"><%= check_empty_entry_data order.address %></ss:Data></ss:Cell>
        <ss:Cell><ss:Data ss:Type="String"><%= check_empty_entry_data order.billing_name %></ss:Data></ss:Cell>
        <ss:Cell><ss:Data ss:Type="String"><%= check_empty_entry_data order.billing_phone %></ss:Data></ss:Cell>
        <ss:Cell><ss:Data ss:Type="String"><%= check_empty_entry_data order.billing_postcode %></ss:Data></ss:Cell>
        <ss:Cell><ss:Data ss:Type="String"><%= check_empty_entry_data order.billing_city %></ss:Data></ss:Cell>
        <ss:Cell><ss:Data ss:Type="String"><%= check_empty_entry_data order.billing_address %></ss:Data></ss:Cell>
        <ss:Cell><ss:Data ss:Type="String"><%= check_empty_entry_data order.vat_number %></ss:Data></ss:Cell>
      </ss:Row>
    <% end %>
    </ss:Table>
  </ss:Worksheet>
</ss:Workbook>
