<% content_for :title do %>
  <%= t('admin.orders.name') %> &ndash; <%= t('admin.name') %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <div class="twelve columns">
    <div class="row">
      <h2 class="four columns"><%= t('admin.orders.name') %> <%= content_tag :span, "(#{all_orders_count(@orders)})", :class => 'subtitle' %></h2>
      <div class="two columns">
        <div class="action-group">
          <ul class="horizontal right">
            <li><%= link_to t('admin.orders.actions.export'), admin_orders_path('xls', params) %></li>
          </ul>
        </div>
      </div>
      <div class="six columns">
        <div class="action-group">
          <%= form_tag admin_orders_path, :method => :get, :class => 'search-form row collapse', 'data-behavior' => 'table-filter' do %>
            <div class="three columns">
              <%= select_tag :payment_method, "<option value=\"\">#{t('activerecord.attributes.order.payment_method')}</option>".html_safe + options_for_select(Order.options_for_payment_method, params[:payment_method]), :class => 'select-field' %>
            </div>
            <div class="three columns">
              <%= select_tag :status, "<option value=\"\">#{t('activerecord.attributes.order.status')}</option>".html_safe + options_for_select(Order.options_for_status, params[:status]), :class => 'select-field' %>
            </div>
            <div class="six columns">
              <%= text_field_tag :search, params[:search], :placeholder => t('shared.placeholders.filter_table'), :class => 'search-keyword' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="twelve columns">
    <div class="orders-table-container">
      <table cellspacing="2" class="orders-table">
        <thead>
          <tr>
            <th class="two title"><%= t('activerecord.attributes.order.full_name') %></th>
            <th class="two"><%= t('shared.actions.name') %></th>
            <th class="text-centered two"><%= t('activerecord.attributes.order.product_count_short') %> / <%= t('activerecord.attributes.order.total_short') %></th>
            <th class="text-centered three"><%= t('activerecord.attributes.order.product_name') %></th>
            <th class="text-centered two"><%= t('activerecord.attributes.order.payment_method') %></th>
            <th class="text-centered one"><%= t('activerecord.attributes.order.created_at') %></th>
            <th class="text-centered one"><%= t('activerecord.attributes.order.payment_token_short') %></th>
          </tr>
        </thead>

        <tbody>
          <% if !@orders.empty? %>
            <% @orders.each do |order| %>
              <%= render order %>
            <% end %>
          <% else %>
            <tr>
              <td colspan="7">
                <div class="row empty-notice">
                  <div class="six columns centered">
                    <div class="flash-notice notice text-centered"><%= t('admin.orders.messages.notices.empty_orders') %></div>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="twelve columns text-centered">
      <div class="pagination-container">
        <%= page_navigation_links(@orders) %>
      </div>
    </div>
  </div>
</div>
