$('[data-order-id~=<%= @order.id %>]').attr('class', '<%= css_class_for_order_status @order %>');
$('[data-behavior~=new-orders-count]').html('<%= new_orders_count %>');
$('html').addClass('loaded');
