<% content_for :title do  %>
  <%= t('user.titles.edit_password') %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <h2 class="twelve columns"><%= t('user.titles.edit_password') %></h2>
  <div class="twelve columns">
    <div class="row">
      <div class="twelve columns">
        <p class="info-panel"><%= t('user.messages.info_panels.edit_password', :site_title => site_title).html_safe %></p>
      </div>
    </div>
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class => 'user-form', :method => :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <div class="row">
        <div class="four columns"><%= f.label :password, t('user.attributes.new_password'), :class => 'inline right' %></div>
        <div class="four columns end guided password <%= field_has_error?(@user, :password) %>">
          <%= f.password_field :password, :class => field_has_error?(@user, :password), :placeholder => t('user.placeholders.password_sign_up') %>
          <%= field_errors @user, :password %>
        </div>
      </div>

      <div class="row">
        <div class="four columns"><%= f.label :password_confirmation, t('user.attributes.new_password_confirmation'), :class => 'inline right' %></div>
        <div class="four columns end guided password <%= field_has_error?(@user, :password_confirmation) %>">
          <%= f.password_field :password_confirmation, :class => field_has_error?(@user, :password_confirmation) %>
          <%= field_errors @user, :password_confirmation %>
        </div>
      </div>

      <div class="row">
        <div class="four columns offset-by-four"><%= f.submit t('user.actions.update_password'), :class => 'button radius' %></div>
      </div>
    <% end %>

    <div class="row">
      <div class="four columns offset-by-four end">
        <%= render "devise/shared/links" %>
      </div>
    </div>
</div>
</div>
