<span class="favourite" data-record-id-for-favourite="<%= record_id %>" data-record-kind-for-favourite="<%= kind %>">
  <% if faved_by(current_user, record_id) %>
    <% favourite = get_fav_for current_user, record_id %>
    <%= form_for favourite, :html => { :class => 'favourite-form', :remote => true } do |f| %>
      <span class="favourite-ego-booster"></span>
      <%= f.submit t('favourites.messages.notices.added_to_favs'), :class => 'button remove-from-favs', :title => t('favourites.actions.remove_from_favs') %>
    <% end %>
  <% else %>
    <% favourite = Favourite.new %>
    <%= form_for favourite, :html => { :class => 'favourite-form', :remote => true } do |f| %>
      <%= f.hidden_field :kind, :value => kind %>
      <%= f.hidden_field :record_id, :value => record_id %>
      <%= f.submit t('favourites.actions.add_to_favs'), :class => 'button add-to-favs', :title => t('favourites.actions.add_to_favs') %>
    <% end %>
  <% end %>
</span>
