$('[data-record-id-for-favourite~=<%= @favourite.record_id %>]').replaceWith('<%= j render :partial => 'favourites/favourite', :locals => { :kind => @favourite.kind, :record_id => @favourite.record_id } %>')
$('.remove-from-favs').addClass('faved-at-the-moment').attr("disabled", "disabled");;
var fav_button_position = $('.remove-from-favs').position();
$('.favourite-ego-booster').css('left', fav_button_position.left + 8 + 'px');
$('.favourite-ego-booster').addClass('favourite-added');
var fav_button_text = setTimeout(function() {
  $('.remove-from-favs').removeClass('faved-at-the-moment').removeAttr("disabled");
}, 1700);

$('html').addClass('loaded');
