$('[data-record-id-for-favourite~=<%= @favourite.record_id %>]').replaceWith('<%= j render :partial => 'favourites/favourite', :locals => { :kind => @favourite.kind, :record_id => @favourite.record_id } %>')
$('html').addClass('loaded');
