<div class="best-of-map-title" data-behavior="best-of-modal">
  <div class="row">
    <div class="twelve columns">
      <a href="#" class="close-best-of-modal" data-behavior="close-best-of-modal" title="Bezárás">Bezárás</a>
      <h2><%= link_to site_title, root_url, :target => '_blank', :class => 'best-of-map-logo' %><%= title %></h2>
      <p class="info-panel">
        <%= t('restaurants.messages.info_panels.order_full_guides') %>
      </p>
    </div>
  </div>
</div>
