<%= auto_discovery_link_tag :rss, home_feed_url, :title => site_title %>
<%= auto_discovery_link_tag :rss, amuva_feed_url, :title => t('amuva.name') %>
<%= auto_discovery_link_tag :rss, amuva_comments_feed_url, :title => "#{t('amuva.name')} &ndash; t('comment.name')" %>
<%= auto_discovery_link_tag :rss, bsz_feed_url, :title => t('bsz.name') %>
<%= auto_discovery_link_tag :rss, bsz_comments_feed_url, :title => "#{t('bsz.name')} &ndash; t('comment.name')" %>
<%= auto_discovery_link_tag :rss, mh_feed_url, :title => t('mh.name') %>
<%= auto_discovery_link_tag :rss, mh_comments_feed_url, :title => "#{t('mh.name')} &ndash; t('comment.name')" %>
