<footer class="bottom">
  <div class="row">
    <div class="twelve columns">
      <p><%= t('shared.messages.copyright').html_safe %></p>
      <p>
        <%= link_to get_page_title('adatvedelmi-es-moderacios-alapelvek'), page_path('adatvedelmi-es-moderacios-alapelvek') %> &ndash;
        <%= link_to get_page_title('rolunk'), page_path('rolunk') %> &ndash;
        <%= link_to t('feedbacks.titles.footer'), feedbacks_path %> &ndash;
        <%= link_to get_page_title('rss-feliratkozas'), page_path('rss-feliratkozas') %>
      </p>
      <p>&copy; <%= Date.today.strftime('%Y') %></p>
    </div>
  </div>
</footer>
