<style type="text/css">
  body {
    background-color: #F7F7F7;
    border-top: 5px solid #FFD931;
    color: #666;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 32px;
  }

  a {
    color: #BF2932;
    text-decoration: underline;
  }

  p, ul {
    line-height: 1.65em;
  }

  ul {
    margin-left: 0;
    padding-left: 0;
    list-style: square inside;
  }

  table {
    font-size: 14px;
  }

  mark {
    background-color: yellow;
  }
</style>

<img src="<%= root_url %>/assets/logo-email.png" style="margin-top: 24px; margin-bottom: 24px" />
