<% if level == :email || level == :success_modal || level == :error_modal %>
  <div id="flash-<%= level %>" class="flash-notice <%= flash_class(level) %>" data-behavior="flash-notice"><div class="flash-modal"><p><%= msg %></p><p><a href="#" data-behavior="flash-notice-close" class="flash-close button"><%= t('shared.actions.got_it') %></a></p></div></div>
<% else %>
  <div id="flash-<%= level %>" class="flash-notice <%= flash_class(level) %>" data-behavior="flash-notice"><a href="#" data-behavior="flash-notice-close" class="flash-close">&times;</a><%= msg %></div>
<% end %>
