<header class="notices">
  <div class="row">
    <div class="twelve columns" data-no-turbolink data-behavior="flash-notices">
      <% flash.each do |level, msg| %>
        <% if msg.is_a?(String) %>
          <%= render :partial => 'shared/notice_messages', :locals => { :level => level, :msg => msg } %>
        <% end %>
      <% end %>
      <% if params[:test_flash] %>
        <% if params[:flash_type] == "email" || params[:flash_type] == "success_modal" %>
          <div id="flash-notice" class="flash-notice <%= params[:flash_type].blank? ? 'notice' : params[:flash_type] %>" data-behavior="flash-notice"><div class="flash-modal"><p>Ön a <%= link_to 'Gault&Millau', root_path %> tesztüzenetét látja. Kérjük zárja be ezt az üzenetet és böngéssze tovább az oldalt.</p><p><a href="#" data-behavior="flash-notice-close" class="flash-close button">Rendben</a></p></div></div>
        <% else %>
          <div id="flash-notice" class="flash-notice <%= params[:flash_type].blank? ? 'notice' : params[:flash_type] %>" data-behavior="flash-notice"><a href="#" data-behavior="flash-notice-close" class="flash-close">&times;</a>Ön a <%= link_to 'Gault&Millau', root_path %> tesztüzenetét látja. Amennyiben nem érti mi ez, kérjük zárja be ezt az üzenetet és böngéssze tovább az oldalt.</div>
        <% end %>
      <% end %>
    </div>
  </div>
</header>
