<div class="twelve columns user-actions">
  <% if user_signed_in? %>
    <div class="current-user" data-behavior="sidebar-username">
      <%= current_user.username %>
      <%= link_to t('user.sign_out'), destroy_user_session_path, method: :delete, :class => 'sign-out', :title => t('user.sign_out') %>
    </div>
    <ul class="plain user-menu">
      <li>
        <%= link_to t('user.titles.edit_user_registration'), edit_user_registration_path %>
      </li>
      <% if current_user.role_admin || current_user.role_senior_editor || current_user.role_editor || current_user.role_accountant %>
        <li>
          <%= link_to t('admin.name'), admin_index_path, :class => 'admin' %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <ul class="plain user-menu" data-no-turbolink>
      <li>
        <%= link_to t('user.sign_up'), new_user_registration_path, :class => 'registration' %>
      </li>
      <li>
        <%= link_to t('user.sign_in'), new_user_session_path, :class => 'login' %>
      </li>
    </ul>
  <% end %>
</div>
<div class="twelve columns search">
  <%= form_tag search_path, :method => :get, :class => 'search-form' do %>
    <%= text_field_tag :q, params[:q], :placeholder => t('shared.placeholders.search'), :class => 'search-keyword' %>
  <% end %>
</div>
