<% if home_block.title == 'restaurant_reservation_block' %>
  <header class="post-header">
    <h1><%= t('restaurant_reservations.name') %></h1>
  </header>
  <script>
    $(function() {
      $('[data-behavior~=restaurant-selector]').chosen({
        no_results_text: "<%= t('restaurant_reservations.messages.placeholders.restaurant_not_found') %>",
        placeholder_text_single: '<%= t('restaurant_reservations.messages.placeholders.choose_restaurant') %>',
        width: '100%'
      });
    });
  </script>
  <%= form_tag(new_restaurant_reservation_path, method: :get, :class => 'restaurant-reservation-form') do %>
    <div class="row">
      <div class="twelve columns">
        <p><%= t('restaurant_reservations.messages.info_panels.home_page', :site_title => site_title) %></p>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns restaurant-select-field">
        <%= select_tag 'book_to', ("<option></option>" + options_for_select(restaurants_for_reservation_select)).html_safe, 'data-behavior' => 'restaurant-selector' %>
      </div>
      <div class="twelve columns">
        <%= submit_tag t('restaurant_reservations.actions.new'), :class => 'button' %>
      </div>
    </div>
  <% end %>
<% end %>
