<article class="six columns end post post-tile">
  <div class="post-tile-inner <%= home_block_category featured_block %>">
    <% if featured_block.kind != 'custom' %>
      <% if featured_block.post.category == 'hirdetesek' %>
        <h3>Hirdetés &ndash; <span class="subtitle"><%= featured_block.post.title %></span></h3>
        <% featured_block.post.blocks.each do |block| %>
          <%= render :partial => 'blocks/block', :locals => { :post => @post, :block => block } %>
        <% end %>
      <% elsif featured_block.post.category == 'beagyazott' %>
        <% featured_block.post.blocks.each do |block| %>
          <%= render :partial => 'blocks/block', :locals => { :post => @post, :block => block } %>
        <% end %>
      <% else %>
        <header class="post-header">
          <p class="main-tag-container">
          <% if featured_block.style_type.blank? || featured_block.style_type == 'Alapértelmezett'  %>
            <%= link_to get_category_for(featured_block.post), get_category_path_for(featured_block.post), :class => "main-tag #{featured_block.post.category}" %>
          <% else %>
            <%= link_to featured_block.style_type, get_category_path_for(featured_block.post), :class => "main-tag" %>
          <% end %>
          </p>
          <h1><%= link_to featured_block.title.blank? ? featured_block.post.title : featured_block.title, get_post_path_for(featured_block.post) %></h1>
          <p class="post-meta">
            <time class="post-date"><%= l featured_block.post.published_at, :format => :long %></time>
            <% if featured_block.post.category == 'a-muvelt-alkoholista' || featured_block.post.category == 'buvos-szakacs' || featured_block.post.category == 'hirek' || featured_block.post.category == 'mese-habbal' %>
              <% if !featured_block.post.not_commentable? %>
                <a href="<%= get_post_path_for featured_block.post %>#comments" class="post-meta-icon comments-count"><%= t('comment.titles.counter', :comments_count => number_for_comments(featured_block.post.comments.count)).html_safe %></a>
              <% end %>
            <% end %>
          </p>
        </header>
        <% if featured_block.has_featured_image || featured_block.post.category == 'receptek' %>
          <div class="featured-image" style="background-image: url('<%= thumbnail_image_for(featured_block.post, :medium) unless !has_thumbnail_image?(featured_block.post) %>'); background-color: <%= thumbnail_image_average_color_for(featured_block.post) unless !has_thumbnail_image?(featured_block.post) %>;"></div>
        <% else %>
          <p class="excerpt">
            <%= clear_excerpt_field(featured_block.post.excerpt) %><%= link_to "<span class=\"continue-to-post\">#{t('shared.actions.read_more')}</span>".html_safe, get_post_path_for(featured_block.post), :class => 'read-more' %>
          </p>
        <% end %>
      <% end %>
    <% else %>
      <%= render :partial => 'home/custom_block', :locals => { :home_block => featured_block } %>
    <% end %>
  </div>
</article>
