<section class="main-post" style="background-image: url('<%= @main_post_home_block.image_url %>')">
  <div class="row">
    <div class="eight columns <%= "offset-by-four" if @main_post_home_block.image_align == "right" %> main-post-excerpt">
      <article class="inner post">
        <header class="post-header">
          <h1 class="<%= "text-right" if @main_post_home_block.image_align == "right" %>"><%= link_to @main_post_home_block.title.blank? ? @main_post.title : @main_post_home_block.title, get_post_path_for(@main_post) %></h1>
          <p class="post-meta <%= "text-right" if @main_post_home_block.image_align == "right" %>">
            <time class="post-date"><%= l @main_post.published_at, :format => :long %></time>
            <% if !@main_post.not_commentable? %>
              <a href="<%= get_post_path_for @main_post_home_block.post %>#comments" class="post-meta-icon comments-count"><%= t('comment.titles.counter', :comments_count => number_for_comments(@main_post_home_block.post.comments.count)).html_safe %></a>
            <% end %>
          </p>
        </header>
      </article>
    </div>
  </div>
</section>

<section class="featured-posts">
  <div class="row home-tiles" data-behavior="post-tiles">
    <% @featured_blocks.each do |featured_block| %>
      <%= render :partial => 'home/featured_block', :locals => { :featured_block => featured_block } %>
    <% end %>
  </div>
</section>