<% if user_signed_in? %>
  $('[data-behavior~=unread-comments-count]').html('<%= current_user.unread_comments %>');
  <% if current_user.unread_comments != 0 %>
    $('[data-behavior~=unread-comments-count]').removeClass('hidden');
  <% end %>
<% end %>
