<header class="blog-header">
  <div class="row">
    <h2 class="ten columns offset-by-two">
      <%= link_to t('news.name'), news_index_path, :class => 'blog-logo' %>
    </h2>
  </div>
</header>

<% render_embedded_page('gm-magazin-fejlec-hirdetes') %>
