<article class="post <%= "post-tile six columns end" if params[:action] == 'index' %>">
  <div class="post-tile-inner">
    <%= link_to t('shared.actions.short_url'), get_short_url_for_post(news), :class => 'short-url', :title => t('shared.actions.short_url') %>
    <% if user_signed_in? %>
      <% if current_user.role_admin || current_user.role_senior_editor || current_user.role_editor %>
        <%= link_to t('shared.actions.edit'), edit_admin_post_path(news), :class => 'edit-post', :title => t('shared.actions.edit') %>
      <% end %>
    <% end %>
    <header class="post-header">
      <h1><%= link_to news.title, get_post_path_for(news) %></h1>
      <p class="post-meta">
        <time class="post-date"><%= l news.published_at, :format => :long %></time> &ndash;
        <% unless news.user.nil? %>
          <span class="post-author"><%= news.user.username %></span>
        <% end %>
        <% if !news.tag_list.empty? %>
          <%= link_to 'Tags', '#', :class => 'post-meta-icon post-tags-popover-toggle', 'data-behavior' => 'post-tags-popover-toggle' %>
        <% end %>
        <% if !news.not_commentable? %>
          <a href="<%= "#{get_post_path_for news}#comments" %>" class="post-meta-icon comments-count"><%= t('comment.titles.counter', :comments_count => number_for_comments(news.comments.count)).html_safe %></a>
        <% end %>
      </p>
      <% if !news.tag_list.empty? %>
        <ul class="plain popover post-tags-popover" data-behavior="post-tags-popover">
          <% news.tag_list.map do |tag| %>
            <li><%= link_to tag, news_tag_path(tag) %></li>
          <% end %>
        </ul>
      <% end %>
    </header>
    <div class="post-body">
      <% if params[:action] == "show" %>
        <div class="share-actions">
          <div class="fb-like" data-href="<%= get_post_url_for news %>" data-send="false" data-layout="button_count" data-width="200" data-show-faces="false" data-action="recommend"></div>
        </div>
        <% news.blocks.each do |block| %>
          <%= render :partial => 'blocks/block', :locals => { :post => news, :block => block } %>
        <% end %>
      <% else %>
        <div class="row">
          <% if has_thumbnail_image?(news) %>
            <div class="twelve columns">
              <div class="featured-image" style="background-image: url('<%= thumbnail_image_for news %>'); background-color: <%= thumbnail_image_average_color_for(news) %>;">
              </div>
            </div>
          <% end %>
          <div class="<%= has_thumbnail_image?(news) ? 'twelve' : 'twelve' %> columns post-excerpt">
            <p>
              <%= clear_excerpt_field(news.excerpt) %><%= link_to "<span class=\"continue-to-post\">#{t('shared.actions.read_more')}</span>".html_safe, get_post_path_for(news), :class => 'read-more' %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</article>
