<% content_for :title do %>
  <%= t('news.name') %> &ndash; <%= site_title %>
<% end  %>

<%= render :partial => 'news/header' %>

<div class="row">
  <div class="twelve columns blog-body">
    <div class="row post-tiles" data-behavior="post-tiles">
      <% @news.each_with_index do |news, index| %>
        <%= render :partial => 'news/news', :locals => { :news => news, :index => index } %>
      <% end %>
    </div>
    <div class="row">
      <div class="twelve columns text-centered">
        <div class="pagination-container">
          <%= page_navigation_links(@news) %>
        </div>
      </div>
    </div>
  </div>
</div>
