<%= form_for @newsletter_subscription, :html => { :class => 'user-form newsletter-subscription-form' } do |f| %>
  <div class="row">
    <div class="four columns"><%= f.label :email, :class => 'inline right' %></div>
    <div class="eight columns end guided email <%= field_has_error?(@newsletter_subscription, :email) %>">
      <%= f.email_field :email, :class => field_has_error?(@newsletter_subscription, :email) %>
      <%= field_errors @newsletter_subscription, :email %>
    </div>
  </div>

  <div class="row">
    <div class="eight columns offset-by-four">
      <%= f.submit t('newsletter_subscriptions.actions.new'), :class => 'button radius' %>
    </div>
  </div>
<% end %>
