<div id="flash-email" class="flash-notice email modal" data-behavior="flash-notice">
  <div class="flash-modal clearfix">
    <p><%= t('newsletter_subscriptions.messages.confirmations.destroy', :site_title => site_title, :email => articalize(@newsletter_subscription.email)).html_safe %></p>
    <ul class="plain horizontal">
      <li><%= link_to t('newsletter_subscriptions.actions.destroy'), @newsletter_subscription, method: :delete, :class => 'button' %></li>
      <li><a href="#" data-behavior="flash-notice-close" class="flash-close button cancel-button"><%= t('shared.actions.cancel') %></a></li>
    </ul>
  </div>
</div>
