<% content_for :title do  %>
  <%= t('newsletter_subscriptions.titles.new') %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <h2 class="twelve columns"><%= t('newsletter_subscriptions.titles.new') %></h2>
  <div class="six columns">
    <div class="panel">
      <div class="row">
        <div class="twelve columns">
          <p class="info-panel"><%= t('newsletter_subscriptions.messages.info_panels.new').html_safe %></p>
        </div>
      </div>
      <%= render 'form' %>
    </div>
  </div>
  <div class="six columns">
    <p>Gasztronómiai hírlevél <strong>minden hónap első szerdáján a gasztronómiai közéletből.</strong> A tervezett indulás valamikor a nyár folyamán várható. A hírlevélben a Gault&Millau weblap fontosabb történéseit foglaljuk össze, illetve speciális tartalommal is megjelenünk majd.</p>
    <p><strong>A hírlevél szerkesztői:</strong> Bittera Dóra és Uj Péter</p>
  </div>
</div>
