<% content_for :title do  %>
  <%= t('newsletter_subscriptions.titles.show') %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <h2 class="twelve columns"><%= t('newsletter_subscriptions.titles.show') %></h2>
  <div class="twelve columns">
    <div class="row">
      <div class="twelve columns">
        <p class="info-panel"><%= t('newsletter_subscriptions.messages.info_panels.show') %></p>
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <%= label_tag '', t('helpers.label.newsletter_subscription.email'), :class => 'right inline' %>
      </div>
      <div class="eight columns">
        <span class="data-label"><%= @newsletter_subscription.email %></span>
      </div>
      <div class="eight columns offsetby-four">
        <%= link_to t('newsletter_subscriptions.actions.destroy'), @newsletter_subscription, :class => 'button', method: :delete, data: { confirm: t('newsletter_subscriptions.messages.confirmations.destroy') } %>
      </div>
    </div>
  </div>
</div>
