<%= form_for tag, :as => :tag, :url => admin_tag_path(tag), :method => :put, :remote => true, :html => { :class => 'admin-form tag-form' } do |f| %>
  <%= f.text_field :name, :class => 'tag-name-field', 'data-behavior' => "tag-name-field-#{tag.id}" %>
  <%= f.submit t('shared.actions.update'), :class => 'tag-icon submit' %>
<% end %>
