<div class="tag-container four columns end" data-tag-id="<%= tag.id %>">
  <%= link_to tag.name, edit_admin_tag_path(tag), :remote => true, :class => 'tag' %>
  <%= link_to t('admin.tags.actions.destroy'), admin_tag_path(tag), :remote => true, method: :delete, data: { confirm: "Biztos törli ezt a címkét?" }, :class => 'tag-icon delete', :title => t('admin.tags.actions.destroy') %>
</div>
