$('[data-tag-id~=<%= @tag.id %>]').html('<%= j render :partial => 'admin/tags/form', :locals => { :tag => @tag } %>');
$('[data-behavior~=tag-name-field-<%= @tag.id %>]').focus();
$('html').addClass('loaded');
