<% content_for :title do %>
  <%= t('admin.tags.name') %> &ndash; <%= t('admin.name') %> &ndash; <%= site_title %>
<% end  %>

<div class="row">
  <div class="twelve columns">
    <div class="row">
      <h2 class="eight columns"><%= t('admin.tags.name') %></h2>
      <div class="four columns">
        <div class="action-group">
          <%= form_tag admin_tags_path, :method => :get, :class => 'search-form', 'data-behavior' => 'table-filter' do %>
            <%= text_field_tag :search, params[:search], :placeholder => t('shared.placeholders.filter_table'), :class => 'search-keyword' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="twelve columns">
    <ul class="plain horizontal tags-index">
    <% @tags.keys.sort_by { |k| position_in_alphabet(k) }.each do |starting_letter| %>
      <li><%= link_to starting_letter, "#index-#{starting_letter}" %></li>
    <% end %>
    </ul>
    <div class="row tags-list">
      <% @tags.keys.sort_by { |k| position_in_alphabet(k) }.each do |starting_letter| %>
        <h2 class="twelve columns tags-list-title" id="index-<%= starting_letter %>"><span><%= starting_letter %></span></h2>
        <% @tags[starting_letter].each do |tag| %>
          <%= render :partial => 'admin/tags/tag', :locals => { :tag => tag } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
