<% if block.kind == 'title' %>
  <h2><%= block.content %></h2>
<% end %>
<% if block.kind == 'text' %>
  <%= markdown block.content.nil? || block.content.empty? ? '' : block.content %>
<% end %>
<% if block.kind == 'bordered-text' %>
  <div class="bordered-text">
    <%= markdown block.content.nil? || block.content.empty? ? '' : block.content %>
  </div>
<% end %>
<% if block.kind == 'big-text' %>
  <div class="big-text">
    <%= markdown block.content.nil? || block.content.empty? ? '' : block.content %>
  </div>
<% end %>
<% if block.kind == 'recipe' %>
  <%= render :partial => 'blocks/recipe_block', :locals => { :post => post, :recipe_block => block } %>
<% end %>
<% if block.kind == 'post' %>
  <%= render :partial => 'blocks/post_block', :locals => { :post => post, :post_block => block } %>
<% end %>
<% if block.kind == 'video' %>
  <div class="embedded-video">
    <iframe src="http://player.vimeo.com/video/<%= block.content %>?byline=0&color=F2B500" width="720" height="405" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
<% end %>
<% if block.kind == 'image' %>
  <% if !block.attachment_id.nil? %>
    <figure class="<%= block.css_class %>">
      <%= image_tag processed_attachment_url(block.attachment, :medium), :size => block.attachment.attachment.image_size(:medium), :style => "background-color: #{block.attachment.average_color}" %>
      <% if !block.content.empty? %>
        <figcaption><%= block.content %></figcaption>
      <% end %>
    </figure>
  <% end %>
<% end %>
