<div class="embedded-post clearfix">
  <% post = Post.find_by_id(post_block.content) %>
  <% if post %>
    <% post.blocks.each do |block| %>
      <%= render :partial => 'blocks/block', :locals => { :post => post, :block => block } %>
    <% end %>
  <% end %>
 </div>
