<% recipe = Post.find_by_id(recipe_block.content) %>
<% if recipe %>
  <div class="embedded-recipe clearfix" data-recipe-url="<%= recipe.url %>">
    <h2 class="embedded-title"><%= link_to recipe.title, get_post_path_for(recipe) %></h2>
    <% recipe.blocks.each do |block| %>
      <%= render :partial => 'blocks/block', :locals => { :post => recipe, :block => block } %>
    <% end %>
 </div>
<% end %>
