<%= form_for [@product, @order], :html => { :class => 'user-form order-form', 'data-behavior' => 'order-form' } do |f| %>
  <script>
    $(function() {
      function addCurrencySeparators(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
          x1 = x1.replace(rgx, '$1' + ' ' + '$2');
        }
        return x1 + x2;
      }
      var order_price = <%= @product.price %>;
      var order_delivery_price = <%= @product.delivery_price %>;
      var order_free_delivery_from_quantity = <%= @product.free_delivery_from_quantity %>;

      $('[data-behavior~=order-product-count-field]').on('keyup change', function() {
        var order_product_count = $(this).val();
        if (order_product_count == '' || order_product_count == 0) {
          $('[data-behavior~=order-total-calculator]').html('0');
        } else if (order_product_count > order_free_delivery_from_quantity) {
          $('[data-behavior~=order-total-calculator]').html(addCurrencySeparators(order_price * order_product_count));
        } else {
          $('[data-behavior~=order-total-calculator]').html(addCurrencySeparators((order_price * order_product_count) + order_delivery_price));
        }
      });

    });
  </script>
  <div class="row">
    <div class="four columns"><%= f.label :email, :class => 'inline right required' %></div>
    <div class="eight columns end guided email <%= field_has_error?(@order, :email) %>">
      <%= f.email_field :email, :class => field_has_error?(@order, :email), :autofocus => true %>
      <%= field_errors @order, :email %>
    </div>
  </div>

  <div class="row">
    <div class="four columns"><%= f.label :product_count, :class => 'inline right required' %></div>
    <div class="eight columns end guided product-count <%= field_has_error?(@order, :product_count) %>">
      <%= f.number_field :product_count, :class => field_has_error?(@order, :product_count), :min => 1, 'data-behavior' => 'order-product-count-field' %>
      <%= field_errors @order, :product_count %>
    </div>
  </div>

  <div class="row">
    <div class="four columns"><%= f.label :total, :class => 'inline right' %></div>
    <div class="eight columns end">
      <span class="data-label"><span data-behavior="order-total-calculator">0</span> Ft</span>
    </div>
  </div>

  <div class="row">
    <div class="four columns"><%= f.label :payment_method, :class => 'inline right required' %></div>
    <div class="eight columns end <%= field_has_error?(@order, :payment_method) %>">
      <div class="radio-button">
        <%= f.radio_button :payment_method, 'delivery', :id => "payment_methods_delivery" %><%= label_tag "payment_methods_delivery", t('helpers.label.order.payment_methods.delivery') %>
      </div>
      <div class="radio-button">
        <%= f.radio_button :payment_method, 'transfer', :id => "payment_methods_transfer" %><%= label_tag "payment_methods_transfer", t('helpers.label.order.payment_methods.transfer') %>
      </div>
      <%= field_errors @order, :payment_method %>
    </div>
  </div>

  <fieldset>
    <div class="row">
      <legend class="eight columns offset-by-four"><%= t('orders.titles.order_address') %></legend>
    </div>

    <div class="row">
      <div class="four columns"><%= f.label :full_name, :class => 'inline right required' %></div>
      <div class="eight columns end guided full-name <%= field_has_error?(@order, :full_name) %>">
        <%= f.text_field :full_name, :class => field_has_error?(@order, :full_name) %>
        <%= field_errors @order, :full_name %>
      </div>
    </div>

    <div class="row">
      <div class="four columns"><%= f.label :phone, :class => 'inline right' %></div>
      <div class="eight columns end guided phone <%= field_has_error?(@order, :phone) %>">
        <%= f.phone_field :phone, :class => field_has_error?(@order, :phone) %>
        <%= field_errors @order, :phone %>
      </div>
    </div>

    <div class="row">
      <div class="four columns"><%= f.label :postcode, :class => 'inline right required' %></div>
      <div class="eight columns end guided address <%= field_has_error?(@order, :postcode) %>">
        <%= f.text_field :postcode, :class => field_has_error?(@order, :postcode) %>
        <%= field_errors @order, :postcode %>
      </div>
    </div>

    <div class="row">
      <div class="four columns"><%= f.label :city, :class => 'inline right required' %></div>
      <div class="eight columns end guided address <%= field_has_error?(@order, :city) %>">
        <%= f.text_field :city, :class => field_has_error?(@order, :city) %>
        <%= field_errors @order, :city %>
      </div>
    </div>

    <div class="row">
      <div class="four columns"><%= f.label :address, :class => 'inline right required' %></div>
      <div class="eight columns end guided address <%= field_has_error?(@order, :address) %>">
        <%= f.text_field :address, :class => field_has_error?(@order, :address) %>
        <%= field_errors @order, :address %>
      </div>
    </div>

    <div class="row">
      <div class="eight columns offset-by-four">
        <div class="checkbox">
          <%= f.check_box :billing_address_same_as_order_address, 'data-behavior' => 'billing-address-toggle' %><%= f.label :billing_address_same_as_order_address %>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset class="billing-address" data-behavior="billing-address">
    <div class="row">
      <legend class="eight columns offset-by-four"><%= t('orders.titles.billing_address') %></legend>
    </div>
    <div class="row">
      <div class="eight columns offset-by-four">
        <p class="info-panel"><%= t('orders.messages.info_panels.billing_same_as_order').html_safe %></p>
      </div>
    </div>

    <div class="row">
      <div class="four columns"><%= f.label :billing_name, :class => 'inline right' %></div>
      <div class="eight columns end guided full-name <%= field_has_error?(@order, :billing_name) %>">
        <%= f.text_field :billing_name, :class => field_has_error?(@order, :billing_name) %>
        <%= field_errors @order, :billing_name %>
      </div>
    </div>

    <div class="row">
      <div class="four columns"><%= f.label :billing_phone, :class => 'inline right' %></div>
      <div class="eight columns end guided phone <%= field_has_error?(@order, :billing_phone) %>">
        <%= f.phone_field :billing_phone, :class => field_has_error?(@order, :billing_phone) %>
        <%= field_errors @order, :billing_phone %>
      </div>
    </div>

    <div class="row">
      <div class="four columns"><%= f.label :billing_postcode, :class => 'inline right' %></div>
      <div class="eight columns end guided billing <%= field_has_error?(@order, :billing_postcode) %>">
        <%= f.text_field :billing_postcode, :class => field_has_error?(@order, :billing_postcode) %>
        <%= field_errors @order, :billing_postcode %>
      </div>
    </div>

    <div class="row">
      <div class="four columns"><%= f.label :billing_city, :class => 'inline right' %></div>
      <div class="eight columns end guided billing <%= field_has_error?(@order, :billing_city) %>">
        <%= f.text_field :billing_city, :class => field_has_error?(@order, :billing_city) %>
        <%= field_errors @order, :billing_city %>
      </div>
    </div>

    <div class="row">
      <div class="four columns"><%= f.label :billing_address, :class => 'inline right' %></div>
      <div class="eight columns end guided billing <%= field_has_error?(@order, :billing_address) %>">
        <%= f.text_field :billing_address, :class => field_has_error?(@order, :billing_address) %>
        <%= field_errors @order, :billing_address %>
      </div>
    </div>

    <div class="row">
      <div class="four columns"><%= f.label :vat_number, :class => 'inline right' %></div>
      <div class="eight columns end guided billing <%= field_has_error?(@order, :vat_number) %>">
        <%= f.text_field :vat_number, :class => field_has_error?(@order, :vat_number) %>
        <%= field_errors @order, :vat_number %>
      </div>
    </div>
  </fieldset>
  <div class="row">
    <div class="eight columns offset-by-four">
      <div class="form-actions">
        <%= f.submit t('orders.actions.new'), :class => 'button radius' %>
      </div>
    </div>
  </div>
<% end %>
