<li class="user-order">
  <div class="row">
    <div class="eight columns offset-by-two order-excerpt">
      <span class="order-status">
        <%= t('orders.titles.single') %> &ndash;
        <%= format_count order.product_count %> / <%= number_to_currency(order.total) %>
        <span class="subtitle">(<%= time_ago_in_words(order.created_at) %>)</span>
        <%= link_to t('shared.actions.details'), '#', :class => 'show-order-details', 'data-order-id' => order.id, 'data-behavior' => 'show-order-details' %>
      </span>
    </div>
  </div>
  <div class="row order-details" data-order-details="<%= order.id %>">
    <div class="eight columns offset-by-two">
      <div class="panel">
        <div class="row">
          <div class="three columns">
            <%= label_tag '', t('helpers.label.order.product_name'), :class => 'right inline' %>
          </div>
          <div class="nine columns">
            <span class="data-label"><%= order.product.name %></span>
          </div>
        </div>

        <div class="row">
          <div class="three columns">
            <%= label_tag '', t('helpers.label.order.payment_token'), :class => 'right inline' %>
          </div>
          <div class="nine columns">
            <span class="data-label"><%= order.payment_token %></span>
          </div>
        </div>

        <div class="row">
          <div class="three columns">
            <%= label_tag '', t('helpers.label.order.email'), :class => 'right inline' %>
          </div>
          <div class="nine columns">
            <span class="data-label"><%= order.email %></span>
          </div>
        </div>

        <div class="row">
          <div class="three columns">
            <%= label_tag '', t('helpers.label.order.product_count'), :class => 'right inline' %>
          </div>
          <div class="nine columns">
            <span class="data-label"><%= format_count order.product_count %></span>
          </div>
        </div>

        <div class="row">
          <div class="three columns">
            <%= label_tag '', t('helpers.label.order.total'), :class => 'right inline' %>
          </div>
          <div class="nine columns">
            <span class="data-label"><%= number_to_currency(order.total) %></span>
          </div>
        </div>

        <div class="row">
          <div class="three columns">
            <%= label_tag '', t('helpers.label.order.payment_method'), :class => 'right inline' %>
          </div>
          <div class="nine columns">
            <span class="data-label"><%= order.payment_method_label %></span>
          </div>
        </div>

        <div class="row">
          <h3 class="nine columns offset-by-three">
            <%= t('orders.titles.order_address') %>
          </h3>
        </div>

        <div class="row">
          <div class="three columns">
            <%= label_tag '', t('helpers.label.order.full_name'), :class => 'right inline' %>
          </div>
          <div class="nine columns">
            <span class="data-label"><%= order.full_name %></span>
          </div>
        </div>

        <div class="row">
          <div class="three columns">
            <%= label_tag '', t('helpers.label.order.phone'), :class => 'right inline' %>
          </div>
          <div class="nine columns">
            <span class="data-label"><%= check_empty_entry_data order.phone %></span>
          </div>
        </div>

        <div class="row">
          <div class="three columns">
            <%= label_tag '', t('helpers.label.order.order_full_address'), :class => 'right inline' %>
          </div>
          <div class="nine columns">
            <span class="data-label"><%= order.full_address %></span>
          </div>
        </div>

        <% if !order.billing_address_same_as_order_address %>
          <div class="row">
            <h3 class="nine columns offset-by-three">
              <%= t('orders.titles.billing_address') %>
            </h3>
          </div>

          <div class="row">
            <div class="three columns">
              <%= label_tag '', t('helpers.label.order.billing_name'), :class => 'right inline' %>
            </div>
            <div class="nine columns">
              <span class="data-label"><%= order.billing_name %></span>
            </div>
          </div>

          <div class="row">
            <div class="three columns">
              <%= label_tag '', t('helpers.label.order.billing_phone'), :class => 'right inline' %>
            </div>
            <div class="nine columns">
              <span class="data-label"><%= check_empty_entry_data order.billing_phone %></span>
            </div>
          </div>

          <div class="row">
            <div class="three columns">
              <%= label_tag '', t('helpers.label.order.billing_full_address'), :class => 'right inline' %>
            </div>
            <div class="nine columns">
              <span class="data-label"><%= order.full_billing_address %></span>
            </div>
          </div>

          <div class="row">
            <div class="three columns">
              <%= label_tag '', t('helpers.label.order.vat_number'), :class => 'right inline' %>
            </div>
            <div class="nine columns">
              <span class="data-label"><%= check_empty_entry_data order.vat_number %></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</li>
