<% content_for :title do  %>
  <%= @product.name %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <h2 class="twelve columns"><%= @product.name %></h2>
</div>
<div class="row">
  <div class="six columns">
    <div class="inner">
      <p class="info-panel">
        <% if @product.delivery_price == 0 %>
          <%= t('orders.messages.info_panels.free_delivery', :price => number_to_currency(@product.price)).html_safe %>
        <% else %>
          <%= t('orders.messages.info_panels.new', :price => number_to_currency(@product.price), :delivery_price => number_to_currency(@product.delivery_price), :free_delivery_from_quantity => @product.free_delivery_from_quantity).html_safe %>
        <% end %>
      </p>
      <%= render 'form' %>
    </div>
  </div>
  <div class="six columns">
    <div class="row">
      <div class="twelve columns product-description">
        <%= markdown @product.description.nil? || @product.description.empty? ? '' : @product.description %>
      </div>
    </div>
  </div>
</div>
