<% content_for :title do  %>
  <%= t('orders.titles.show') %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <h2 class="twelve columns"><%= t('orders.titles.show') %></h2>
</div>
<div class="row">
  <div class="eight columns centered">
    <div class="success-panel">
      <p><%= t('orders.messages.notices.created', :email => articalize(@order.email, 'uppercase')).html_safe %></p>
      <%= t('orders.messages.next_steps_for_order_transfer', :order_payment_token => @order.payment_token, :order_total => number_to_currency(@order.total), :order_transfer_info => Order.transfer_info).html_safe %>
      <p><%= link_to_root_path('button') %></p>
    </div>
  </div>
</div>
