<% content_for :title do %>
  <%= @page.title %> &ndash; <%= site_title %>
<% end  %>
<% content_for :post_class do %>
  <%= @page.post_class %>
<% end  %>
<% content_for(:og_description) { @page.excerpt } %>
<% content_for(:og_type) { "article" } %>
<% if has_thumbnail_image?(@page) %>
  <% content_for(:og_image) { thumbnail_image_for @page } %>
<% end %>

<div class="row">
  <div class="twelve columns">
    <article class="row post">
      <div class="eight columns centered">
        <header class="post-header">
          <h1><%= link_to @page.title, page_path(@page.url) %></h1>
        </header>
        <div class="post-body">
          <% @page.blocks.each do |block| %>
            <%= render :partial => 'blocks/block', :locals => { :post => @page, :block => block } %>
          <% end %>
        </div>
      </div>
    </article>
  </div>
</div>
