<div class="popover edit-post-popover" data-behavior="edit-post-popover">
  <%= form_for [:admin, post], :html => { :remote => true, :class => 'admin-form post-title-form', 'data-behavior' => 'admin-form post-title-form' } do |f| %>
    <div class="row">
      <div class="twelve columns">
        <%= f.text_field :title, :class => 'title-field' %>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <div class="checkbox">
          <%= f.check_box :public %> <%= f.label :public %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <div class="checkbox">
          <%= f.check_box :not_commentable %> <%= f.label :not_commentable %>
        </div>
      </div>
    </div>
    <% if @post.category != 'beagyazott' && @post.category != 'hirdetesek' && @post.public %>
      <div class="row">
        <div class="twelve columns">
          <p class="info-panel"><%= t('admin.posts.messages.info_panels.short_url', :short_url => get_short_url_for_post(@post)).html_safe %></p>
        </div>
      </div>
    <% end %>
    <div class="row">
      <% if @post.category != 'hirdetesek' && @post.category != 'beagyazott' %>
        <div class="twelve columns tags">
          <%= f.label :tag_list, :class => 'inline' %>
          <%= f.autocomplete_field :tag_list, autocomplete_tag_name_admin_posts_path, :"data-delimiter" => ', ', :update_elements => {}, :class => 'blocked-field' %>
        </div>
      <% end %>
    </div>
    <% if @post.category != 'hirdetesek' && @post.category != 'beagyazott' %>
      <div class="row">
        <div class="twelve columns tags">
          <%= f.label :excerpt, :class => 'inline' %>
          <%= f.text_area :excerpt, :rows => 3, :class => 'blocked-field no-resize' %>
        </div>
      </div>
    <% end %>
    <% if @post.public %>
      <div class="row">
        <div class="twelve columns date-select-field">
          <div class="row">
            <div class="three columns">
              <%= f.label :published_at, :class => 'inline right' %>
            </div>
            <div class="nine columns">
              <%= f.datetime_select :published_at, :start_year => 2000, :end_year => Time.now.year + 5, :order => [:year, :month, :day], :datetime_separator => '' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="twelve columns">
        <div class="row">
          <div class="three columns">
            <%= f.label :user_id, :class => 'inline right' %>
          </div>
          <div class="five columns end">
            <%= f.select :user_id, options_for_select(find_all_authors, :selected => @post.user.nil? ? current_user.id : @post.user.id), {},  { :class => 'inline-field' } %>
          </div>
        </div>
      </div>
    </div>
    <% if @post.category != 'receptek' %>
      <div class="row">
        <div class="twelve columns">
          <div class="row">
            <div class="three columns">
              <%= f.label :category, :class => 'inline right' %>
            </div>
              <div class="five columns end">
                <%= f.select :category, options_for_select(Post.categories, :selected => @post.category), {},  { 'data-behavior' => 'move-post', :class => 'inline-field' } %>
              </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if @post.category == 'oldalak' || @post.category =~ /kalauz/ %>
      <div class="row">
        <div class="twelve columns">
          <div class="row">
            <div class="three columns">
              <%= f.label :post_class, :class => 'inline right' %>
            </div>
              <div class="five columns end">
                <%= f.select :post_class, options_for_select(Post.post_class_options, :selected => @post.post_class), {},  { :class => 'inline-field' } %>
              </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if !@post.blocks.attachment_blocks.blank? %>
      <div class="row">
        <div class="twelve columns">
          <%= f.label :attachment_id, :class => 'inline' %>
          <div class="row">
            <% @post.blocks.attachment_blocks.each do |attachment_block| %>
              <% if !attachment_block.attachment.nil? %>
                <div class="three columns end post-thumbnail">
                  <%= f.radio_button :attachment_id, attachment_block.attachment.id, :style => "background-image: url(#{processed_attachment_url(attachment_block.attachment)}); background-color: #{attachment_block.attachment.average_color};" %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="twelve columns">
        <div class="form-actions">
          <%= f.submit t('admin.posts.actions.update') %> <%= t('shared.messages.or') %> <%= link_to t('shared.actions.cancel'), '#', 'data-behavior' => 'cancel-post-meta-editing' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
