<div class="twelve columns">
  <div class="row">
    <div class="twelve columns">
      <% if @post.category != 'hirdetesek' && @post.category != 'beagyazott' %>
        <%= link_to t('admin.posts.actions.preview'), get_post_path_for(@post), :target => '_blank', :class => 'post-action preview-post has-tip tip-top', :title => t('admin.posts.actions.preview'), 'data-behavior' => 'post-preview' %>
      <% end %>
      <%= link_to t('admin.posts.actions.outline_view'), '#', :class => 'post-action outline-view', 'data-behavior' => 'outline-view', :title => t('admin.posts.actions.outline_view') %>
      <%= link_to t('admin.posts.actions.edit'), admin_edit_post_meta_path(@post), :remote => true, :class => 'post-action edit-post-meta has-tip tip-top', :title => t('admin.posts.actions.edit') %>
      <div class="row">
        <h1 class="eight columns centered post-title" data-behavior="post-title"><%= @post.title %></h1>
        <% if @post.category != 'hirdetesek' && @post.category != 'beagyazott' %>
          <div class="eight columns centered columns post-excerpt" data-behavior="post-excerpt">
            <% if @post.excerpt.blank? %>
              <p class="info-panel"><%= t('admin.posts.messages.info_panels.insert_excerpt') %></p>
            <% else %>
              <%= simple_format @post.excerpt %>
            <% end %>
          </div>
          <div class="twelve columns">
            <hr />
          </div>
        <% end %>
        <ul class="twelve columns post-blocks post" data-behavior="post-blocks" data-update-url="<%= admin_sort_blocks_path %>">
          <% @post.blocks.each do |block| %>
            <%= render :partial => 'admin/blocks/block', :locals => { :post => @post, :block => block } %>
          <% end %>
          <li class="not-sortable add-new-block-container" data-behavior="new-block attachment-dropzone">
            <div class="row">
              <div class="six columns centered">
                <%= link_to t('admin.posts.actions.blocks.append'), new_admin_post_block_path(@post), :remote => true, :class => 'add-new-block' %>
              </div>
            </div>
          </li>
        </ul>
          <% attachment = Attachment.new %>
          <%= form_for([:admin, attachment], :html => { :class => 'admin-form attachment-uploader', :mutlipart => true, :remote => true }) do |f| %>
            <%= f.file_field :attachment, 'data-behavior' => 'attachment-uploader', :class => 'attachment-uploader' %>
            <%= f.hidden_field :category, 'value' => @post.category %>
            <%= hidden_field_tag :dropped_from_editor, true %>
            <%= hidden_field_tag :post_id, @post.id %>
          <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <div class="form-actions">
        <%= link_to t('shared.actions.destroy'), [:admin, @post], method: :delete, data: { confirm: t('admin.posts.messages.confirmations.destroy') } %>
      </div>
    </div>
  </div>
</div>
