<tr data-post-id="<%= post.id %>">
  <td class="title"><%= link_to post.title, edit_admin_post_path(post) %></td>
  <td class="text-centered author">
    <% if !post.user.nil? %>
      <%= link_to post.user.username, admin_posts_path(:category => params[:category], :search => params[:search], :author => post.user.id) %>
    <% else %>
      <%= t('admin.posts.placeholders.empty_author') %>
    <% end %>
  </td>
  <td class="text-centered"><time><%= format_post_date post %></time></td>
  <td class="text-centered tags"><%= raw post.tag_list.map { |tag| link_to tag, admin_posts_path(:category => params[:category], :search => params[:search], :tag => tag), :class => 'label secondary radius' }.join(', ') %></td>
  <td class="text-centered">
    <div class="row">
      <div class="six columns">
        <%= form_for([:admin, post], :html => { :class => 'admin-form post-form', 'data-behavior' => 'table-form', :remote => true }) do |f| %>
          <span class="checkbox">
            <%= f.check_box :public, :id => "post_#{post.id}_public" %> <%= f.label :public, :for => "post_#{post.id}_public" %>
          </span>
        <% end %>
      </div>
      <% if post.category != 'hirdetesek' && post.category != 'beagyazott' %>
        <div class="six columns post-preview-container">
          <%= link_to t('admin.posts.actions.preview'), get_post_path_for(post) %>
        </div>
      <% end %>
    </div>
  </td>
</tr>
