<% content_for :title do %>
  <%= t('admin.posts.titles.edit') %> &ndash; <%= t('admin.name') %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <h2 class="twelve columns"><%= link_to find_post_category(@post), admin_posts_path(:category => @post.category) %><span class="subtitle"> / <%= t('admin.posts.titles.edit') %></span></h2>

  <%= render 'form' %>
</div>

<div class="attachment-progress" data-behavior="attachment-progress">
  <div class="attachment-progress-bar" data-behavior="attachment-progress-bar"></div>
  <div class="attachment-progress-info" data-behavior="attachment-progress-info"></div>
</div>
