$('[data-behavior~=post-title]').after('<%= j render :partial => 'admin/posts/edit_post_meta_form', :locals => { :post => @post } %>');
$('[data-behavior~=edit-post-popover]').fadeIn(300);
$('html').addClass('loaded');
$('[data-behavior~=cancel-post-meta-editing]').on('click', function() {
  $('[data-behavior~=edit-post-popover]').remove();
  return false;
});
