<% content_for :title do %>
  <%= t('admin.posts.name') %> &ndash; <%= t('admin.name') %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <div class="twelve columns">
    <div class="row">
      <h2 class="six columns">
        <% if !params[:category].blank? %>
          <%= current_post_category_link params %> <span class="subtitle">(<%= format_count @posts.count %>) <%= filtered_posts_labels params %></span>
        <% else %>
          <%= t('admin.posts.name') %>
        <% end %>
      </h2>
      <% if !params[:category].blank? %>
        <div class="six columns">
          <div class="action-group">
            <div class="row">
              <div class="four columns">
                <ul class="horizontal right">
                  <% if !params[:category].blank? %>
                    <li><%= link_to t('admin.posts.titles.new'), new_admin_post_path(:category => params[:category]) %></li>
                  <% end %>
                </ul>
              </div>
              <div class="eight columns">
                <%= form_tag admin_posts_path, :method => :get, :class => 'search-form row collapse', 'data-behavior' => 'table-filter' do %>
                  <%= hidden_field_tag :category, params[:category] %>
                  <%= hidden_field_tag :tag, params[:tag] %>
                  <%= hidden_field_tag :author, params[:author] %>
                  <%= text_field_tag :search, params[:search], :placeholder => t('shared.placeholders.filter_table'), :class => 'search-keyword' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% if params[:category].blank? %>
    <div class="twelve columns">
      <div class="row">
        <% Post.categories.each do |category| %>
          <div class="<%= category_tile_width category[1] %> columns end post-category-container">
            <%= link_to admin_posts_path(:category => category[1]), :class => "post-category #{category[1]}" do %>
              <span><%= category[0] %></span>
            <% end %>
          </div>
        <% end %>
      </div>
  </div>
  <% else %>
  <div class="twelve columns">
      <table class="twelve posts-table" cellspacing="2">
        <thead>
          <tr>
            <th class="three title"><%= t('activerecord.attributes.post.title') %></th>
            <th class="text-centered"><%= t('activerecord.attributes.post.user') %></th>
            <th class="two text-centered"><%= t('activerecord.attributes.post.published_at') %></th>
            <th class="text-centered"><%= t('activerecord.attributes.post.tag_list') %></th>
            <th class="three text-centered"><%= t('shared.actions.name') %></th>
          </tr>
        </thead>

        <tbody>
          <% if !@posts.empty? %>
            <% @posts.each do |post| %>
              <%= render post %>
            <% end %>
          <% else %>
            <tr>
              <td colspan="5">
                <div class="row empty-notice">
                  <div class="six columns centered">
                    <div class="flash-notice notice text-centered"><%= t('admin.posts.messages.notices.empty_category') %></div>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="twelve columns text-centered">
      <div class="pagination-container">
        <%= page_navigation_links(@posts) %>
      </div>
    </div>
  <% end %>
</div>
