<% content_for :title do %>
  <%= t('admin.posts.titles.new') %> &ndash; <%= t('admin.name') %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <h2 class="twelve columns"><%= current_post_category(params) %> / <span class="subtitle"><%= t('admin.posts.titles.new') %></title></h2>

  <div class="twelve columns">
    <div class="row">
      <div class="six columns centered">
        <%= form_for [:admin, @post], :html => { :class => 'admin-form new-post-form' } do |f| %>
          <%= f.hidden_field :category, :value => params[:category] %>
          <div class="row">
            <div class="twelve columns">
              <%= f.text_field :title, :class => 'title-field', :placeholder => t('admin.posts.placeholders.title'), :autofocus => true %>
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <div class="form-actions">
                <%= f.submit t('admin.posts.actions.new') %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
