$('[data-behavior~=edit-post-popover]').remove();
$('[data-behavior~=post-title]').html('<%= j @post.title %>').effect("highlight", {color: '#feffe6'}, 500);
<% if @post.excerpt.blank? %>
  $('[data-behavior~=post-excerpt]').html('<%= j content_tag :p, t('admin.posts.messages.info_panels.insert_excerpt'), :class => 'info-panel' %>');
<% else %>
  $('[data-behavior~=post-excerpt]').html('<%= j simple_format @post.excerpt %>');
<% end %>
$('[data-behavior~=post-preview]').attr('href', '<%= get_post_path_for(@post) %>');
$('[data-behavior~=post-excerpt]').effect("highlight", {color: '#feffe6'}, 500);
$('html').addClass('loaded');
