<% content_for :title do %>
  <%= t('mh.name') %> &ndash; <%= site_title %>
<% end  %>

<%= render :partial => 'mh_posts/header' %>

<div class="row">
  <div class="twelve columns blog-body">
    <% if !@posts.empty? %>
      <div class="row post-tiles" data-behavior="post-tiles">
        <% @posts.each_with_index do |post, index| %>
          <%= render :partial => 'mh_posts/post', :locals => { :post => post, :index => index } %>
        <% end %>
      </div>
      <div class="row">
        <div class="twelve columns text-centered">
          <div class="pagination-container">
            <%= page_navigation_links(@posts) %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="eight columns centered">
          <%= render :partial => 'shared/not_found', :locals => { :text => t('shared.messages.post_not_found') } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
