<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= render :partial => 'shared/mailer_styles' %>
    <ul style="list-style: none; margin-left: 0; padding-left: 0;">
      <li><strong>Feladó email címe:</strong> <%= @feedback.address %></li>
      <li><strong>Feladó neve:</strong> <%= @feedback.name %></li>
      <li><strong>Feladó telefonszáma:</strong> <%= @feedback.phone %></li>
      <li><strong>Feladó IP címe:</strong> <%= @remote_ip %></li>
      <% if @feedback.is_error_reporting %>
        <li><strong>Hibajelentéshez tartozó rekord:</strong> <%= link_to @feedback.record_name, record_url(@feedback.record_id, @feedback.record_kind) %></li>
      <% end %>
    </ul>
    <%= simple_format @feedback.content %>
  </body>
</html>
