<% content_for :title do  %>
  <%= t('user.sign_in') %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <h2 class="twelve columns"><%= t('user.titles.sign_in', :site_title => site_title) %></h2>
  <div class="twelve columns">
    <div class="row">
      <div class="twelve columns">
        <p class="info-panel"><%= t('user.messages.info_panels.sign_in', :new_user_registration_path => new_user_registration_path, :site_title => site_title).html_safe %></p>
      </div>
    </div>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'user-form' }) do |f| %>
      <div class="row">
        <div class="four columns"><%= f.label :email, :class => 'inline right' %></div>
        <div class="four columns end guided email"><%= f.email_field :email, :autofocus => true %></div>
      </div>
      <div class="row">
        <div class="four columns"><%= f.label :password, :class => 'inline right' %></div>
        <div class="four columns end guided password"><%= f.password_field :password %></div>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="row">
          <div class="four columns offset-by-four">
            <div class="checkbox">
              <%= f.check_box :remember_me %> <%= f.label :remember_me, t('user.messages.remember_me') %>
            </div>
          </div>
        </div>
      <% end -%>
      <div class="row">
        <div class="four columns offset-by-four">
          <%= f.submit t('user.sign_in'), :class => 'button' %>
        </div>
      </div>
    <% end %>
    <div class="row"><div class="four columns offset-by-four end"><%= render "devise/shared/links" %></div></div>
  </div>
</div>
