<% content_for :title do %>
  <%= @guide.title %> &ndash; <%= t('guides.name') %> &ndash; <%= site_title %>
<% end  %>
<% content_for :post_class do %>
  <%= @guide.post_class %>
<% end  %>
<% content_for(:og_description) { @guide.excerpt } %>
<% content_for(:og_type) { "article" } %>

<%= render :partial => 'guides2015/header' %>

<div class="row">
  <div class="twelve columns">
    <article class="row post">
      <div class="eight columns centered">
        <header class="post-header">
          <h1><%= link_to @guide.title, guide2015_path(@guide.url) %></h1>
        </header>
        <div class="post-body">
          <% @guide.blocks.each do |block| %>
            <%= render :partial => 'blocks/block', :locals => { :post => @guide, :block => block } %>
          <% end %>
        </div>
      </div>
    </article>
  </div>
</div>
