<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= render :partial => 'shared/mailer_styles' %>
    <%= t('orders.mailers.order_confirmation').html_safe %>
    <% if @order.is_transfer? %>
      <%= t('orders.messages.next_steps_for_order_transfer', :order_payment_token => @order.payment_token, :order_total => number_to_currency(@order.total), :order_transfer_info => Order.transfer_info).html_safe %>
    <% end %>
    <h3><%= t('orders.titles.informations') %>:</h3>
    <table border="0" cellpadding="6">
      <tr>
        <td><strong><%= t('helpers.label.order.product_name') %></strong></td>
        <td><%= @order.product.name %></td>
      </tr>
      <tr>
        <td><strong><%= t('helpers.label.order.payment_token') %></strong></td>
        <td><%= @order.payment_token %></td>
      </tr>
      <tr>
        <td><strong><%= t('helpers.label.order.email') %></strong></td>
        <td><%= @order.email %></td>
      </tr>
      <tr>
        <td><strong><%= t('helpers.label.order.product_count') %></strong></td>
        <td><%= @order.product_count %> db</td>
      </tr>
      <tr>
        <td><strong><%= t('helpers.label.order.total') %></strong></td>
        <td>
          <%= number_to_currency(@order.total) %>
        </td>
      </tr>
      <tr>
        <td><strong><%= t('helpers.label.order.payment_method') %></strong></td>
        <td><%= @order.payment_method_label %></td>
      </tr>
    </table>
    <h3><%= t('orders.titles.order_address') %></h3>
    <table border="0" cellpadding="6">
      <tr>
        <td><strong><%= t('helpers.label.order.full_name') %></strong></td>
        <td><%= @order.full_name %></td>
      </tr>
      <tr>
        <td><strong><%= t('helpers.label.order.phone') %></strong></td>
        <td><%= @order.phone %></td>
      </tr>
      <tr>
        <td><strong><%= t('helpers.label.order.order_full_address') %></strong></td>
        <td><%= @order.full_address %></td>
      </tr>
    </table>
    <% if !@order.billing_address_same_as_order_address %>
      <h3><%= t('orders.titles.billing_address') %></h3>
      <table border="0" cellpadding="6">
        <tr>
          <td><strong><%= t('helpers.label.order.billing_name') %></strong></td>
          <td><%= @order.billing_name %></td>
        </tr>
        <tr>
          <td><strong><%= t('helpers.label.order.billing_phone') %></strong></td>
          <td><%= @order.billing_phone %></td>
        </tr>
        <tr>
          <td><strong><%= t('helpers.label.order.billing_full_address') %></strong></td>
          <td><%= @order.full_billing_address %></td>
        </tr>
        <tr>
          <td><strong><%= t('helpers.label.order.vat_number') %></strong></td>
          <td><%= @order.vat_number %></td>
        </tr>
      </table>
    <% end %>
    <%= t('orders.mailers.order_confirmation_bottom').html_safe %>
    <%= t('user.mailers.signature', :site_name => CONFIG_SITE_NAME).html_safe %>
  </body>
</html>
