<h3><%= link_to restaurant.title, restaurant_path(restaurant), :target => is_embedded ? '_blank' : '' %></h3><p><%= restaurant.postcode %> <%= restaurant.city %>, <%= restaurant.address %></p>
<% if restaurant.tags_index.present? %>
  <span class="tags">
    <% restaurant.tags_index.split(',').map { |t| t.strip }.each do |tag| %>
      <span><%= tag %></span>
    <% end %>
  </span>
<% end %>
<% if restaurant.restaurant_tests.public.present? %>
  <span class="restaurant-tests">
    <% restaurant.restaurant_tests.public.each do |restaurant_test| %>
      <%= render :partial => 'shared/rating_badge', :locals => { :record => restaurant_test } %>
    <% end %>
  </span>
<% elsif restaurant.pop? %>
  <span class="rating gm-pop"></span>
<% end %>