<% cache ['v3', 'database-thumbnail', restaurant] do %>
  <div class="four columns end database-thumbnail-container">
    <%= link_to restaurant_path(restaurant), :class => 'database-thumbnail restaurant clearfix' do %>
      <span class="title"><%= restaurant.title %></span>
      <span class="address"><%= restaurant.postcode %> <%= restaurant.city %>, <%= restaurant.address %></span>
      <span class="restaurant-tests">
        <% restaurant.restaurant_tests.public.each do |restaurant_test| %>
          <span class="restaurant-test">
            <span class="rating"><%= restaurant_test.rating %></span>
            <span class="year"><%= restaurant_test.year %></span>
          </span>
        <% end %>
      </span>
    <% end %>
  </div>
<% end %>
