<% content_for :title do %>
  <%= t('restaurants.name') %> &ndash; <%= site_title %>
<% end  %>
<% if params[:is_embedded] == 'yes' %>
  <% content_for :post_class do %>
    embedded
  <% end %>
<% end %>
<script type="text/javascript">
function initialize_map() {
  var map_center = new google.maps.LatLng(47.11,19.30);
  var mapOptions = {
    scrollwheel: false,
    center: map_center,
    zoom: 7,
    maxZoom: 19,
    panControl: false,
    zoomControl: true,
    zoomControlOptions: {
      position: google.maps.ControlPosition.LEFT_CENTER
    },
    mapTypeControl: true,
    mapTypeControlOptions: {
      position: google.maps.ControlPosition.RIGHT_BOTTOM
    },
    scaleControl: false,
    streetViewControl: false,
    overviewMapControl: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
  <% if !@restaurants.empty? %>
    var bounds = new google.maps.LatLngBounds();
  <% end %>

<% @restaurants.each do |restaurant| %>
  <% if has_map?(restaurant) %>
    <% cache ['v26', 'map', restaurant] do %>
      var info_text_<%= restaurant.id %> = document.createElement("div");
      info_text_<%= restaurant.id %>.style.cssText = "background: #000;";
      info_text_<%= restaurant.id %>.innerHTML = '<%=j render :partial => 'restaurants/map_pin', :locals => { :is_embedded => true, :restaurant => restaurant } %>';
      var info_box_style_<%= restaurant.id %> = {
        content: info_text_<%= restaurant.id %>,
        disableAutoPan: false,
        boxClass: "infobox",
        maxWidth: 0,
        pixelOffset: new google.maps.Size(-140, 17),
        zIndex: null,
        boxStyle: {
          background: "url('/assets/popover-nub-black.png') top center no-repeat",
          width: "280px"
        },
        closeBoxMargin: "13px 5px 5px 9px",
        closeBoxURL: "/assets/icon-mini-close.png",
        infoBoxClearance: new google.maps.Size(1, 1),
        isHidden: false,
        pane: "floatPane",
        enableEventPropagation: false
      };
      var position_<%= restaurant.id %> = new google.maps.LatLng(<%= restaurant.latitude %>, <%= restaurant.longitude %>);
      var image = {
        url: '/assets/markers/restaurants.png',
        size: new google.maps.Size(20.0, 35.0),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(10.0, 17.0),
        scaledSize: new google.maps.Size(20.0, 35.0)
      };
      var shadow = {
        url: '/assets/markers/shadow.png',
        size: new google.maps.Size(38.0, 35.0),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(10.0, 17.0)
      };
      var marker_<%= restaurant.id %> = new google.maps.Marker({
        position: position_<%= restaurant.id %>,
        map: map,
        title: '<%= restaurant.title %>',
        icon: image,
        shadow: shadow
      });

      google.maps.event.addListener(marker_<%= restaurant.id %>, 'click', function() {
        var info_box_<%= restaurant.id %> = new InfoBox(info_box_style_<%= restaurant.id %>);
        info_box_<%= restaurant.id %>.open(map, marker_<%= restaurant.id %>);
      });
      bounds.extend(position_<%= restaurant.id %>);
    <% end %>
  <% end %>
<% end %>
  google.maps.event.addListener(map, 'idle', function(){
    $('.gm-style').removeClass('gm-style');
  });
<% if !@restaurants.empty? %>
  map.fitBounds(bounds);
<% end %>
}
</script>

<%= render :partial => 'shared/best_of_modal', :locals => { :title => t('restaurants.titles.best_of') } %>

<div id="map-canvas" class="big-map map-canvas map" data-behavior="map-canvas"></div>
