<% content_for :title do %>
  <%= t('restaurants.name') %> &ndash; <%= site_title %>
<% end  %>
<script type="text/javascript">
function initialize_map() {
  var map_center = new google.maps.LatLng(47.11,19.30);
  var mapOptions = {
    scrollwheel: false,
    center: map_center,
    zoom: 7,
    maxZoom: 19,
    panControl: false,
    zoomControl: true,
    zoomControlOptions: {
      position: google.maps.ControlPosition.LEFT_CENTER
    },
    mapTypeControl: true,
    mapTypeControlOptions: {
      position: google.maps.ControlPosition.RIGHT_BOTTOM
    },
    scaleControl: false,
    streetViewControl: false,
    overviewMapControl: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
  <% if !@restaurants.empty? %>
    var bounds = new google.maps.LatLngBounds();
  <% end %>

<% @restaurants.each do |restaurant| %>
  <% if has_map?(restaurant) %>
    <% cache ['v28', 'map', restaurant] do %>
      var info_text_<%= restaurant.id %> = document.createElement("div");
      info_text_<%= restaurant.id %>.style.cssText = "background: #000;";
      info_text_<%= restaurant.id %>.innerHTML = '<%=j render :partial => 'restaurants/map_pin', :locals => { :is_embedded => false, :restaurant => restaurant } %>';
      var info_box_style_<%= restaurant.id %> = {
        content: info_text_<%= restaurant.id %>,
        disableAutoPan: false,
        boxClass: "infobox",
        maxWidth: 0,
        pixelOffset: new google.maps.Size(-140, 17),
        zIndex: null,
        boxStyle: {
          background: "url('/assets/popover-nub-black.png') top center no-repeat",
          width: "280px"
        },
        closeBoxMargin: "13px 5px 5px 9px",
        closeBoxURL: "/assets/icon-mini-close.png",
        infoBoxClearance: new google.maps.Size(1, 1),
        isHidden: false,
        pane: "floatPane",
        enableEventPropagation: false
      };
      var position_<%= restaurant.id %> = new google.maps.LatLng(<%= restaurant.latitude %>, <%= restaurant.longitude %>);
      var image = {
        <% if restaurant.pop? %>
          url: '/assets/markers/restaurants-pop.png',
        <% else %>
          url: '/assets/markers/restaurants.png',
        <% end %>
        size: new google.maps.Size(20.0, 35.0),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(10.0, 17.0),
        scaledSize: new google.maps.Size(20.0, 35.0)
      };
      var shadow = {
        url: '/assets/markers/shadow.png',
        size: new google.maps.Size(38.0, 35.0),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(10.0, 17.0)
      };
      var marker_<%= restaurant.id %> = new google.maps.Marker({
        position: position_<%= restaurant.id %>,
        map: map,
        title: '<%= restaurant.title %>',
        icon: image,
        shadow: shadow
      });

      google.maps.event.addListener(marker_<%= restaurant.id %>, 'click', function() {
        var info_box_<%= restaurant.id %> = new InfoBox(info_box_style_<%= restaurant.id %>);
        info_box_<%= restaurant.id %>.open(map, marker_<%= restaurant.id %>);
      });
      bounds.extend(position_<%= restaurant.id %>);
    <% end %>
  <% end %>
<% end %>
  google.maps.event.addListener(map, 'idle', function(){
    $('.gm-style').removeClass('gm-style');
  });
<% if !@restaurants.empty? %>
  map.fitBounds(bounds);
<% end %>
}
</script>

<div id="map-canvas" class="big-map map-canvas map" data-behavior="map-canvas" data-no-turbolink></div>
<script>
  $(function() {
    $('[data-behavior~=restaurant-selector]').chosen({
      no_results_text: "<%= t('restaurant_reservations.messages.placeholders.restaurant_not_found') %>",
      placeholder_text_single: '<%= t('restaurant_reservations.messages.placeholders.choose_restaurant') %>',
      width: '100%'
    });
  });
</script>

<div class="database-filter-container">
  <%= form_tag restaurants_path, :method => 'get', :class => 'database-filter clearfix row', 'data-behavior' => 'database-filter' do |f| %>
    <div class="twelve columns">
      <div class="row">
        <div class="five columns"><%= text_field_tag :search, params[:search], 'data-autocomplete-path' => autocomplete_restaurant_search_cache_name_restaurants_path, :class => 'keyword-field', :placeholder => t('restaurants.placeholders.keyword'), 'data-delimiter' => ', ', 'data-behavior' => 'search-input'  %></div>
        <script>

        </script>
        <div class="five columns">
          <fieldset class="rating-options">
            <div class="row ratings">
              <div class="rating-option rating-toque-3">
                <%= check_box_tag 'rating[]', 'toque_3', (params[:rating].present? && params[:rating].include?('toque_3')) ? true : false, :title => "#{t('restaurants.titles.rating')} 3 sapkás", 'data-behavior' => 'rating-option' %> <%= label_tag 'rating_toque_3', '3 sapkás' %>
              </div>
              <div class="rating-option rating-toque-2">
                <%= check_box_tag 'rating[]', 'toque_2', (params[:rating].present? && params[:rating].include?('toque_2')) ? true : false, :title => "#{t('restaurants.titles.rating')} 2 sapkás", 'data-behavior' => 'rating-option' %> <%= label_tag 'rating_toque_2', '2 sapkás' %>
              </div>
              <div class="rating-option rating-toque-1">
                <%= check_box_tag 'rating[]', 'toque_1', (params[:rating].present? && params[:rating].include?('toque_1')) ? true : false, :title => "#{t('restaurants.titles.rating')} 1 sapkás", 'data-behavior' => 'rating-option' %> <%= label_tag 'rating_toque_1', '1 sapkás' %>
              </div>
              <div class="rating-option rating-recommended">
                <%= check_box_tag 'rating[]', 'recommended', (params[:rating].present? && params[:rating].include?('recommended')) ? true : false, :title => "#{t('restaurants.titles.rating')} Ajánlott", 'data-behavior' => 'rating-option' %> <%= label_tag 'rating_recommended', 'Ajánlott' %>
              </div>
              <div class="rating-option rating-lower">
                <%= check_box_tag 'rating[]', 'lower', (params[:rating].present? && params[:rating].include?('lower')) ? true : false, :title => "#{t('restaurants.titles.rating')} 10…", 'data-behavior' => 'rating-option' %> <%= label_tag 'rating_lower', '10…' %>
              </div>
              <div class="rating-option rating-pop">
                <%= check_box_tag 'rating[]', 'pop', (params[:rating].present? && params[:rating].include?('pop')) ? true : false, :title => "#{t('restaurants.titles.rating')} Pop helyek", 'data-behavior' => 'rating-option' %>
                <%= label_tag 'rating_pop', 'Pop helyek' %>
              </div>
              <%= link_to '?', '#', :class => 'rating-help-popover-toggle', 'data-behavior' => 'rating-help-popover-toggle', :title => t('shared.actions.filter_help') %>
              <div class="popover rating-help-popover" data-behavior="rating-help-popover">
                <div class="popover-inner">
                  <% render_embedded_page 'ettermek-pontozasa-tabla' %>
                  <p><%= link_to get_page_title('az-ettermek-ertekeleserol'), guide2015_path('az-ettermek-ertekeleserol'), :class => 'button' %></p>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="two columns">
          <%= submit_tag t('shared.actions.search'), :class => 'button full-width' %>
        </div>
        <% if !restaurant_params_blank? %>
          <div class="twelve columns results-counter">Találatok: <strong><%= @restaurants.count %> db</strong></div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="database-results">
    <% if restaurant_params_blank? %>
      <p class="start-search"><%= t('restaurants.messages.notices.start_search', :restaurants_count => format_count(@restaurants.size)).html_safe %></p>
    <% else %>
      <% if !@restaurants.empty? %>
        <ul class="plain record-tiles" data-behavior="record-tiles" data-no-turbolink>
          <% @restaurants.each do |restaurant| %>
            <li class="result">
              <%= link_to restaurant_path(restaurant) do %>
                <% if restaurant.restaurant_tests.public.present? %>
                  <% restaurant.restaurant_tests.public.each do |restaurant_test| %>
                    <div class="rating-container">
                      <%= render :partial => 'shared/rating_badge', :locals => { :record => restaurant_test } %>
                    </div>
                  <% end %>
                <% elsif restaurant.pop? %>
                  <div class="rating-container">
                    <span class="rating gm-pop"></span>
                  </div>
                <% end %>
                <span class="title"><%= restaurant.title %></span>
                <span class="address"><%= restaurant.postcode %> <%= restaurant.city %>, <%= restaurant.address %></span>
                <% if restaurant.tags_index.present? %>
                  <span class="tags">
                    <% restaurant.tags_index.split(',').map { |t| t.strip }.each do |tag| %>
                      <span><%= tag %></span>
                    <% end %>
                  </span>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="start-search"><%= t('restaurants.messages.notices.not_found') %></p>
      <% end %>
    <% end %>
  </div>
</div>
