<% content_for :title do %>
  <%= @restaurant.title %> &ndash; <%= t('restaurants.name') %> &ndash; <%= site_title %>
<% end  %>
<div class="row database-entry post" itemscope itemtype="http://schema.org/Restaurant">
  <div class="twelve columns">
    <div class="row">
      <div class="six columns">
        <h2>
          <%= link_to t('restaurants.name'), restaurants_path(session[:last_restaurants_filter]) %>
          <span class="subtitle"> / <span itemprop="name"><%= link_to @restaurant.title, restaurant_path(@restaurant) %></span></span>
        </h2>
      </div>
      <div class="six columns">
        <ul class="button-panel">
          <% if !@restaurant.email.blank? %>
            <li><%= link_to t('restaurant_reservations.actions.new'), new_restaurant_reservation_path(:book_to => @restaurant.id), :class => 'button new-restaurant-reservation' %></li>
          <% end %>
          <% if user_signed_in? %>
            <li><%= render :partial => 'favourites/favourite', :locals => { :kind => 'restaurant', :record_id => @restaurant.id } %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="four columns database-entry-sidebar">
        <div class="inner">
          <ul class="plain">
            <li class="database-icon address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="postalCode"><%= @restaurant.postcode %></span> <span itemprop="addressLocality"><%= @restaurant.city %></span>, <span itemprop="streetAddress"><%= @restaurant.address %></span></li>
            <li class="database-icon phone" itemprop="telephone"><%= check_empty_entry_data @restaurant.phone_1 %></li>
          </ul>
          <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
            <meta itemprop="latitude" content="<%= @restaurant.latitude %>" />
            <meta itemprop="longitude" content="<%= @restaurant.longitude %>" />
          </div>
          <ul>
            <li class="database-icon open-result"><%= check_empty_entry_data @restaurant.open_results %></li>
            <% if !@restaurant.def_people_one_name.blank? %>
              <li class="database-icon chef"><%= @restaurant.def_people_one_name %> &ndash; <%= @restaurant.def_people_one_title %></li>
            <% end %>
            <% if !@restaurant.def_people_two_name.blank? %>
              <li class="database-icon chef"><%= @restaurant.def_people_two_name %> &ndash; <%= @restaurant.def_people_two_title %></li>
            <% end %>
            <% if !@restaurant.def_people_three_name.blank? %>
              <li class="database-icon chef"><%= @restaurant.def_people_three_name %> &ndash; <%= @restaurant.def_people_three_title %></li>
            <% end %>
          </ul>

          <ul class="plain">
            <li class="database-icon website" itemprop="url"><%= check_link_for @restaurant.website %></li>
            <li class="database-icon email" itemprop="email"><%= check_mail_link_for @restaurant.email %></li>
            <li class="database-icon facebook" itemprop="url"><%= check_link_for @restaurant.facebook %></li>
          </ul>

          <% unless @restaurant.pop? %>
            <ul class="plain">
              <li class="database-icon reservations">Asztalfoglalás <%= @restaurant.reservation_needed? ? 'szükséges' : 'nem szükséges' %></li>
              <li class="database-icon parking">Parkolás <%= @restaurant.has_parking? ? 'van' : 'nincs' %></li>
              <% @restaurant.restaurant_tests.public.each do |restaurant_test| %>
                <li class="database-icon menu-price">
                  <% if !restaurant_test.main_menu_price_start.blank? %>
                    <%= t('restaurants.menu_prices.main_menu_price') %><br>
                    <em>
                      <%= number_to_currency restaurant_test.main_menu_price_start %>
                      <% if !restaurant_test.main_menu_price_end.blank? %>
                        &ndash; <%= number_to_currency restaurant_test.main_menu_price_end %>
                      <% end %>
                    </em><br>
                  <% end %>
                  <% if !restaurant_test.presentation_menu_price_start.blank? %>
                    <%= t('restaurants.menu_prices.presentation_menu_price') %><br>
                    <em>
                      <%= number_to_currency restaurant_test.presentation_menu_price_start %>
                      <% if !restaurant_test.presentation_menu_price_end.blank? %>
                        &ndash; <%= number_to_currency restaurant_test.presentation_menu_price_end %>
                      <% end %>
                    </em><br>
                  <% end %>
                  <% if !restaurant_test.south_menu_price_start.blank? %>
                    <%= t('restaurants.menu_prices.south_menu_price') %><br>
                    <em>
                      <%= number_to_currency restaurant_test.south_menu_price_start %>
                      <% if !restaurant_test.south_menu_price_end.blank? %>
                        &ndash; <%= number_to_currency restaurant_test.south_menu_price_end %>
                      <% end %>
                    </em>
                  <% end %>
                </li>
              <% end %>
            </ul>

            <div class="restaurant-features row">
              <%= render_feature_icon @restaurant.credit_card, t('restaurants.features.credit_card'), 'feature_credit_card', 'twelve' %>
              <%= render_feature_icon @restaurant.wifi, t('restaurants.features.wifi'), 'feature_wifi', 'twelve' %>
            </div>
          <% end %>

          <% if @restaurant.tags_index.present? %>
            <ul class="plain">
              <li class="database-icon tags">
                <%= @restaurant.tags_index.split(',').map { |t| link_to t.strip, restaurants_path(search: t.strip) }.join(', ').html_safe %>
              </li>
            </ul>
          <% end %>

          <% if !@restaurant.parent.restaurant_images.paid.empty? %>
            <div class="row">
              <div class="twelve columns paid-restaurant-image">
                <% @restaurant.parent.restaurant_images.paid.each do |image| %>
                  <%= image_tag restaurant_image_url(image, 'medium'), 'itemprop' => 'image' %>
                <% end %>
              </div>
            </div>
          <% end %>
          <% if has_map?(@restaurant) %>
            <script type="text/javascript">
              function initialize_map() {
                var map_center = new google.maps.LatLng(<%= @restaurant.latitude %>,<%= @restaurant.longitude %>);
                var mapOptions = {
                  center: map_center,
                  zoom: 13,
                  panControl: false,
                  zoomControl: true,
                  mapTypeControl: false,
                  scaleControl: false,
                  streetViewControl: false,
                  overviewMapControl: false,
                  scrollwheel: false,
                  mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("map-canvas"),
                    mapOptions);
                var image = {
                  url: '/assets/markers/restaurants.png',
                  size: new google.maps.Size(20.0, 35.0),
                  origin: new google.maps.Point(0, 0),
                  anchor: new google.maps.Point(10.0, 17.0),
                  scaledSize: new google.maps.Size(20.0, 35.0)
                };
                var shadow = {
                  url: '/assets/markers/shadow.png',
                  size: new google.maps.Size(38.0, 35.0),
                  origin: new google.maps.Point(0, 0),
                  anchor: new google.maps.Point(10.0, 17.0)
                };
                var marker = new google.maps.Marker({
                  position: map_center,
                  map: map,
                  title: '<%= @restaurant.title %>',
                  icon: image,
                  shadow: shadow
                });
              }
            </script>
            <div id="map-canvas" class="map-canvas" data-behavior="map-canvas"></div>
          <% end %>

          <ul class="plain">
            <li><%= link_to t('shared.actions.error_report').html_safe, new_feedback_path(:is_error_reporting => true, :record_name => @restaurant.title, :record_id => @restaurant.id, :record_kind => 'restaurant'), :class => 'button full-width error-report-button' %></li>
          </ul>
        </div>
      </div>
      <div class="eight columns database-entry-body">
        <% if !@restaurant.restaurant_tests.public.empty? %>
          <% if CONFIG_HIDE_RESTAURANT_TESTS %>
            <div class="not-tested-yet">
              <h2><%= t('restaurants.titles.test_not_available') %></h2>
              <%= t('restaurants.messages.info_panels.test_not_available', :contact_page_path => page_path('kapcsolat'), :new_order_path => new_product_order_path(@gm_guide_product)).html_safe %>
            </div>
          <% else %>
            <% @restaurant.restaurant_tests.public.each do |restaurant_test| %>
              <%= render restaurant_test %>
            <% end %>
          <% end %>
          <% if @restaurant.child && !@restaurant.child.restaurant_tests.public.empty? %>
            <div class="last-year-tests-container">
              <%= link_to t('restaurants.actions.toggle_last_year_tests', :year => '2016-os'), '#', :class => 'button toggle-last-year-tests', 'data-behavior' => 'toggle-last-year-tests', 'data-toggle' => '.2016-tests' %>
              <div class="last-year-tests 2016-tests">
                <% @restaurant.child.restaurant_tests.public.each do |restaurant_test| %>
                  <%= render restaurant_test %>
                <% end %>
              </div>
            </div>
          <% end %>
          <% if @restaurant.try(:child).try(:child) && !@restaurant.child.child.restaurant_tests.public.empty? %>
            <div class="last-year-tests-container">
              <%= link_to t('restaurants.actions.toggle_last_year_tests', :year => '2015-ös'), '#', :class => 'button toggle-last-year-tests', 'data-behavior' => 'toggle-last-year-tests', 'data-toggle' => '.2015-tests' %>
              <div class="last-year-tests 2015-tests">
                <% @restaurant.child.child.restaurant_tests.public.each do |restaurant_test| %>
                  <%= render restaurant_test %>
                <% end %>
              </div>
            </div>
          <% end %>
          <% if @restaurant.try(:child).try(:child).try(:child) && !@restaurant.child.child.child.restaurant_tests.public.empty? %>
            <div class="last-year-tests-container">
              <%= link_to t('restaurants.actions.toggle_last_year_tests', :year => '2014-es'), '#', :class => 'button toggle-last-year-tests', 'data-behavior' => 'toggle-last-year-tests', 'data-toggle' => '.2014-tests'  %>
              <div class="last-year-tests 2014-tests">
                <% @restaurant.child.child.child.restaurant_tests.public.each do |restaurant_test| %>
                  <%= render restaurant_test %>
                <% end %>
              </div>
            </div>
          <% end %>
          <% if @restaurant.try(:child).try(:child).try(:child).try(:child) && !@restaurant.child.child.child.child.restaurant_tests.public.empty? %>
            <div class="last-year-tests-container">
              <%= link_to t('restaurants.actions.toggle_last_year_tests', :year => '2013-as'), '#', :class => 'button toggle-last-year-tests', 'data-behavior' => 'toggle-last-year-tests', 'data-toggle' => '.2013-tests'  %>
              <div class="last-year-tests 2013-tests">
                <% @restaurant.child.child.child.child.restaurant_tests.public.each do |restaurant_test| %>
                  <%= render restaurant_test %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="not-tested-yet">
            <h2><%= t('restaurants.titles.not_tested_yet') %></h2>
            <% if @restaurant.pop? %>
              <%= t('restaurants.messages.info_panels.pop_category') %>
            <% else %>
              <%= t('restaurants.messages.info_panels.not_tested_yet') %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
