<% content_for :title do  %>
  <%= params[:is_error_reporting] ? t('feedbacks.titles.error_reporting') : t('feedbacks.name') %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <h2 class="twelve columns"><%= params[:is_error_reporting] ? t('feedbacks.titles.error_reporting') : t('feedbacks.name') %></h2>
</div>
<div class="row">
  <div class="eight columns centered">
    <%= t('feedbacks.messages.contact_us', :site_title => site_title).html_safe %>
    <div class="panel">
      <%= form_for @feedback, :html => { :class => 'user-form feedback-form', 'data-behavior' => 'feedback-form' } do |f| %>
        <% if params[:is_error_reporting] %>
          <%= f.hidden_field :is_error_reporting, :value => true %>
          <%= f.hidden_field :record_kind, :value => params[:record_kind] %>
          <%= f.hidden_field :record_name, :value => params[:record_name] %>
          <%= f.hidden_field :record_id, :value => params[:record_id] %>

          <div class="row">
            <div class="three columns"><%= f.label :record_name, :class => 'inline right' %></div>
            <div class="eight columns end">
              <span class="data-label"><%= link_to params[:record_name], record_url(params[:record_id], params[:record_kind]) %></span>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="three columns"><%= f.label :name, :class => 'inline right' %></div>
          <div class="eight columns end guided full-name <%= field_has_error?(@feedback, :name) %>">
            <%= f.text_field :name, :class => field_has_error?(@feedback, :name) %>
            <%= field_errors @feedback, :name %>
          </div>
        </div>

        <div class="row">
          <div class="three columns"><%= f.label :address, :class => 'inline right required' %></div>
          <div class="eight columns end guided email <%= field_has_error?(@feedback, :address) %>">
            <%= f.email_field :address, :class => field_has_error?(@feedback, :address) %>
            <%= field_errors @feedback, :address %>
          </div>
        </div>

        <div class="row">
          <div class="three columns"><%= f.label :phone, :class => 'inline right' %></div>
          <div class="eight columns end guided phone <%= field_has_error?(@feedback, :phone) %>">
            <%= f.phone_field :phone, :class => field_has_error?(@feedback, :phone) %>
            <%= field_errors @feedback, :phone %>
          </div>
        </div>

        <div class="row">
          <div class="three columns"><%= f.label :content, :class => 'inline right required' %></div>
          <div class="eight columns end <%= field_has_error?(@feedback, :content) %>">
            <%= f.text_area :content, :class => field_has_error?(@feedback, :content), :rows => 10 %>
            <%= field_errors @feedback, :content %>
          </div>
        </div>

        <div class="row captcha">
          <% question = Random.new %>
          <% random_question = question.rand(3) %>
          <div class="eight columns offset-by-three end">
            <h3><%= t('feedbacks.titles.captcha') %></h3>
            <p class="info-panel"><%= t('feedbacks.messages.info_panels.new') %></p>
            <p class="question"><%= captcha_questions[random_question] %></p>
          </div>
          <div class="eight columns offset-by-three end <%= field_has_error?(@feedback, :captcha) %>">
            <% captcha_anwsers[random_question].each_with_index do |answer, index| %>
              <div class="radio-button">
                <%= f.radio_button :captcha, answer, :id => "captcha_anwser_#{index}" %><%= label_tag "captcha_anwser_#{index}", answer %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="eight columns offset-by-three">
            <div class="form-actions">
              <%= f.submit t('feedbacks.actions.new'), :class => 'button' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
