<div class="twelve columns">
  <%= form_for([:admin, @product], :html => { :class => 'admin-form product-form' }) do |f| %>
    <div class="row">
      <div class="six columns centered">
        <div class="row">
          <div class="four columns">
            <%= f.label :name, :class => 'inline right required' %>
          </div>
          <div class="eight columns end <%= field_has_error?(@product, :name) %>">
            <%= f.text_field :name, :class => field_has_error?(@product, :name) %>
            <%= field_errors @product, :name %>
          </div>
        </div>
        <div class="row">
          <div class="eight columns end offset-by-four">
            <div class="checkbox">
              <%= f.check_box :public %> <%= f.label :public %>
            </div>
          </div>
        </div>
        <% if !@product.new_record? %>
          <div class="row">
            <div class="four columns">
              <%= f.label :orders, :class => 'inline right' %>
            </div>
            <div class="eight columns">
              <span class="data-label"><%= link_to format_count(@product.orders.count), admin_orders_path(:search => @product.name) %></span>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="four columns">
            <%= f.label :external_url, :class => 'inline right' %>
          </div>
          <div class="eight columns end <%= field_has_error?(@product, :external_url) %>">
            <%= f.text_field :external_url, :class => field_has_error?(@product, :external_url) %>
            <%= field_errors @product, :external_url %>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= f.label :image_url, :class => 'inline right' %>
          </div>
          <div class="eight columns end <%= field_has_error?(@product, :image_url) %>">
            <%= f.text_field :image_url, :class => field_has_error?(@product, :image_url) %>
            <%= field_errors @product, :image_url %>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= f.label :price, :class => 'inline right required' %>
          </div>
          <div class="eight columns end <%= field_has_error?(@product, :price) %>">
            <%= f.number_field :price, :min => '1', :placeholder => '3000', :class => field_has_error?(@product, :price) %>
            <%= field_errors @product, :price %>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= f.label :delivery_price, :class => 'inline right required' %>
          </div>
          <div class="eight columns end <%= field_has_error?(@product, :delivery_price) %>">
            <%= f.number_field :delivery_price, :min => '1', :placeholder => '500', :class => field_has_error?(@product, :delivery_price) %>
            <%= field_errors @product, :delivery_price %>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <%= f.label :free_delivery_from_quantity, :class => 'inline right required' %>
          </div>
          <div class="eight columns end <%= field_has_error?(@product, :free_delivery_from_quantity) %>">
            <%= f.number_field :free_delivery_from_quantity, :min => '1', :placeholder => '3', :class => field_has_error?(@product, :free_delivery_from_quantity) %>
            <%= field_errors @product, :free_delivery_from_quantity %>
          </div>
        </div>
        <div class="row">
          <div class="eight columns offset-by-four info-panel-field">
            <p class="info-panel"><%= t('admin.products.messages.info_panels.free_delivery_from_quantity') %></p>
          </div>
        </div>
        <% if !@product.new_record? %>
          <div class="row">
            <div class="four columns">
              <%= f.label :order_url, :class => 'inline right' %>
            </div>
            <div class="eight columns end">
              <span class="data-label"><%= link_to product_url(@product), product_url(@product) %></span>
            </div>
          </div>
        <% end %>
        <%= spacer_tag('twelve') %>
        <div class="row">
          <div class="twelve columns">
            <%= f.label :excerpt, :class => 'inline' %>
          </div>
        </div>
        <div class="row">
          <div class="twelve columns">
            <%= f.text_area :excerpt, :rows => 5, :class => 'blocked-field editing-textarea' %>
          </div>
        </div>
        <%= spacer_tag('twelve') %>
        <div class="row">
          <div class="twelve columns">
            <%= f.label :description, :class => 'inline' %>
          </div>
        </div>
        <div class="row">
          <div class="twelve columns">
            <%= f.text_area :description, :rows => 14, :class => 'blocked-field editing-textarea' %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="six columns centered">
        <div class="form-actions">
          <%= f.submit @product.new_record? ? t('admin.products.actions.create') : t('admin.products.actions.update'), 'data-behavior' => 'save-button' %>
          <% if policy(@product).destroy? %>
            <%= t('shared.messages.or') %>
            <%= link_to t('shared.actions.destroy'), [:admin, @product], method: :delete, data: { confirm: t('admin.products.messages.confirmations.destroy') } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
