<% cache ['v2', product] do %>
  <tr data-product-id="<%= product.id %>">
    <td class="title three"><%= link_to product.name, edit_admin_product_path(product) %></td>
    <td><%= number_to_currency(product.price) %></td>
    <td><%= number_to_currency(product.delivery_price) %></td>
    <td><%= format_count(product.free_delivery_from_quantity) %> fölött</td>
    <td class="text-centered">
      <%= link_to t('admin.products.actions.filter_orders'), admin_orders_path(:search => product.name) %>
    </td>
  </tr>
<% end %>
