<% content_for :title do %>
  <%= t('admin.products.name') %> &ndash; <%= t('admin.name') %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <div class="twelve columns">
    <div class="row">
      <h2 class="eight columns"><%= t('admin.products.name') %> <%= content_tag :span, "(#{all_products_count(@products)})", :class => 'subtitle' %></h2>
      <div class="four columns">
        <div class="action-group">
          <div class="row">
            <div class="twelve columns">
              <ul class="horizontal right">
                <li><%= link_to t('admin.products.titles.new'), new_admin_product_path %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="twelve columns">
    <table cellspacing="2" class="products-table">
      <thead>
        <tr>
          <th class="three title"><%= t('activerecord.attributes.product.name') %></th>
          <th><%= t('activerecord.attributes.product.price') %></th>
          <th><%= t('activerecord.attributes.product.delivery_price') %></th>
          <th><%= t('activerecord.attributes.product.free_delivery_from_quantity') %></th>
          <th class="text-centered"><%= t('shared.actions.name') %></th>
        </tr>
      </thead>

      <tbody>
        <% if !@products.empty? %>
          <% @products.each do |product| %>
            <%= render product %>
          <% end %>
        <% else %>
          <tr>
            <td colspan="5">
              <div class="row empty-notice">
                <div class="six columns centered">
                  <div class="flash-notice notice text-centered"><%= t('admin.products.messages.notices.empty_products') %></div>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="twelve columns text-centered">
      <div class="pagination-container">
        <%= page_navigation_links(@comments) %>
      </div>
    </div>
  </div>
</div>
