<% cache ['v6', restaurant_reservation] do %>
  <tr data-restaurant-reservation-id="<%= restaurant_reservation.id %>" class="<%= 'inactive' if restaurant_reservation.feedback_type == 'email' && !restaurant_reservation.confirmed %>">
    <td class="title three">
      <%= link_to admin_restaurant_reservation_path(restaurant_reservation) do %>
        <% if !restaurant_reservation.restaurant.nil? %>
          <span class="username <%= 'confirmed' if restaurant_reservation.confirmed  %> <%= 'phone' if restaurant_reservation.feedback_type == 'phone' %>"><%= restaurant_reservation.restaurant.title %></span>
        <% else %>
          <span class="username"><%= t('admin.restaurant_reservations.messages.notices.destroyed_restaurant') %></span>
        <% end %>
      <% end %>
    </td>
    <td><%= mail_to restaurant_reservation.email, restaurant_reservation.email, :encode => 'hex' %></td>
    <td>
      <%= restaurant_reservation.book_at %> <%= restaurant_reservation.book_time %>
    </td>
    <td class="text-centered"><time><%= l restaurant_reservation.created_at, :format => :short %></time></td>
    <td class="text-centered">
      <%= link_to t('shared.actions.destroy'), [:admin, restaurant_reservation], method: :delete, data: { confirm: t('admin.restaurant_reservations.messages.confirmations.destroy'), :remote => true } %>
    </td>
  </tr>
<% end %>
