<% content_for :title do %>
  <%= t('admin.restaurant_reservations.name') %> &ndash; <%= t('admin.name') %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <div class="twelve columns">
    <div class="row">
      <h2 class="eight columns"><%= t('admin.restaurant_reservations.name') %> <%= content_tag :span, "(#{all_restaurant_reservations_count(@restaurant_reservations)})", :class => 'subtitle' %></h2>
      <div class="four columns">
        <div class="action-group">
          <%= form_tag admin_restaurant_reservations_path, :method => :get, :class => 'search-form', 'data-behavior' => 'table-filter' do %>
            <%= text_field_tag :search, params[:search], :placeholder => t('shared.placeholders.filter_table'), :class => 'search-keyword' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="twelve columns">
    <table cellspacing="2" class="restaurant-reservations-table">
      <thead>
        <tr>
          <th class="three title"><%= t('activerecord.attributes.restaurant_reservation.restaurant') %></th>
          <th><%= t('activerecord.attributes.restaurant_reservation.email') %></th>
          <th><%= t('activerecord.attributes.restaurant_reservation.book_at') %></th>
          <th class="text-centered two"><%= t('activerecord.attributes.restaurant_reservation.created_at') %></th>
          <th class="text-centered"><%= t('shared.actions.name') %></th>
        </tr>
      </thead>

      <tbody>
        <% if !@restaurant_reservations.empty? %>
          <% @restaurant_reservations.each do |restaurant_reservation| %>
            <%= render restaurant_reservation %>
          <% end %>
        <% else %>
          <tr>
            <td colspan="5">
              <div class="row empty-notice">
                <div class="six columns centered">
                  <div class="flash-notice notice text-centered"><%= t('admin.restaurant_reservations.messages.notices.empty_restaurant_reservations') %></div>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="twelve columns text-centered">
      <div class="pagination-container">
        <%= page_navigation_links(@restaurant_reservations) %>
      </div>
    </div>
  </div>
</div>
