<% content_for :title do %>
  <%= t('admin.restaurant_reservations.titles.show') %> &ndash; <%= t('admin.name') %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <div class="three columns">
    <div class="action-group">
      <ul class="horizontal">
        <li><%= link_to t('admin.restaurant_reservations.actions.back').html_safe, admin_restaurant_reservations_path() %></li>
      </ul>
    </div>
  </div>
  <h2 class="six columns end"><%= t('admin.restaurant_reservations.titles.show') %></h2>
  <div class="twelve columns">
    <div class="row">
      <div class="six columns centered">
        <div class="row">
          <div class="four columns">
            <%= label_tag 'restaurant', t('helpers.label.restaurant_reservation.restaurant'), :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <span class="data-label">
              <% if !@restaurant_reservation.restaurant.nil? %>
                <%= link_to @restaurant_reservation.restaurant.title, restaurant_path(@restaurant_reservation.restaurant) %>
              <% else %>
                <%= t('admin.restaurant_reservations.messages.notices.destroyed_restaurant') %>
              <% end %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="six columns centered">
        <div class="row">
          <div class="four columns">
            <%= label_tag 'email', t('helpers.label.restaurant_reservation.email'), :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <span class="data-label"><%= mail_to @restaurant_reservation.email, @restaurant_reservation.email, :encode => 'hex' %></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="six columns centered">
        <div class="row">
          <div class="four columns">
            <%= label_tag 'name', t('helpers.label.restaurant_reservation.name'), :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <span class="data-label"><%= @restaurant_reservation.name %></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="six columns centered">
        <div class="row">
          <div class="four columns">
            <%= label_tag 'feedback_type', t('helpers.label.restaurant_reservation.feedback_type'), :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <% if @restaurant_reservation.feedback_type == 'email' %>
              <span class="data-label"><%= t('helpers.label.restaurant_reservation.feedback_types.in_email') %></span>
            <% elsif @restaurant_reservation.feedback_type == 'phone' %>
              <span class="data-label"><%= t('helpers.label.restaurant_reservation.feedback_types.on_phone') %></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% if @restaurant_reservation.feedback_type != 'phone' %>
      <div class="row">
        <div class="six columns centered">
          <div class="row">
            <div class="four columns">
              <%= label_tag 'confirmed', t('helpers.label.restaurant_reservation.confirmed'), :class => 'inline right' %>
            </div>
            <div class="eight columns end">
              <span class="data-label"><%= @restaurant_reservation.confirmed ? t('shared.messages.boolean_true') : t('shared.messages.boolean_false') %></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="six columns centered">
        <div class="row">
          <div class="four columns">
            <%= label_tag 'book_at', t('helpers.label.restaurant_reservation.book_at'), :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <span class="data-label"><%= @restaurant_reservation.book_at %> <%= @restaurant_reservation.book_time %></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="six columns centered">
        <div class="row">
          <div class="four columns">
            <%= label_tag 'number_of_persons', t('helpers.label.restaurant_reservation.number_of_persons'), :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <span class="data-label"><%= @restaurant_reservation.number_of_persons %></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="six columns centered">
        <div class="row">
          <div class="four columns">
            <%= label_tag 'phone', t('helpers.label.restaurant_reservation.phone'), :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <span class="data-label"><%= @restaurant_reservation.phone %></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="six columns centered">
        <div class="row">
          <div class="four columns">
            <%= label_tag 'comment', t('helpers.label.restaurant_reservation.comment'), :class => 'inline right' %>
          </div>
          <div class="eight columns end">
            <span class="data-label"><%= @restaurant_reservation.comment %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
