<div class="row">
  <div class="five columns centered">
    <%= form_tag search_path, method: :get, :class => 'search-form' do %>
      <%= text_field_tag :keyword, params[:keyword], :class => 'keyword-field', :placeholder => t('shared.placeholders.search') %>
    <% end %>
  </div>
</div>
