<header class="blog-header">
  <div class="row">
    <h2 class="ten columns offset-by-two">
      <%= link_to t('amuva.name'), amuva_posts_path, :class => 'blog-logo' %>
    </h2>
  </div>
</header>

<header class="row amuva-tags">
  <div class="twelve columns blog-navigation">
    <div class="inner">
      <ul>
        <li><%= link_to 'magyar', amuva_tag_path('magyar') %></li>
        <li><%= link_to '2000 alatt', amuva_tag_path('2000_alatt') %></li>
        <li><%= link_to 'csoportteszt', amuva_tag_path('csoportteszt') %></li>
        <li><%= link_to 'a legjobb vételek', amuva_post_path('a-legjobb-vetelek-2018-tavasz') %></li>
      </ul>
    </div>
  </div>
  <% render_embedded_page('amuva-fejlec-hirdetes') %>
</header>
