<% content_for :title do %>
  <%= @post.title %> &ndash; <%= t('amuva.name') %> &ndash; <%= site_title %>
<% end  %>
<% content_for(:og_description) { @post.excerpt } %>
<% content_for(:og_type) { "article" } %>
<% if has_thumbnail_image?(@post) %>
  <% content_for(:og_image) { thumbnail_image_for @post } %>
<% end %>

<%= render :partial => 'amuva_posts/header' %>

<div class="row">
  <div class="eight columns centered">
    <%= render :partial => 'amuva_posts/post', :locals => { :post => @post } %>
    <% if !@post.not_commentable? %>
      <div class="comments" id="comments">
        <h3 class="comments-title" data-behavior="comments-counter">
          <% if @post.comments.count == 0 %>
            <%= t('comment.titles.empty_counter') %>
          <% else %>
            <%= t('comment.titles.form_counter', :comments_count => @post.comments.count) %>
          <% end %>
          <div class="share-actions right">
            <div class="fb-like" data-href="<%= get_post_url_for @post %>" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-action="recommend"></div>
        </div>
        </h3>

        <% if !user_signed_in? %>
          <p class="info-panel"><%= t('comment.titles.not_logged_in', :new_registration_path => new_user_registration_path).html_safe %></p>
        <% end %>
        <% @post.comments.reverse.each do |comment| %>
          <%= render :partial => 'amuva_comments/comment', :locals => { :comment => comment } %>
        <% end %>
        <% if user_signed_in? %>
          <%= render 'amuva_comments/form' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
