<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= render :partial => 'shared/mailer_styles' %>
    <%= t('newsletter_subscriptions.mailers.newsletter_subscription_confirmation', :url => confirm_newsletter_subscription_url(@newsletter_subscription.token)).html_safe %>
    <%= t('user.mailers.signature', :site_name => CONFIG_SITE_NAME).html_safe %>
    <hr style="border: none; border-top: 1px solid #eee;" />
    <%= t('newsletter_subscriptions.mailers.unsubscribe', :url => newsletter_subscription_url(@newsletter_subscription.token)).html_safe %>
  </body>
</html>
