<h3><%= link_to winery.title, winery_path(winery), :target => is_embedded ? '_blank' : '' %></h3><p><%= winery.postcode %> <%= winery.city %>, <%= winery.address %></p>
<span class="winery-tests">
  <%= render :partial => 'shared/rating_badge', :locals => { :record => winery } %>
</span>
