<% content_for :title do %>
  <%= t('wineries.name') %> &ndash; <%= site_title %>
<% end  %>
<script type="text/javascript">
function initialize_map() {
  var map_center = new google.maps.LatLng(47.11,19.30);
  var mapOptions = {
    scrollwheel: false,
    center: map_center,
    zoom: 7,
    maxZoom: 19,
    panControl: false,
    zoomControl: true,
    zoomControlOptions: {
      position: google.maps.ControlPosition.LEFT_CENTER
    },
    mapTypeControl: true,
    mapTypeControlOptions: {
      position: google.maps.ControlPosition.RIGHT_BOTTOM
    },
    scaleControl: false,
    streetViewControl: false,
    overviewMapControl: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
  <% if !@wineries.empty? %>
    var bounds = new google.maps.LatLngBounds();
  <% end %>

<% @wineries.each do |winery| %>
  <% if has_map?(winery) %>
    <% cache ['v3', 'map', winery] do %>
      var info_text_<%= winery.id %> = document.createElement("div");
      info_text_<%= winery.id %>.style.cssText = "background: #000;";
      info_text_<%= winery.id %>.innerHTML = '<%=j render :partial => 'wineries/map_pin', :locals => { :is_embedded => false, :winery => winery } %>';
      var info_box_style_<%= winery.id %> = {
        content: info_text_<%= winery.id %>,
        disableAutoPan: false,
        boxClass: "infobox",
        maxWidth: 0,
        pixelOffset: new google.maps.Size(-140, 17),
        zIndex: null,
        boxStyle: {
          background: "url('/assets/popover-nub-black.png') top center no-repeat",
          width: "280px"
        },
        closeBoxMargin: "13px 5px 5px 9px",
        closeBoxURL: "/assets/icon-mini-close.png",
        infoBoxClearance: new google.maps.Size(1, 1),
        isHidden: false,
        pane: "floatPane",
        enableEventPropagation: false
      };
      var position_<%= winery.id %> = new google.maps.LatLng(<%= winery.latitude %>, <%= winery.longitude %>);
      var image = {
        url: '/assets/markers/wineries.png',
        size: new google.maps.Size(20.0, 35.0),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(10.0, 17.0),
        scaledSize: new google.maps.Size(20.0, 35.0)
      };
      var shadow = {
        url: '/assets/markers/shadow.png',
        size: new google.maps.Size(38.0, 35.0),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(10.0, 17.0)
      };
      var marker_<%= winery.id %> = new google.maps.Marker({
        position: position_<%= winery.id %>,
        map: map,
        title: '<%= winery.title %>',
        icon: image,
        shadow: shadow
      });

      google.maps.event.addListener(marker_<%= winery.id %>, 'click', function() {
        var info_box_<%= winery.id %> = new InfoBox(info_box_style_<%= winery.id %>);
        info_box_<%= winery.id %>.open(map, marker_<%= winery.id %>);
      });
      bounds.extend(position_<%= winery.id %>);
    <% end %>
  <% end %>
<% end %>
  google.maps.event.addListener(map, 'idle', function(){
    $('.gm-style').removeClass('gm-style');
  });
<% if !@wineries.empty? %>
  map.fitBounds(bounds);
<% end %>
}
</script>

<div id="map-canvas" class="big-map map-canvas map" data-behavior="map-canvas" data-no-turbolink></div>
<div class="database-filter-container">
  <%= form_tag wineries_path, :method => 'get', :class => 'database-filter clearfix row', 'data-behavior' => 'database-filter' do |f| %>
    <div class="twelve columns">
      <div class="row">
        <div class="three columns"><%= text_field_tag :search, params[:search], :class => 'keyword-field', :placeholder => t('wineries.placeholders.keyword'), :autofocus => true %></div>
        <div class="three columns"><%= select_tag :country, options_for_select(Winery::COUNTRIES, :selected => params[:country]), :prompt => t('wineries.placeholders.country'), :class => 'inline-field' %></div>
        <div class="four columns">
          <fieldset class="rating-options">
            <div class="row ratings">
              <div class="rating-option winery-rating-5">
                <%= check_box_tag 'rating[]', '5', params[:rating].present? && params[:rating].include?('5') ? true : false, :title => "#{t('wineries.titles.rating')} 5", 'data-behavior' => 'rating-option' %> <%= label_tag 'rating_5', '5' %>
              </div>
              <div class="rating-option winery-rating-4">
                <%= check_box_tag 'rating[]', '4', params[:rating].present? && params[:rating].include?('4') ? true : false, :title => "#{t('wineries.titles.rating')} 4", 'data-behavior' => 'rating-option' %> <%= label_tag 'rating_4', '4' %>
              </div>
              <div class="rating-option winery-rating-3">
                <%= check_box_tag 'rating[]', '3', params[:rating].present? && params[:rating].include?('3') ? true : false, :title => "#{t('wineries.titles.rating')} 3", 'data-behavior' => 'rating-option' %> <%= label_tag 'rating_3', '3' %>
              </div>
              <div class="rating-option winery-rating-2">
                <%= check_box_tag 'rating[]', '2', params[:rating].present? && params[:rating].include?('2') ? true : false, :title => "#{t('wineries.titles.rating')} 2", 'data-behavior' => 'rating-option' %> <%= label_tag 'rating_2', '2' %>
              </div>
              <div class="rating-option winery-rating-1">
                <%= check_box_tag 'rating[]', '1', params[:rating].present? && params[:rating].include?('1') ? true : false, :title => "#{t('wineries.titles.rating')} 1", 'data-behavior' => 'rating-option' %> <%= label_tag 'rating_1', '1' %>
              </div>
              <%= link_to '?', '#', :class => 'rating-help-popover-toggle', 'data-behavior' => 'rating-help-popover-toggle', :title => t('shared.actions.filter_help') %>
              <div class="popover rating-help-popover" data-behavior="rating-help-popover">
                <div class="popover-inner">
                  <% render_embedded_page 'boraszatok-pontozasa-tabla' %>
                  <% render_embedded_page 'borok-pontozasa-tabla' %>
                  <p><%= link_to get_page_title('a-boraszatok-ertekeleserol'), guide2015_path('a-boraszatok-ertekeleserol'), :class => 'button' %></p>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="two columns"><%= submit_tag t('shared.actions.search'), :class => 'button full-width' %></div>
      </div>
      <div class="row">
        <div class="three columns">
          <%= select_tag :region, '<option value="">Borvidékek…</option>'.html_safe + options_for_select(Winery.winery_regions, params[:region]), { :class => 'inline-field' } %>
        </div>
        <div class="three columns wine-rating-filter">
          <%= select_tag :wine_rating, "<option value=\"\">#{t('wines.placeholders.rating')}</option>".html_safe + options_for_select(Wine.rating_options, params[:wine_rating]), { :class => 'inline-field' } %>
        </div>
        <div class="three columns end wine-genre-filter">
          <%= select_tag :wine_genre, "<option value=\"\">#{t('wines.placeholders.genre')}</option>".html_safe + options_for_select(Wine.genre_options, params[:wine_genre]), { :class => 'inline-field' } %>
        </div>
        <div class="three columns end wine-grape-filter">
          <%= select_tag :wine_grape, "<option value=\"\">#{t('wines.placeholders.grapes')}</option>".html_safe + options_for_select(Wine.grape_options, params[:wine_grape]), { :class => 'inline-field' } %>
        </div>
      </div>
      <% if !winery_params_blank? %>
        <div class="row">
          <div class="twelve columns results-counter">Találatok: <strong><%= @wineries.count %> db</strong></div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="database-results">
    <% if winery_params_blank? %>
      <div class="start-search">
        <%= t('wineries.messages.notices.start_search', :wineries_count => format_count(@wineries.size)).html_safe %>
        <ul class="square">
          <li><%= link_to 'Tokaj-hegyaljai', wineries_path(:region => 'Tokaj-hegyaljai') %></li>
          <li><%= link_to 'Bükkaljai', wineries_path(:region => 'Bükkaljai') %></li>
          <li><%= link_to 'Egri', wineries_path(:region => 'Egri') %></li>
          <li><%= link_to 'Mátraaljai', wineries_path(:region => 'Mátraaljai') %></li>
          <li><%= link_to 'Kiskunsági', wineries_path(:region => 'Kiskunsági') %></li>
          <li><%= link_to 'Hajós-Bajai', wineries_path(:region => 'Hajós-Bajai') %></li>
          <li><%= link_to 'Szekszárdi', wineries_path(:region => 'Szekszárdi') %></li>
          <li><%= link_to 'Villányi', wineries_path(:region => 'Villányi') %></li>
          <li><%= link_to 'Mecsekaljai', wineries_path(:region => 'Mecsekaljai') %></li>
          <li><%= link_to 'Etyek-Budai', wineries_path(:region => 'Etyek-Budai') %></li>
          <li><%= link_to 'Ászár-Neszmélyi', wineries_path(:region => 'Ászár-Neszmélyi') %></li>
          <li><%= link_to 'Móri', wineries_path(:region => 'Móri') %></li>
          <li><%= link_to 'Balatonfüred-Csopaki', wineries_path(:region => 'Balatonfüred-Csopaki') %></li>
          <li><%= link_to 'Badacsonyi', wineries_path(:region => 'Badacsonyi') %></li>
          <li><%= link_to 'Határon túli', wineries_path(:region => 'Határon túli') %></li>
          <li><%= link_to 'Zalai', wineries_path(:region => 'Zalai') %></li>
          <li><%= link_to 'Somlói', wineries_path(:region => 'Somlói') %></li>
          <li><%= link_to 'Pannonhalmai', wineries_path(:region => 'Pannonhalmai') %></li>
          <li><%= link_to 'Soproni', wineries_path(:region => 'Soproni') %></li>
          <li><%= link_to 'Dél-balatoni', wineries_path(:region => 'Dél-balatoni') %></li>
        </ul>
      </div>
    <% else %>
      <% if !@wineries.empty? %>
        <ul class="plain record-tiles" data-behavior="record-tiles" data-no-turbolink>
          <% @wineries.each do |winery| %>
            <li class="result">
              <%= link_to winery_path(winery) do %>
                <% if params[:wine_rating].blank? && params[:wine_genre].blank? && params[:wine_grape].blank? %>
                  <div class="rating-container">
                    <%= render :partial => 'shared/rating_badge', :locals => { :record => winery } %>
                  </div>
                <% end %>
                <span class="title"><%= winery.title %></span>
                <span class="address"><%= winery.postcode %> <%= winery.city %>, <%= winery.address %></span>
                <% if !params[:wine_rating].blank? || !params[:wine_genre].blank? || !params[:wine_grape].blank? %>
                  <ul class="wines">
                    <% winery.wines.by_rating(params[:wine_rating]).by_grape(params[:wine_grape]).by_genre(params[:wine_genre]).each do |wine| %>
                      <li>
                        <span class="wine-title <%= "best-buy" if wine.best_buy %>">
                          <span class="wine-rating"><%= t('shared.counts.rating', :number => wine.rating) %></span>
                          <%= wine.title %>
                        </span>
                        <span class="wine-details">
                          <% if !wine.price.blank? %>
                            <span class="wine-price"><%= number_to_currency wine.price %></span>
                          <% end %>
                        </span>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="start-search"><%= t('wineries.messages.notices.not_found') %></p>
      <% end %>
    <% end %>
  </div>
</div>
