<% content_for :title do %>
  <%= @winery.title %> &ndash; <%= t('wineries.name') %> &ndash; <%= site_title %>
<% end  %>
<div class="row database-entry post" itemscope itemtype="http://schema.org/Winery">
  <div class="twelve columns">
    <div class="row">
      <div class="eight columns">
        <h2>
          <%= link_to t('wineries.name'), wineries_path(session[:last_wineries_filter]) %>
          <span class="subtitle"> / <span itemprop="name"><%= link_to @winery.title, winery_path(@winery) %></span></span>
        </h2>
      </div>
      <% if user_signed_in? %>
        <div class="four columns">
          <ul class="button-panel">
            <li><%= render :partial => 'favourites/favourite', :locals => { :kind => 'winery', :record_id => @winery.id } %></li>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="four columns database-entry-sidebar">
        <div class="inner">
          <% if !@winery.parent.winery_images.paid.empty? %>
            <div class="row">
              <div class="twelve columns paid-winery-image">
                <% @winery.parent.winery_images.paid.each do |image| %>
                  <%= image_tag winery_image_url(image, 'medium'), 'itemprop' => 'image' %>
                <% end %>
              </div>
            </div>
          <% end %>
          <% if has_map?(@winery) %>
            <script type="text/javascript">
              function initialize_map() {
                var map_center = new google.maps.LatLng(<%= @winery.latitude %>,<%= @winery.longitude %>);
                var mapOptions = {
                  center: map_center,
                  zoom: 13,
                  panControl: false,
                  zoomControl: true,
                  mapTypeControl: false,
                  scaleControl: false,
                  streetViewControl: false,
                  overviewMapControl: false,
                  scrollwheel: false,
                  mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("map-canvas"),
                    mapOptions);
                var image = {
                  url: '/assets/markers/wineries.png',
                  size: new google.maps.Size(20.0, 35.0),
                  origin: new google.maps.Point(0, 0),
                  anchor: new google.maps.Point(10.0, 17.0),
                  scaledSize: new google.maps.Size(20.0, 35.0)
                };
                var shadow = {
                  url: '/assets/markers/shadow.png',
                  size: new google.maps.Size(38.0, 35.0),
                  origin: new google.maps.Point(0, 0),
                  anchor: new google.maps.Point(10.0, 17.0)
                };
                var marker = new google.maps.Marker({
                  position: map_center,
                  map: map,
                  title: '<%= @winery.title %>',
                  icon: image,
                  shadow: shadow
                });
              }
            </script>
            <div id="map-canvas" class="map-canvas" data-behavior="map-canvas"></div>
          <% end %>
          <h2><%= t('wineries.titles.address') %></h2>
          <ul class="plain">
            <li class="database-icon address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="postalCode"><%= @winery.postcode %></span> <span itemprop="addressLocality"><%= @winery.city %></span>, <span itemprop="streetAddress"><%= @winery.address %></span></li>
            <li class="database-icon phone" itemprop="telephone"><%= check_empty_entry_data @winery.phone_1 %></li>
            <li class="database-icon fax" itemprop="faxNumber"><%= check_empty_entry_data @winery.phone_2 %></li>
          </ul>
          <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
            <meta itemprop="latitude" content="<%= @winery.latitude %>" />
            <meta itemprop="longitude" content="<%= @winery.longitude %>" />
          </div>
          <ul>
            <li class="database-icon open-result"><%= check_empty_entry_data @winery.open_result %>
            <% if !@winery.taste_time.blank? %>
              <li class="database-icon taste-time">
                kóstoló <%= check_empty_entry_data @winery.taste_time %>
              </li>
            <% end %>
            <% if !@winery.def_people_one_name.blank? %>
              <li class="database-icon people"><%= @winery.def_people_one_name %> &ndash; <%= @winery.def_people_one_title %></li>
            <% end %>
            <% if !@winery.def_people_two_name.blank? %>
              <li class="database-icon people"><%= @winery.def_people_two_name %> &ndash; <%= @winery.def_people_two_title %></li>
            <% end %>
            <% if !@winery.def_people_three_name.blank? %>
              <li class="database-icon people"><%= @winery.def_people_three_name %> &ndash; <%= @winery.def_people_three_title %></li>
            <% end %>
          </ul>
          <h2><%= t('wineries.titles.web_contact') %></h2>
          <ul class="plain">
            <li class="database-icon website" itemprop="url"><%= check_link_for @winery.website %></li>
            <li class="database-icon email" itemprop="email"><%= check_mail_link_for @winery.email %></li>
            <li class="database-icon facebook" itemprop="url"><%= check_link_for @winery.facebook %></li>
            <li class="database-icon twitter" itemprop="url"><%= check_link_for @winery.twitter%></li>
          </ul>
          <ul class="plain">
            <li><%= link_to t('shared.actions.error_report').html_safe, new_feedback_path(:is_error_reporting => true, :record_name => @winery.title, :record_id => @winery.id, :record_kind => 'winery'), :class => 'button full-width error-report-button' %></li>
          </ul>
        </div>
      </div>
      <div class="eight columns database-entry-body">
        <% if CONFIG_HIDE_WINERY_TESTS %>
          <div class="not-tested-yet">
            <h2><%= t('wineries.titles.test_not_available') %></h2>
            <%= t('wineries.messages.info_panels.test_not_available', :contact_page_path => page_path('kapcsolat'), :new_order_path => new_product_order_path(@gm_guide_product)).html_safe %>
          </div>
        <% else %>
          <div class="row">
            <div class="winery-entry twelve columns">
              <%= render :partial => 'shared/rating_badge', :locals => { :record => @winery } %>
              <%= simple_format @winery.description unless @winery.description.empty? %>
              <% if @winery.speciality != '' %>
                <div class="row main-statistics">
                  <div class="twelve columns">
                    <%= label_tag :speciality ,t('wineries.attributes.speciality'), :class => 'inline with-icon speciality' %>
                    <span class="data-label inline"><%= @winery.speciality %></span>
                  </div>
                </div>
              <% end %>
              <% if !@winery.wines.empty? %>
                <div class="row winery-tests">
                  <h2 class="twelve columns"><%= t('wineries.titles.wines') %></h2>
                  <div class="twelve columns">
                    <div class="row">
                      <% @winery.wines.each do |wine| %>
                        <%= render partial: 'wines/wine_excerpt', locals: { wine: wine } %>
                      <% end %>
                    </div>
                  </div>
                  <% if public_winery?(@winery.child) %>
                    <div class="last-year-tests-container twelve columns">
                      <div class="row">
                        <div class="twelve columns">
                          <%= link_to t('wineries.actions.toggle_last_year_tests', :year => '2016-os'), '#', :class => 'button toggle-last-year-tests', 'data-behavior' => 'toggle-last-year-tests', 'data-toggle' => '.2016-tests' %>
                        </div>
                      </div>
                      <div class="last-year-tests 2016-tests">
                        <div class="row">
                          <% @winery.child.wines.each do |wine| %>
                            <%= render partial: 'wines/wine_excerpt', locals: { wine: wine } %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <div class="twelve columns">
                      <div class="panel">
                        <div class="row">
                          <h2 class="twelve columns"><%= t('wineries.titles.comparison') %></h2>
                          <div class="six columns end">
                            <h3 class="wines-title">2017</h3>
                            <div class="row">
                              <% @winery.wines.each do |wine| %>
                                <%= render wine %>
                              <% end %>
                            </div>
                          </div>
                          <div class="six columns last-years-wines">
                            <h3 class="wines-title">2016</h3>
                            <div class="row">
                              <% @winery.child.wines.each do |wine| %>
                                <%= render wine %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
