$baseScale: 1.65em;
$smallBreakPoint: 740px;
$mediumBreakPoint: 990px;
$largeBreakPoint: 1080px;
$mediumHeightBreakPoint: 600px;
$largeHeightBreakPoint: 1100px;

/* Colors schema---------------------- */
$whiteColor: #fff;
$blackColor: #000;

$redColor: #D40008;
$greenColor: green;
$blueColor: #5C8AF9;

$primaryBackgroundColor: #f6f6f6;
$secondaryBackgroundColor: #eee;

$primaryColor: #D40008;;
/* Gyári logo piros: #bf192e; */
$secondaryColor: #F2B500;
$primaryLightColor: rgba($blackColor, 0.035);
$secondaryLightColor: lighten(#FFC800, 30%);
$primaryDarkColor: #3F4E58;
$secondaryDarkColor: #DB4105;
$footerLinkColor: #333;

$guidesColor: #F2B500;
$restaurantsColor: #F2B500;
$hotelsColor: #71A384;
$wineriesColor: #D17C9C;
$recipesColor: #47628D;
$amuvaColor: #7E2949;
$bszColor: #A0ACBC;
$mhColor: #965028;
$newsColor: $primaryColor /* Régi: #493839 */;

$restaurantsLinkColor: darken($restaurantsColor, 20%);
$hotelsLinkColor: darken($hotelsColor, 20%);
$wineriesLinkColor: darken($wineriesColor, 15%);
$amuvaLinkColor: $amuvaColor;
$bszLinkColor: darken($bszColor, 20%);
$mhLinkColor: $mhColor;
$recipesLinkColor: darken($recipesColor, 5%);

/* Font Settings ---------------------- */
$fontFamily: "lft-etica", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$fontSize: 1em;
$tinyFontSize: 0.75rem;
$smallFontSize: 0.85rem;
$mediumFontSize: 1rem;
$bigFontSize: 1.3rem;

$primaryFontColor: #555;
$secondaryFontColor: #888;
$lightFontColor: #aaa;
$primaryHeaderColor: #333;
$secondaryHeaderColor: #ccc;

/* Borders ---------------------- */
$smallBorderRadius: 0.18rem;
$bigBorderRadius: 0.25rem;
$darkBorderColor: rgba($blackColor, 0.1);
$lightBorderColor: rgba($blackColor, 0.065);
$separatorColor: #e7e7e7;

/* Forms ---------------------- */
$inputFontFamily: "lft-etica", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$inputFontSize: 0.85rem;
$inputFontColor: #555;
$inputPlaceholderColor: #ccc;

/* Mixins ---------------------- */

@mixin antialiased {
  -webkit-font-smoothing: antialiased;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($params) {
  -webkit-animation: #{$params};
  -moz-animation: #{$params};
  -ms-animation: #{$params};
  -o-animation: #{$params};
  animation: #{$params};
}

@mixin text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: image-url($image) !important;
    @include background-size($width $height !important);
  }
}
