/* Loader ---------------------- */
@include keyframes(scaleLoader) {
  from {
    @include transform(scale(1));
    opacity: 0.35;
  }

  50% {
    @include transform(scale(1.15));
    opacity: 0.5;
  }

  to {
    @include transform(scale(1));
    opacity: 0.35;
  }
}

.js {
  .loader {
    visibility: visible;
    position: fixed;
    z-index: 9999;
    display: block;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
    opacity: 0.5;
    background-color: $blackColor;
    background-image: image-url('loader.svg');
    background-position: center center;
    background-repeat: no-repeat;
    @include background-size(28px 42px);
    @include border-radius(100%);
    @include animation(scaleLoader 1.15s ease-in-out infinite);
  }
}

.js.loaded {
  .loader {
    opacity: 0;
    visibility: hidden;
    @include animation(none);
  }
}
