/* Pagination ---------------------- */

.pagination-container {
  display: inline-block;
  margin: 0 auto;
}

.pagination {
  display: block;
  height: $baseScale;
  margin-top: 1*$baseScale;

  a {
    margin-left: 2px;
    margin-right: 2px;
    padding: 2px 8px;
    @include border-radius($smallBorderRadius);

    &:hover {
      text-decoration: none;
    }
  }

  .current a {
    color: $whiteColor;
    background-color: $primaryDarkColor;
  }

  .unavailable a {
    color: $lightFontColor;

    &:hover {
      background-color: transparent;
    }
  }
}
