@media print {
  body {
    font-size: $tinyFontSize;

    &.recipes {
      font-size: 11px;

      p, ul, ol, blockquote {
        line-height: 1.2em;
        margin-bottom: 1.2em;
      }
    }
  }

  a {
    color: $blackColor;
  }

  .navigation,
  .bottom,
  .breadcrumb,
  .blog-header,
  .blog-navigation,
  .bsz-footer,
  .comments,
  .share-actions,
  .post-meta-icon,
  .related-posts,
  .related-recipes {
    display: none !important;
  }

  .post-meta {
    font-size: $smallFontSize !important;
  }

  .embedded-title {
    color: $blackColor !important;
    border-left: 4px solid $recipesColor !important;
    background: none !important;
    @include border-radius(none);
  }

  .content {
    width: 100%;
    margin: 0 auto;
  }

  .recipes {
    .post-meta {
      display: none;
    }

    .columns {
      width: 75% !important;
    }

    figure {
      display: none;
    }

    figure:first-child {
      display: block;
      float: left;
      width: 30% !important;
      margin-right: 8%;
      margin-bottom: 10px;

      figcaption {
        display: none;
      }
    }

    .embedded-recipe {
      @include clearfix;
    }
  }
}
