/* Typography ---------------------- */
html {
  text-rendering: optimizeLegibility;
}

p, ul, ol {
  line-height: $baseScale;
  margin: 0 0 $baseScale 0;

  small {
    display: inline-block;
    line-height: 0.9*$baseScale;
  }
}

ul {
  &.plain {
    padding: 0;
    list-style: none;
  }

  &.horizontal {
    padding: 0;
    list-style: none;
    li {
      display: inline;
      float: left;
    }
  }

  &.square {
    list-style: square outside;
    padding-left: 1*$baseScale;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $primaryHeaderColor;
}

table {
  width: 100%;
  margin-bottom: $baseScale;
  font-size: $smallFontSize;
  @include box-shadow(0 0 0 2px $lightBorderColor);

  thead {
    font-size: $mediumFontSize;
    tr {
      background-color: $primaryLightColor;
    }

    th {
      padding: 8px;
      text-align: left;
      border: 2px solid $primaryBackgroundColor;
    }
  }

  td {
    vertical-align: baseline;
    padding: 8px;
    border: 2px solid $primaryBackgroundColor;
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: lighten($primaryLightColor, 2%);
      }
    }
  }
}

.subtitle {
  font-weight: normal;
  color: $secondaryHeaderColor;
}

.info-panel {
  padding-left: 20px;
  font-size: $smallFontSize;
  color: $lightFontColor;
  background: image-url("icon-mini-info.png") left 3px no-repeat;
  @include image-2x("icon-medium-info.png", 16px, 16px);


  &.without-icon {
    padding-left: 0;
    background: none;
  }

  &.error {
    padding: 0.25*$baseScale 0.5*$baseScale;
    color: $whiteColor;
    font-weight: bold;
    background-image: none;
    background-color: $redColor;
    @include border-radius($smallBorderRadius);
  }

  strong, mark {
    color: $secondaryFontColor;
  }
}

.success-panel {
  padding: 0.5*$baseScale;
  padding-left: 2.25*$baseScale;
  background: $secondaryColor image-url('icon-success.png') 0.5*$baseScale 0.5*$baseScale no-repeat;
  @include image-2x("icon-success@2x.png", 32px, 32px);
  @include box-shadow(inset 0 0 0 1px rgba(0,0,0,0.085));

  h1, h2, h3, h4, h5, h6, p, label, strong {
    color: darken($secondaryColor, 30%);
  }

  .data-label {
    color: darken($secondaryColor, 20%);
  }

  .button {
    background-color: rgba($blackColor, 0.25);

    &:active {
      background-color: rgba($blackColor, 0.35);
    }
  }
}

hr {
  display: block;
  height: 0;
  border: 0;
  border-top: 1px solid $separatorColor;
  margin: 1em 0;
  padding: 0;

  &.big-separator {
    margin: 1.5*$baseScale 0;

    &:before {
      content: " ";
      display: block;
      position: relative;
      margin-left: 50%;
      margin-top: -0.775*$baseScale;
      left: -0.75*$baseScale;
      width: 1.5*$baseScale;
      height: 1.5*$baseScale;
      background: $separatorColor image-url('navigation-icons/restaurants.png') center center no-repeat;
      @include border-radius(1.5*$baseScale);
      @include box-shadow(inset 0 1px 2px $lightBorderColor);
    }
  }
}

img {
  vertical-align: middle;
}

.text-right {
  text-align: right;
}
