/* Admin ---------------------- */
$secondaryDarkColor: lighten($blueColor, 10%);
$tertiaryDarkColor: lighten(#3F4E58, 25%);

.admin {
  background-color: $primaryBackgroundColor;

  .navigation, .hamburger {
    background-color: $primaryDarkColor;
  }

  .application {
    padding-bottom: 2*$baseScale;
  }

  .post-filter-label {
    background-color: $primaryLightColor;
  }

  table {
    .actions {
      white-space: nowrap;
    }

    .title {
      a {
        display: block;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .not-published {
      color: $lightFontColor;
    }


    &.users-table, &.comments-table, &.orders-table, &.posts-table, &.products-table, &.restaurant-reservations-table {
      td {
        vertical-align: middle;

        .comment-excerpt {
          margin-top: 0.5*$baseScale;
          margin-bottom: 0;
          word-wrap: break-word;
        }
      }
    }

    &.posts-table {
      .post-preview-container {
        line-height: 1.45*$baseScale;
      }
    }

    &.restaurant-reservations-table {
      .username {
        display: block;
        padding-left: 1.45*$baseScale;
        line-height: 1.45*$baseScale;
        background-position: left center;
        background-repeat: no-repeat;
        background-image: image-url('database-icons/restaurant-reservation-unconfirmed.png');
        @include text-overflow;

        &.confirmed, &.phone {
          font-style: normal;

          a {
            font-weight: bold;
          }
        }

        &.confirmed {
          background-image: image-url('database-icons/restaurant-reservation-confirmed.png');
        }

        &.phone {
          background-image: image-url('database-icons/restaurant-reservation-phone.png');
        }
      }
    }

    &.orders-table {
      .order-icon {
        display: inline-block;
        position: relative;
        width: 16px;
        height: 16px;
        top: 2px;
        margin-left: 0.25*$baseScale;
        background-position: center center;
        background-repeat: no-repeat;

        &.post-identifier {
          background-image: image-url('order-statuses/post-identifier.png');
        }

        &.comment {
          background-image: image-url('order-statuses/comment.png');
        }
      }
      .order-status-select-container, .order-paid-checkbox-container {
        height: auto;
        float: left;
      }

      .order-status-select-container {
        width: 70%;
        margin-right: 4%;

        select {
          width: 100%;
        }
      }

      .order-paid-checkbox-container {
        margin-top: -6px;
        width: 25%;
        @include text-overflow;

        .order-paid label {
          background-image: image-url('order-statuses/paid.png');
        }
      }

      .order-status .title {
        padding-left: 1.15*$baseScale;
        background-position: 0.35*$baseScale center;
        background-repeat: no-repeat;
      }

      @each $order-status in "new", "mailed", "received", "buyer-received", "resigned" {
        .order-status.#{$order-status} .title {
          background-image: image-url("order-statuses/#{$order-status}.png");
        }
      }

      .order-status.new .username {
        font-weight: bold;
      }

      .order-status.resigned {
        opacity: 0.25;
        .username {
          text-decoration: line-through;
        }
      }
    }

    th:not(.title),
    td:not(.title) {
      @media screen and (max-width: $smallBreakPoint) {
        display: none;
      }
    }
  }

  .action-group {
    margin-top: 1.05*$baseScale;
    font-size: $smallFontSize;

    @media screen and (max-width: $smallBreakPoint) {
      margin-top: 0;

      .search-form {
        margin-bottom: 1*$baseScale;
      }
    }

    .search-form {
      margin-top: -0.4*$baseScale;
    }

    ul.right {
      @media screen and (max-width: $smallBreakPoint) {
        float: left;
      }
    }

    a {
      text-decoration: underline;
    }

    select {
      width: 100%;
    }
  }

  .form-actions {
    font-size: $tinyFontSize;
  }

  .empty-notice {
    margin-top: $baseScale;
    margin-bottom: $baseScale;

    .flash-notice {
      margin-bottom: 0;
    }
  }

  .ui-autocomplete {
    font-size: $smallFontSize;

    a:hover {
      background-color: $blueColor;
    }
  }

  .editing-textarea {
    font-family: monospace;
    font-size: $mediumFontSize;
  }

  .main-post {
    margin-bottom: 0.75*$baseScale;
  }

  &.home_blocks {
    .tile-icon {
      display: block;
      position: absolute;
      width: 24px;
      height: 24px;
      top: 12px;
      font-size: 14px;
      text-indent: -9999px;
      border: none;
      cursor: pointer;
      opacity: 0.2;
      background-position: center center;
      background-repeat: no-repeat;
      pointer-events: all;
      @include transition(opacity 0.15s ease-out);

      &.handle {
        left: 58px;
        background-image: image-url('block-icons/drag.png');
        @include image-2x("block-icons/drag@2x.png", 16px, 16px);
      }

      &.edit {
        left: 25px;
        background-image: image-url('block-icons/edit.png');
        @include image-2x("block-icons/edit@2x.png", 16px, 16px);
      }

      &.delete {
        right: 25px;
        background-image: image-url('block-icons/delete.png');
        @include image-2x("block-icons/delete@2x.png", 16px, 16px);
      }

      &.insert {
        width: auto;
        height: 33px;
        left: 15px;
        right: 15px;
        top: -33px;
        background-image: image-url('icon-block-editor-add.png');
      }

      &:hover {
        opacity: 1;
      }
    }

    .restaurant_reservation_block {
      .handle {
        left: 25px;
      }
    }

    .add-new-home-block {
      display: block;
      margin-top: 24px;
      padding: 10px;
      padding-left: 32px;
      background: $primaryLightColor image-url("icon-block-editor-add.png") 10px center no-repeat;
      @include border-radius(3px);
    }

    .ui-sortable-helper {
      .insert {
        display: none;
      }
    }

    .post {
      h1 {
        line-height: 1.2em;
      }

      .post-tile-inner {
        padding-top: 1.575*$baseScale;
      }

      .choose-home-block-post {
        margin-bottom: 0.25*$baseScale;
      }

      &.hirdetesek {
        .post-header {
          h1 a {
            color: $whiteColor;
          }

          .post-meta {
            display: none;
          }
        }
      }
    }

    .main-post-container {
      margin-bottom: 0.15*$baseScale;

      .homeblock-form {
        margin-bottom: 1*$baseScale;
      }

      .edit {
        left: 11px;
        background-color: $whiteColor;
        opacity: 0.75;
      }

      .post {
        height: auto;
        border: none;
      }
    }
  }

  &.posts {
    .post-category-container {
      &.three {
        @media screen and (max-width: $smallBreakPoint) {
          width: 50%;
        }

        .post-category {
          @include background-size(35% auto);
        }
      }

      &.six {
        .post-category {
          padding-bottom: 42.5% !important;
          @include background-size(cover);
        }
      }
    }

    .post-category {
      display: block;
      height: 0;
      padding-bottom: 85%;
      margin-bottom: 1*$baseScale;
      background-color: $secondaryDarkColor;
      background-position: center center;
      background-repeat: no-repeat;
      @include transition(opacity 0.15s ease-out);

      &.buvos-szakacs {
        background-color: $bszColor;
        background-image: image-url('headers/bg-bsz.jpg');
      }

      &.a-muvelt-alkoholista {
        background-color: $amuvaColor;
        background-image: image-url('headers/bg-amuva.jpg');
      }

      &.mese-habbal {
        background-color: $mhColor;
        background-image: image-url('headers/bg-mh.jpg');
      }

      &.hirek {
        background-color: $newsColor;
        background-image: image-url('headers/bg-news.jpg');
      }

      &.receptek {
        background-image: image-url('post-category/recipes.png');
      }

      &.oldalak {
        background-image: image-url('post-category/pages.png');
      }

      &.kalauz-2012, &.kalauz-2013, &.kalauz-2014, &.kalauz-2015, &.kalauz-2016, &.kalauz-2017 {
        background-image: image-url('post-category/guide.png');
      }

      &.hirdetesek {
        background-image: image-url('post-category/ads.png');
      }

      &.beagyazott {
        background-image: image-url('post-category/embedded.png');
      }

      &:hover {
        opacity: 0.85;
      }

      span {
        position: absolute;
        bottom: 1.17*$baseScale;
        left: 15px;
        right: 15px;
        display: block;
        padding: 5px;
        font-size: $smallFontSize;
        font-weight: bold;
        color: #fff;
        text-align: center;
        background-color: rgba(0,0,0,0.75);
        @include antialiased;
        @include text-overflow;

        @media screen and (max-width: $mediumBreakPoint) {
          bottom: 1.25*$baseScale;
        }

        @media screen and (max-width: $smallBreakPoint) {
          bottom: 1.1*$baseScale;
        }
      }
    }
  }

  .attachments {
    &.dragged {
      background-color: $secondaryLightColor;
    }

    .attachment-container {
      @media screen and (max-width: $smallBreakPoint) {
        width: 50%;
      }
    }

    .attachment {
      display: block;
      height: 0;
      padding-bottom: 85%;
      margin-bottom: 1*$baseScale;
      background-color: $darkBorderColor;
      background-position: center center;
      background-repeat: no-repeat;
      @include background-size(cover);
      @include transition(opacity 0.15s ease-out);

      &:hover {
        opacity: 0.85;
      }

      &.uploading {
        background: #eee image-url("icon-big-upload.png") center center no-repeat;
        border: 4px dashed rgba(0,0,0,0.25);
        background-size: auto;
      }

      &.category {
        background: $tertiaryDarkColor image-url("icon-big-folder.png") center center no-repeat;
        @include background-size(35% auto);
      }

      span {
        position: absolute;
        bottom: 1.15*$baseScale;
        left: 15px;
        right: 15px;
        display: block;
        padding: 5px;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        background-color: rgba(0,0,0,0.75);
        @include antialiased;
        @include text-overflow;

        @media screen and (max-width: $mediumBreakPoint) {
          bottom: 1.25*$baseScale;
        }

        @media screen and (max-width: $smallBreakPoint) {
          bottom: 1.05*$baseScale;
        }
      }
    }
  }

  .attachment-progress {
    z-index: 9999;
    display: none;
    position: fixed;
    left: 20%;
    right: 0;
    height: 30px;
    bottom: 0;
    background-color: #2BA6CB;

    @media screen and (max-width: $largeBreakPoint) {
      left: 22%;
    }

    @media screen and (max-width: $mediumBreakPoint) {
      left: 0;
    }

    &.in-progress {
      display: block;
    }

    .attachment-progress-bar {
      position: absolute;
      width: 0;
      height: 30px;
      z-index: 5;
      background-color: rgba(0,0,0,0.1);
      @include transition(width 0.15s ease-out);
    }

    .attachment-progress-info {
      position: absolute;
      width: 100%;
      padding: 7px 0;
      height: 30px;
      z-index: 5;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      color: #fff;
      background-color: rgba(0,0,0,0.4);
    }
  }

  .post-blocks {
    list-style: none;
    position: relative;
    padding-bottom: 12px;

    &.outline {
      li {
        overflow: hidden;
        max-height: 3*$baseScale;
        margin-bottom: 0.5*$baseScale;

        p {
          @include text-overflow;
        }

        figure {
          float: left;
          margin-left: 0;
          margin-right: auto;
        }

        img {
          width: auto;
          height: 3*$baseScale;
        }

        .actions {
          .edit {
            visibility: hidden;
          }
        }

        &.add-new-block-container, &#new_block {
          overflow: visible !important;
          height: auto !important;
          max-height: 400px !important;
          margin-bottom: 0.5*$baseScale !important;
        }
      }
    }

    .block {
      &.edit {
        margin-top: 12px;
        margin-bottom: 12px;
        background-color: $primaryLightColor;
      }

      &.ui-sortable-placeholder {
        visibility: visible !important;
        background: transparent !important;
        border: 1px dashed $darkBorderColor;
      }

      &.edit + .block {
        padding-top: 24px;
      }

      ul, ol {
        margin-bottom: 27px;
      }

      ul {
        list-style: square;
      }

      figure {
        &.full-width img {
          margin-top: 1*$baseScale;
        }
      }

      .embedded-video {
        margin-bottom: 2*$baseScale;
      }
      .embedded-video iframe {
        top: 1*$baseScale;
      }

      .embedded-post {
        margin-bottom: 32px;
        padding: 12px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        overflow: hidden;

        .info-panel {
          margin-bottom: 0;
        }
      }

      .actions {
        width: 145%;
        position: absolute;
        top: 3px;
        height: 24px;
        z-index: 100;
        margin-left: -25%;
        pointer-events: none;

        @media screen and (max-width: $smallBreakPoint) {
          width: 100%;
          position: static;
          margin-left: 0;
          margin-bottom: 0.5*$baseScale;
        }

        a, span {
          float: left;
          display: block;
          position: relative;
          width: 24px;
          height: 24px;
          font-size: 14px;
          text-indent: -9999px;
          border: none;
          cursor: pointer;
          opacity: 0.2;
          background-position: center center;
          background-repeat: no-repeat;
          pointer-events: all;
          @include transition(opacity 0.15s ease-out);

          &:hover {
            opacity: 1;
          }
        }

        .drag {
          background-image: image-url('block-icons/drag.png');
          @include image-2x("block-icons/drag@2x.png", 16px, 16px);
        }

        .edit {
          margin-left: 4px;
          margin-right: 5px;
          background-image: image-url('block-icons/edit.png');
          @include image-2x("block-icons/edit@2x.png", 16px, 16px);

          @media screen and (max-width: $smallBreakPoint) {
            margin-left: -5px;
          }
        }

        .delete {
          float: right;
          background-image: image-url('block-icons/delete.png');
          @include image-2x("block-icons/delete@2x.png", 16px, 16px);

          @media screen and (max-width: $smallBreakPoint) {
            margin-right: -5px;
          }
        }
      }

      .block-form {
        margin-top: 12px;
        margin-bottom: 12px;
        font-size: 14px;

        @media screen and (max-width: $smallBreakPoint) {
          padding-left: 10px;
          padding-right: 10px;
        }

        textarea {
          font-family: monospace;
        }

        .attachment-options {
          width: 150%;
          margin-left: -25%;;
          margin-top: 10px;
          margin-bottom: 12px;
          background-color: #e8e8e8;
          overflow: hidden;

          @media screen and (max-width: $smallBreakPoint) {
            margin-left: 0;
            width: 100%;
          }

          .attachment-preview {
            float: left;
            width: 50%;
            height: 240px;
            text-align: center;
            line-height: 240px;
            background: #fff image-url("bg-image-preview-pattern.png") 0 0 repeat;

            img {
              max-width: 90%;
              max-height: 90%;
              vertical-align: middle;
            }
          }

          .attachment-fields {
            float: left;
            width: 50%;
            height: 240px;
            padding-left: 12px;
            padding-right: 12px;

            input[type="radio"] {
              position: relative;
              top: -2px;
              margin-right: 5px;
            }
          }
        }

        .attachment-browser {
          margin-top: -4px;
          width: 150%;
          margin-left: -25%;

          @media screen and (max-width: $smallBreakPoint) {
            margin-top: -4px;
            margin-left: 0;
            width: 100%;
          }

          .pagination {
            margin-top: 1*$baseScale;
            margin-bottom: 0;
          }

          .attachment-category-filter {
            padding: 0;
            padding-left: 10px;
            padding-right: 10px;
            margin: 0;
            overflow: hidden;
            height: 2*$baseScale;
            background-color: darken($primaryDarkColor, 10%);

            li {
              width: 25%;
              padding-right: 10px;

              select, input {
                width: 95%;
              }

              @media screen and (max-width: $smallBreakPoint) {
                width: 50%;
                padding: 0;
                text-align: center;
              }
            }

            .attachment-category-select, .attachment-keyword-field {
              position: relative;
              top: 0.3*$baseScale;
              color: $whiteColor;
              background-color: $blackColor;
            }

            .attachment-category-select {
              background-image: image-url('dropdown-arrows-invert.png');
            }

            &.category-all {
              .all {
                background-color: rgba($blackColor, 0.5);
              }
            }

            &.category-hirek {
              .hirek {
                background-color: rgba($blackColor, 0.5);
              }
            }

            &.category-a-muvelt-alkoholista {
              .a-muvelt-alkoholista {
                background-color: rgba($blackColor, 0.5);
              }
            }

            &.category-buvos-szakacs {
              .buvos-szakacs {
                background-color: rgba($blackColor, 0.5);
              }
            }

            &.category-receptek {
              .receptek {
                background-color: rgba($blackColor, 0.5);
              }
            }

            &.category-cimlapfotok {
              .cimlapfotok {
                background-color: rgba($blackColor, 0.5);
              }
            }

            &.category-egyeb {
              .egyeb {
                background-color: rgba($blackColor, 0.5);
              }
            }

            &.category-oldalak {
              .oldalak {
                background-color: rgba($blackColor, 0.5);
              }
            }
          }

          .attachment-browser-container {
            max-height: 350px;
            overflow: hidden;
            overflow-y: visible;
            background-color: $primaryDarkColor;
          }

          .empty-attachments {
            margin: 4*$baseScale 0;
            color: $whiteColor;
            text-align: center;
            font-weight: bold;
          }

          a.open-attachment-browser {
            display: block;
            padding: 12px;
            font-family: $inputFontFamily;
            font-weight: bold;
            color: #fff;
            text-align: center;
            background-color: $blueColor;
            @include antialiased;
          }

          .attachment-browser-inner {
            padding: 12px;
            overflow: hidden;

            .attachment-picker-container {
              @media screen and (max-width: $smallBreakPoint) {
                width: 50%;
              }
            }

            .attachments-months {
              margin-top: 0;
              margin-bottom: 0.25*$baseScale;
              font-weight: normal;
              color: $whiteColor;
            }
          }

          .attachment-selector {
            position: relative;
            display: block;
            width: 100%;
            height: 4.5*$baseScale;
            background-color: $blackColor;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 1.25*$baseScale;

            .attachment-selector-title {
              position: absolute;
              display: block;
              left: 0;
              right: 0;
              bottom: 0;
              padding-left: 0.25*$baseScale;
              padding-right: 0.25*$baseScale;
              font-size: $tinyFontSize;
              text-align: center;
              color: $whiteColor;
              background-color: rgba(0,0,0,0.75);
              @include text-overflow;
            }

            &.selected-attachment {
              opacity: 0.5;

              &:after {
                display: block;
                top: 50%;
                margin-top: -14px;
                left: 50%;
                margin-left: -14px;
                content: ' ';
                width: 28px;
                height: 28px;
                position: absolute;
                background: green image-url('icon-mini-checkmark.png') center center no-repeat;
                @include border-radius(50%);

                @media screen and (max-width: $smallBreakPoint) {
                  display: none;
                }
              }
            }
          }
        }
      }

      &.ui-sortable-helper {
        background: #fff;
        @include box-shadow(0 1px 10px rgba(0,0,0,0.2));
      }
    }

    .add-new-block-container {
      padding-bottom: 1*$baseScale;

      &.dragged {
        background-color: $secondaryLightColor;
      }

      .add-new-block {
        display: block;
        margin-top: 1*$baseScale;
        padding: 10px;
        padding-left: 32px;
        background: $primaryLightColor image-url("icon-block-editor-add.png") 10px center no-repeat;
        @include border-radius(3px);
      }
    }
  }

  .post-title {
    margin-bottom: 24px;

    @media screen and (max-width: $smallBreakPoint) {
      margin-left: 0;
      width: 80%;
    }
  }

  .post-action {
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 2px;
    text-indent: -9999px;
    border: none;
    opacity: 0.25;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
    @include transition(opacity 0.15s ease-out);

    &:hover {
      opacity: 1;
    }

    &.outline-view {
      right: 61px;
      background-image: image-url('post-actions/outline-view.png');
      @include image-2x("post-actions/outline-view@2x.png", 32px, 32px);
    }

    &.preview-post {
      right: 105px;
      background-image: image-url('post-actions/preview.png');
      @include image-2x("post-actions/preview@2x.png", 32px, 32px);
    }

    &.edit-post-meta {
      right: 15px;
      background-image: image-url('post-actions/settings.png');
      @include image-2x("post-actions/settings@2x.png", 32px, 32px);
    }
  }

  .edit-post-popover {
    width: 500px;
    display: none;
    top: 54px;
    right: 10px;

    @media screen and (max-width: $smallBreakPoint) {
      width: 90%;
    }

    &:before {
      margin-left: auto;
      left: auto;
      right: 10px;
    }

    p {
      line-height: 26px;
      height: 28px;
    }

    .spacer {
      margin-top: 32px;
      margin-bottom: 18px;
    }
  }

  .admin-form {
    &.attachment-uploader {
      display: none;
    }

    .title-field {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0.5*$baseScale;
      font-size: $bigFontSize;
      border: none;
      background-color: transparent;
      border-bottom: 1px dotted $darkBorderColor;
      @include border-radius(none);
      @include box-shadow(none);

      &:focus {
        background-color: transparent;
      }
    }

    .date-select-field {
      select {
        margin-top: 0.35*$baseScale;
        display: inline;
        width: 30%;

        &#post_published_at_1i {
          width: 20%;
        }
        &#post_published_at_2i {
          width: 30%;
        }
        &#post_published_at_3i {
          width: 14%;
          margin-right: 0;
        }
        &#post_published_at_4i {
          width: 14%;
          margin-right: 0;
        }
        &#post_published_at_5i {
          width: 14%;
          margin-right: 0;
        }
      }
    }

    .post-thumbnail {
      input[type="radio"] {
        display: block;
        width: 100%;
        height: 3*$baseScale;
        margin-bottom: 0.5*$baseScale;
        background-position: center center;
        background-repeat: no-repeat;
        @include background-size(cover);
        @include appearance(none);
        cursor: pointer;

        &:checked {
          opacity: 0.5;

          &:after {
            display: block;
            top: 50%;
            margin-top: -14px;
            left: 50%;
            margin-left: -14px;
            content: ' ';
            width: 28px;
            height: 28px;
            position: absolute;
            background: green image-url('icon-mini-checkmark.png') center center no-repeat;
            @include border-radius(50%);

            @media screen and (max-width: $smallBreakPoint) {
              display: none;
            }
          }
        }
      }

      @media screen and (max-width: $smallBreakPoint) {
        width: 50%;
        float: left;
      }
    }

    .download {
      display: block;
      border: none;
      cursor: pointer;
    }

    &.comment-form, &.user-form {
      .spacer {
        margin-top: ms(0);
        margin-bottom: ms(0);
      }
    }

    &.post-title-form {
      padding: 12px;
      margin-bottom: 0;

      .info-panel {
        margin-bottom: 0;
        background-position: left 4px;

        @media screen and (max-width: $smallBreakPoint) {
          margin-bottom: 1*$baseScale;

          .post-short-url {
            display: block;
          }
        }
      }
    }

    &.new-post-form {
      margin-top: 32px;
      .form-actions {
        border-top: none;
        padding-top: 0;
      }
    }
  }

  .tags-index {
    a {
      margin-left: 0.25*$baseScale;
      display: inline-block;
      width: 1*$baseScale;
      height: 1*$baseScale;
      line-height: 1*$baseScale;
      font-size: $smallFontSize;
      text-align: center;
      text-transform: uppercase;
      color: $whiteColor;
      background-color: $primaryDarkColor;
      @include border-radius($smallBorderRadius);
    }
  }

  .tags-list {
    .tag-container {
      margin-bottom: 0.5*$baseScale;
    }

    .tags-list-title span {
      display: block;
      padding-left: 0.8*$baseScale;
      padding-bottom: 0.25*$baseScale;
      border-bottom: 1px solid $lightBorderColor;
      text-transform: uppercase;
    }

    .tag, .tag-name-field {
      display: block;
      font-size: $smallFontSize;
      height: 1.25*$baseScale;
      padding: 0.25*$baseScale 1.4*$baseScale;
      background-color: $primaryLightColor;
      background-image: image-url('icon-mini-tag.png');
      background-position: 10px center;
      background-repeat: no-repeat;
      @include border-radius(1.25*$baseScale/2);
      @include text-overflow;
    }

    .tag-name-field {
      line-height: $baseScale;
      background-color: $darkBorderColor;
      border: none;
      @include box-shadow(none);

      &:focus {
        background-color: $darkBorderColor;
        @include box-shadow(none);
      }
    }

    .tag-icon {
      display: block;
      position: absolute;
      width: 24px;
      height: 24px;
      top: 2px;
      font-size: 14px;
      text-indent: -9999px;
      border: none;
      cursor: pointer;
      opacity: 0.2;
      background-color: transparent;
      background-position: center center;
      background-repeat: no-repeat;
      pointer-events: all;
      @include transition(opacity 0.15s ease-out);
      @include appearance(none);

      &:hover {
        opacity: 1;
      }

      &.delete {
        right: 17px;
        background-image: image-url('block-icons/delete.png');
        @include image-2x("block-icons/delete@2x.png", 16px, 16px);
      }

      &.submit {
        opacity: 1;
        right: 17px;
        background-image: image-url('block-icons/submit.png');
        @include image-2x("block-icons/submit@2x.png", 16px, 16px);
      }
    }
  }
}
