.post-body {
  a:not(.button) {
    border-bottom: 1px solid #ccc;
  }
}

.post {
  margin-bottom: 2*$baseScale;

  ul, ol {
    margin-left: 0;
    padding-left: $baseScale;
  }

  ul {
    list-style: square outside;
  }

  blockquote {
    margin-left: 0;
    padding-left: 1*$baseScale;
    color: $secondaryFontColor;
    border-left: 4px solid rgba($blackColor, 0.15);
  }

  table {
    margin-bottom: 1.5*$baseScale;
  }

  figure {
    width: 100%;
    margin-bottom: $baseScale;

    figcaption {
      padding-top: 0.5*$baseScale;
      line-height: $baseScale;
      font-size: $smallFontSize;
      text-align: center;
      color: $secondaryFontColor;
      font-style: italic;
    }

    img {
      width: 100%;
      height: auto;
    }

    table {
      margin-bottom: 0;

      img {
        width: auto;
        height: auto;
      }
    }
  }

  figure.centered {
    display: block;
    max-width: 300px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  figure.full-width, .embedded-video {
    max-width: 150%;
    width: 150%;
    margin-left: -25%;

    @media screen and (max-width: $smallBreakPoint) {
      margin-left: 0;
      max-width: 100%;
      width: 100%;
    }
  }

  .embedded-recipe figure.full-width {
    margin-left: 0;
    max-width: 100%;
    width: 100%;
  }

  .embedded-video {
    position: relative;
    padding-bottom: 84%; /* 16:9 */
    margin-bottom: 1*$baseScale;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    @media screen and (max-width: $smallBreakPoint) {
      padding-bottom: 56.25%;
    }
  }

  .bordered-text {
    max-width: 150%;
    width: 150%;
    margin-left: -25%;
    margin-bottom: 1*$baseScale;
    padding: 0.5*$baseScale;
    padding-left: 25%;
    padding-right: 25%;
    background-color: lighten($bszColor, 22%);
    @include clearfix;

    @media screen and (max-width: $smallBreakPoint) {
      margin-left: 0;
      padding-left: 0.5*$baseScale;
      padding-right: 0.5*$baseScale;
      max-width: 100%;
      width: 100%;
    }

    h2:first-child {
      margin-top: 0;
    }

    p, ul, ol {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .featured-image {
    width: 100%;
    height: 5*$baseScale;
    margin-bottom: 0.75*$baseScale;
    background-color: $darkBorderColor;
    background-position: center center;
    background-repeat: no-repeat;
    @include background-size(cover);
  }

  .post-excerpt {
    margin-bottom: 0.75*$baseScale;
  }

  .read-more {
    display: inline-block;
    position: relative;
    width: 16px;
    margin-left: 0.25*$baseScale;
    height: $baseScale;
    text-indent: -9999px;
    background: image-url('post-meta-icons/read-more.png') center center no-repeat;
    opacity: 0.15;
    border: none !important;

    &:hover {
      opacity: 1;
    }
  }

  .post-body {
    h2 {
      font-weight: normal;
    }
  }

  .restaurant-improving, .restaurant-recommended {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    top: 0.1*$baseScale;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .restaurant-improving {
    background-image: image-url('ratings/help/restaurant-improving.png');
  }

  .restaurant-recommended {
    background-image: image-url('ratings/help/restaurant-recommended.png');
  }

  .restaurant-ratings {
    .restaurant-improving {
      margin-left: 0.25*$baseScale;
    }

    ul {
      padding-left: 0.35*$baseScale !important;
      list-style: none !important;
      margin-bottom: 0.15*$baseScale !important;
    }

    .rating {
      background-color: transparent;
      margin-bottom: 0.5*$baseScale;
      color: $redColor;
      @include border-radius($smallBorderRadius);

      &:after {
        background-color: transparent;
      }

      &[data-rating="11"],
      &[data-rating="12"],
      &[data-rating="13"],
      &[data-rating="14"],
      &[data-rating="15"],
      &[data-rating="16"],
      &[data-rating="17"],
      &[data-rating="18"],
      &[data-rating="19"],
      &[data-rating="20"] {
        .rating-value {
          color: $blackColor !important;
          position: relative;
          top: -5px;
        }
      }

      &[data-rating="11"],
      &[data-rating="12"] {
        background-image: image-url("ratings/restaurant-recommended.png");
        background-position: center 4px;
        @include image-2x("ratings/restaurant-recommended@2x.png", 32px, 32px);

        .rating-value {
          top: 2px;
          left: -3px;
        }
      }

      &[data-rating="13"],
      &[data-rating="14"] {
        background-image: image-url("ratings/restaurant-high.png");
        @include image-2x("ratings/restaurant-high@2x.png", 24px, 37px);
      }

      &[data-rating="15"],
      &[data-rating="16"] {
        background-image: image-url("ratings/restaurant-higher.png");
        @include image-2x("ratings/restaurant-higher@2x.png", 30px, 40px);

        .rating-value {
          left: -3px;
        }
      }

      &[data-rating="17"],
      &[data-rating="18"] {
        background-image: image-url("ratings/restaurant-highest.png");
        @include image-2x("ratings/restaurant-highest@2x.png", 37px, 42px);

        .rating-value {
          top: -4px;
          left: -6px;
        }
      }
      &[data-rating="19"],
      &[data-rating="20"] {
        background-image: image-url("ratings/restaurant-highest.png");

        .rating-value {
          left: -6px;
        }
      }
    }
  }
}

.post-excerpt {
  p:last-child {
    margin-bottom: 0;
  }
}

.breadcrumb-tag {
  position: relative;
  top: -0.05*$baseScale;
  padding: 0.1*$baseScale;
  padding-left: 0.9*$baseScale;
  padding-right: 0.3*$baseScale;
  font-size: $bigFontSize;
  background: image-url('icon-medium-tag.png') 0.2*$baseScale center no-repeat;
  @include border-radius($smallBorderRadius);
}

a.breadcrumb-tag:hover {
  background-color: $lightBorderColor;
}

.amuva_posts, .bsz_posts, .mh_posts, .recipes, .news, .guides2012, .guides2013, .guides2014, .guides2015, .guides2016, .guides2017 {
  .blog-header {
    margin-bottom: 1*$baseScale;
    padding-top: 17.5%;
    padding-bottom: 1*$baseScale;
    @include background-size(cover);

    h2 {
      margin-top: 0;
    }

    .blog-logo {
      padding: 10px 20px;
      position: relative;
      color: $whiteColor;
      font-family: "nimbus-sans-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 1.65*$baseScale;
      font-weight: normal;

      @media screen and (max-width: $smallBreakPoint) {
        font-size: 0.67*$baseScale;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .header-ad {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: $baseScale;

    &:after {
      content: "Hirdetés";
      color: $lightFontColor;
      font-size: $smallFontSize;
    }

    @media screen and (min-width: 1280px) {
      img {
        max-width: 970px !important;
      }
    }
  }

  .pagination {
    margin-bottom: 0;
  }
}

.amuva_posts {
  a {
    color: $amuvaLinkColor;

    &:hover {
      color: darken($amuvaLinkColor, 15%);
    }
  }

  .button {
    background-color: $amuvaColor;
  }

  .blog-header {
    background: darken($amuvaColor, 15%) image-url("headers/bg-amuva.jpg") center center no-repeat;
    @include background-size(cover);
  }

  .blog-logo {
    background-color: rgba(#9E3F60, 0.75);
  }
}

.mh_posts {
  a {
    color: $mhLinkColor;

    &:hover {
      color: darken($mhLinkColor, 15%);
    }
  }

  .button {
    background-color: $mhColor;
  }

  .blog-header {
    padding-top: 5.5%;
    padding-bottom: 5.5%;
    background: darken($mhColor, 15%) image-url("headers/bg-mh.jpg") center center no-repeat;
    @include background-size(cover);
  }

  .blog-logo {
    margin: 0 auto;
    margin-top: 0;
    display: block;
    width: 379px;
    height: 172px;
    position: relative;
    top: 0;
    text-indent: -9999px;
    background: image-url("headers/logo-mh.png") left center no-repeat;
    @include image-2x("headers/logo-mh@2x.png", 379px, 172px);

    @media screen and (max-width: $smallBreakPoint) {
      width: 270px;
      height: 123px;
      @include background-size(100%, auto !important);
    }
  }
}


.bsz_posts, .amuva_posts {
  .blog-navigation {
    font-size: $mediumFontSize;
    margin-top: $baseScale;
    text-align: center;

    @media screen and (max-width: $largeBreakPoint) {
      font-size: $smallFontSize;
    }

    h1, h2, h3, h4, h6, a {
      font-weight: bold;
      text-transform: uppercase;
      @include antialiased;
    }

    .inner {
      margin-top: 1*$baseScale;
      padding: 0.75*$baseScale 0 0;
      border-top: 1px solid $lightBorderColor;
    }

    ul {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      display: inline-block;
      list-style: none;
      text-align: center;
    }

    li {
      display: inline-block;

      a {
        padding: 5px 10px;
        font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;

        &:hover {
          color: $blackColor;
        }
      }

      &:first-child {
        a {
          border-left: none;
        }
      }
    }

    .about-bsz {
      padding-bottom: 0.5*$baseScale;
      font-size: $smallFontSize;

      a {
        text-transform: none;
        font-weight: normal;
      }
    }

    .mge-panel {
      text-align: left;
      margin-top: -0.25*$baseScale;
      margin-bottom: 1*$baseScale;
      padding: 1*$baseScale;
      border-top: 1px solid $lightBorderColor;
      border-bottom: 1px solid $lightBorderColor;

      .mge-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        @media screen and (max-width: $smallBreakPoint) {
          display: block;
          text-align: center;
        }
      }

      .mge-logo {
        @media screen and (max-width: $smallBreakPoint) {
          margin-bottom: 1.5*$baseScale;
        }
      }

      h3 {
        margin-top: 0;
      }

      p {
        font-size: $smallFontSize;
        margin-bottom: 0;
      }
    }
  }

  .bsz-tags, .amuva-tags {
    .blog-navigation {
      margin-top: 0;

      .inner {
        border-top: none;
        margin-top: 0;
        padding-top: 0.35*$baseScale;
        margin-bottom: 1*$baseScale;
        border-bottom: 1px solid $lightBorderColor;
      }
    }
  }
}

.bsz_posts {
  a {
    color: $bszLinkColor;

    &:hover {
      color: darken($bszLinkColor, 15%);
    }
  }

  .button {
    background-color: $bszColor;
  }

  &.show, &.index {
    .application {
      padding-bottom: 0;
    }
  }

  &.show {
    .main-tag-container {
      display: none;
    }
  }

  .blog-header {
    margin-bottom: 0.85*$baseScale;
    padding-top: 7.75% !important;
    background: darken($bszColor, 25%) image-url("headers/bg-bsz.jpg") center center no-repeat;
    @include background-size(cover);
  }

  .blog-logo {
    display: block;
    width: 288px;
    height: 167px;
    position: relative;
    top: 0;
    text-indent: -9999px;
    background: image-url("headers/logo-bsz.png") left center no-repeat;
    @include image-2x("headers/logo-bsz@2x.png", 289px, 167px);

    @media screen and (max-width: $smallBreakPoint) {
      top: 0;
      height: 84px;
      @include background-size(50%, auto !important);
    }
  }


}
