/* Branding ---------------------- */

%navigation-active {
  background-color: rgba($blackColor, 0.25);
}

.mobile-branding {
  display: none;
  height: 82px;
  background-color: $whiteColor;

  @media screen and (max-width: $mediumBreakPoint) {
    display: block;
  }

  .mobile-logo {
    float: left;
    display: block;
    width: 80%;
    height: 82px;
    position: relative;
    text-indent: -9999px;
    background: image-url('logo.png') 15px center no-repeat;
    @include image-2x("logo@2x.png", 182px, 50px);
  }

  .hamburger {
    display: block;
    right: 15px;
    top: 18px;
    position: fixed;
    width: 44px;
    height: 44px;
    text-indent: -9999px;
    z-index: 9996;
    background-color: $primaryColor;
    background-image: image-url('hamburger.png');
    background-position: center center;
    background-repeat: no-repeat;
    @include background-size(23px);
    @include border-radius(100%);
  }
}

.logo {
  display: block;
  width: 100%;
  margin-bottom: 0;
  height: 82px;
  position: relative;
  text-indent: -9999px;
  background: image-url("logo-invert.png") 15px center no-repeat;
  @include image-2x("logo-invert@2x.png", 182px, 50px);
}

.navigation {
  overflow: hidden;
  z-index: 100;
  width: 20%;
  min-width: 220px;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 9998;
  background-color: $primaryColor;
  @include transition(transform 0.15s ease-out);

  @media screen and (max-width: $largeBreakPoint) {
    width: 22%;
  }

  @media screen and (max-width: $mediumBreakPoint) {
    display: none;
    overflow: scroll;
    -webkit-overflow-scroll: touch;

    &.show {
      display: block;
    }
  }

  li {
    margin: 0;
    padding: 0;

    .search-menu-title {
      display: block;
      margin-left: 15px;
      font-size: $smallFontSize;
      color: rgba($whiteColor, 0.5);
    }

    a {
      display: block;
      padding: 3px 15px 2px;
      margin: 0;
      font-size: $smallFontSize;
      font-weight: bold;
      font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: $whiteColor !important;
      background-repeat: no-repeat;
      background-color: transparent;
      @include transition(background-color 0.15s ease-out);
      @include text-overflow;

      &:hover {
        text-decoration: none;
        background-color: rgba($whiteColor, 0.2);
      }

      .sidebar-highlight {
        position: relative;
        padding: 2px 5px;
        background-color: #890409;
      }

      &.without-icon {
        padding-left: 12px;
      }

      &.search-menu {
        padding-left: 30px;
      }

      &.restaurants {
        background-image: image-url('navigation-icons/restaurants.png');
        background-position: 185px center;
        @include image-2x("navigation-icons/restaurants@2x.png", 14px, 21px);
      }

      &.bsz {
        background-image: image-url('navigation-icons/bsz.png');
        background-position: 114px center;
        @include image-2x("navigation-icons/bsz@2x.png", 22px, 16px);
      }

      &.admin-link {
        padding-left: 36px;
        background-position: 15px center;
        background-repeat: no-repeat;

        &.posts {
          background-image: image-url('admin-navigation-icons/posts.png');
        }

        &.home-editor {
          background-image: image-url('admin-navigation-icons/home-editor.png');
        }

        &.comments {
          background-image: image-url('admin-navigation-icons/comments.png');
        }

        &.attachments {
          background-image: image-url('admin-navigation-icons/attachments.png');
        }

        &.tags {
          background-image: image-url('admin-navigation-icons/tags.png');
        }

        &.products {
          background-image: image-url('admin-navigation-icons/products.png');
        }

        &.orders {
          background-image: image-url('admin-navigation-icons/orders.png');
        }

        &.restaurant-reservations {
          background-image: image-url('admin-navigation-icons/restaurant-reservations.png');
        }

        &.users {
          background-image: image-url('admin-navigation-icons/users.png');
        }
      }

      .unread-count {
        position: relative;
        top: 0.215*$baseScale;
        display: inline-block;
        float: right;
        padding-left: 0.35*$baseScale;
        padding-right: 0.35*$baseScale;
        font-size: $tinyFontSize;
        line-height: 0.85*$baseScale;
        background-color: rgba($blackColor, 0.3);
        @include border-radius($smallBorderRadius);
      }
    }
  }

  .menu {
    &.kalauz-2012, &.kalauz-2013, &.kalauz-2014, &.kalauz-2015, &.kalauz-2016, &.kalauz-2017 {
      margin-bottom: 0.25*$baseScale;
      padding-bottom: 0.25*$baseScale;
      border-bottom: 1px dashed rgba($whiteColor, 0.3);
    }
  }

  .user-actions {
    position: absolute;
    bottom: 2.1*$baseScale;

    @media screen and (max-height: $mediumHeightBreakPoint) and (min-width: $smallBreakPoint) {
      bottom: 0;
    }

    @media screen and (max-width: $smallBreakPoint) {
      position: relative;
      bottom: auto;
    }

    .current-user {
      padding-left: 15px;
      margin-bottom: 0.1*$baseScale;
      padding-bottom: 0.25*$baseScale;
      font-size: $bigFontSize;
      color: $whiteColor;
      border-bottom: 1px dashed rgba($whiteColor, 0.3);

      .redeem-code-badge {
        top: 2px;
        background-image: image-url('navigation-icons/redeem-code-badge.png');
        @include image-2x('navigation-icons/redeem-code-badge@2x.png', 16px, 16px);
      }

      a {
        display: block;
        color: $whiteColor;
      }
    }

    .sign-out {
      position: relative;
      top: -0.125*$baseScale;
      float: right;
      width: 48px;
      height: 32px;
      text-indent: -9999px;
      background: image-url('navigation-icons/sign-out.png') center center no-repeat;
      @include image-2x('navigation-icons/sign-out@2x.png', 24px, 24px);
    }

    .user-menu {
      position: relative;
      margin-bottom: 0;
      padding-bottom: 0.15*$baseScale;
      border-bottom: 1px dashed rgba($whiteColor, 0.3);

      @media screen and (max-height: $mediumHeightBreakPoint) and (min-width: $smallBreakPoint) {
        border-bottom: none;
      }

      a {
        padding: 2px 15px;
        text-transform: none;
      }
    }
  }

  .search {
    position: absolute;
    bottom: 0;

    @media screen and (max-width: $smallBreakPoint) {
      position: relative;
      margin-bottom: 2*$baseScale;
    }

    @media screen and (max-height: $mediumHeightBreakPoint) and (min-width: $smallBreakPoint) {
      display: none;
    }

    .search-form {
      padding: 10px 15px;

      .search-keyword {
        margin-right: 15px;
        color: $whiteColor;
        background-color: rgba($blackColor, 0.45);
        background-image: image-url('icon-magnifying-glass-invert.png');
        border: none;
        opacity: 0.65;
        @include image-2x('icon-magnifying-glass-invert@2x.png', 16px, 16px);

        &:focus {
          opacity: 1;
        }

        &::-webkit-input-placeholder, &::-moz-placeholder, &::placeholder {
          color: rgba($whiteColor, 0.75);
        }
      }
    }
  }
}

.guides2012, .guides2013, .guides2014, .guides2015, .guides2016, .guides2017 {
  .navigation {
    background-color: $guidesColor;

    a.guides {
      @extend %navigation-active;
    }
  }
  .hamburger {
    background-color: $guidesColor;
  }
}

.restaurants {
  .navigation {
    background-color: $restaurantsColor;

    a.restaurants {
      @extend %navigation-active;
    }
  }

  .hamburger {
    background-color: $restaurantsColor;
  }

  &.additional {
    .navigation {
      background-color: $restaurantsColor;

      a.additional {
        @extend %navigation-active;
      }

      a.restaurants {
        background-color: transparent;

        &:hover {
          background-color: rgba($whiteColor, 0.2);
        }
      }
    }
  }
}

.hotels {
  .navigation {
    background-color: $hotelsColor;

    a.hotels {
      @extend %navigation-active;
    }
  }
  .hamburger {
    background-color: $hotelsColor;
  }
}

.wineries {
  .navigation {
    background-color: $wineriesColor;

    a.wineries {
      @extend %navigation-active;
    }
  }
  .hamburger {
    background-color: $wineriesColor;
  }
}

.wines {
  .navigation {
    background-color: $wineriesColor;

    a.wines {
      @extend %navigation-active;
    }
  }
  .hamburger {
    background-color: $wineriesColor;
  }
}

.recipes {
  .navigation {
    background-color: $recipesColor;

    a.recipes {
      @extend %navigation-active;
    }
  }
  .hamburger {
    background-color: $recipesColor;
  }
}

.amuva_posts {
  .navigation {
    background-color: $amuvaColor;

    a.amuva {
      @extend %navigation-active;
    }
  }
  .hamburger {
    background-color: $amuvaColor;
  }
}

.bsz_posts {
  .navigation {
    background-color: $bszColor;

    a.bsz {
      @extend %navigation-active;
    }
  }
  .hamburger {
    background-color: $bszColor;
  }
}

.mh_posts {
  .navigation {
    background-color: $mhColor;

    a.mh {
      @extend %navigation-active;
    }
  }
  .hamburger {
    background-color: $mhColor;
  }
}

.news {
  .navigation {
    a.news {
      @extend %navigation-active;
    }
  }
}

.orders:not(.admin), .products:not(.admin) {
  .navigation {
    a.orders {
      @extend %navigation-active;
    }
  }
}

.restaurant_reservations {
  .navigation {
    background-color: $restaurantsColor;

    a.restaurants {
      @extend %navigation-active;
    }
  }

  .hamburger {
    background-color: $restaurantsColor;
  }
}

.admin.posts {
  .navigation {
    a.admin-link.posts {
      @extend %navigation-active;
    }
  }
}

.admin.home_blocks {
  .navigation {
    a.admin-link.home-editor {
      @extend %navigation-active;
    }
  }
}

.admin.tags {
  .navigation {
    a.admin-link.tags {
      @extend %navigation-active;
    }
  }
}

.admin.products {
  .navigation {
    a.admin-link.products {
      @extend %navigation-active;
    }
  }
}

.admin.orders {
  .navigation {
    a.admin-link.orders {
      @extend %navigation-active;
    }
  }
}

.admin.restaurant_reservations {
  .navigation {
    a.admin-link.restaurant-reservations {
      @extend %navigation-active;
    }
  }
}

.admin.comments {
  .navigation {
    a.admin-link.comments {
      @extend %navigation-active;
    }
  }
}

.admin.attachments {
  .navigation {
    a.admin-link.attachments {
      @extend %navigation-active;
    }
  }
}

.admin.users {
  .navigation {
    a.admin-link.users {
      @extend %navigation-active;
    }
  }
}

.guides2012, .guides2013, .guides2014, .guides2015, .guides2016, .guides2017 {
  &.restaurants .navigation a.restaurants,
  &.hotels .navigation a.hotels,
  &.wineries .navigation a.wineries,
  &.wines .navigation a.wines,
  &.amuva_posts .navigation a.amuva,
  &.bsz_posts .navigation a.bsz,
  &.mh_posts .navigation a.mh,
  &.recipes .navigation a.recipes,
  &.news .navigation a.news {
    background-color: transparent;

    &:hover {
      background-color: rgba($whiteColor, 0.2);
    }
  }
}
