.comments {
  .comments-title {
    font-weight: normal;
  }

  .comment-title {
    margin-top: 0;
  }

  .comment {
    margin-bottom: 1*$baseScale;
    padding: 0.5*$baseScale;
    background-color: $primaryLightColor;
    word-wrap: break-word;

    a:not(.button) {
      border-bottom: 1px solid $darkBorderColor;
    }

    p:last-child {
      margin-bottom: 0;
    }

    .permalink {
      color: $lightFontColor;
      border-bottom: none !important;
    }

    &.highlighted {
      @include box-shadow(inset 4px 0 0 $darkBorderColor);
    }
  }

  .comment-form {
    margin-bottom: 0;

    fieldset {
      margin-bottom: 0;

      legend {
        color: $primaryHeaderColor;
        margin-left: 0;
        font-weight: normal;
      }
    }
  }
}

.amuva_posts, .bsz_posts, .mh_posts, .news {
  .comments {
    margin-top: 1*$baseScale;
  }
}
