/* Database ---------------------- */

@include keyframes(clearFilterPulsate) {
  from {
    background-color: rgba($blackColor, 0.25);
    box-shadow: inset 0 0 0 2px rgba($whiteColor, 0.25);
  }

  50% {
    background-color: rgba($whiteColor, 0.25);
    box-shadow: inset 0 0 0 2px rgba($whiteColor, 0);
  }

  to {
    background-color: rgba($blackColor, 0.25);
    box-shadow: inset 0 0 0 2px rgba($whiteColor, 0.25);
  }
}

@include keyframes(dropPopoverFromBottom) {
  from {
    @include transform(translateY(48px) scale(0.75));
    opacity: 0;
  }

  60% {
    @include transform(translateY(-4px) scale(1));
  }

  to {
    @include transform(translateY(0) scale(1));
    opacity: 1;
  }
}

.rating {
  display: block;
  width: 2*$baseScale;
  height: 2*$baseScale;
  font-size: $smallFontSize;
  line-height: 2*$baseScale;
  font-weight: bold;
  text-align: center;
  background-color: rgba($blackColor, 0.15);
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: $smallBorderRadius $smallBorderRadius 0 0;

  &[data-rating="--"] {
    display: none;
  }

  &:after {
    content: attr(data-year);
    display: block;
    margin-top: 1px;
    color: $whiteColor;
    line-height: 1.5;
    background-color: rgba($blackColor, 0.3);
    border-radius: 0 0 $smallBorderRadius $smallBorderRadius;
  }
}

.feature-icon {
  padding-top: 0.25*$baseScale;
  padding-left: 2.2*$baseScale;
  padding-bottom: 0.25*$baseScale;
  margin-bottom: 0.5*$baseScale;
  font-size: $mediumFontSize;
  background-position: 15px center;
  background-repeat: no-repeat;

  &.off {
    opacity: 0.15;
  }
}

.database-filter-container {
  margin-top: $baseScale;
  margin-bottom: $baseScale;

  .database-filter {
    select {
      width: 100%;
    }
  }
}

.database-entry {
  margin-bottom: 0;

  .button-panel {
    margin-top: 0.675*$baseScale;
    float: right;
    text-align: right;

    @media screen and (max-width: $mediumBreakPoint) {
      margin-top: 0.75*$baseScale;
    }

    @media screen and (max-width: $smallBreakPoint) {
      margin-top: 0;
      margin-left: 0;
      margin-bottom: 2*$baseScale;
      text-align: left;
      float: none;
    }

    .new-restaurant-reservation {
      padding-left: 32px;
      background-image: image-url('database-icons/reservations-button.png');
      background-position: 8px center;
      background-repeat: no-repeat;
    }
  }

  .toggle-last-year-tests {
    padding-left: 32px;
    color: $whiteColor !important;
    background-image: image-url('database-icons/chevron-down.png');
    background-position: 8px center;
    background-repeat: no-repeat;

    &.opened {
      background-image: image-url('database-icons/chevron-up.png');
    }
  }

  .last-year-tests-container {
    margin-bottom: 1*$baseScale;
  }

  .last-year-tests {
    display: none;
    margin-top: 1*$baseScale;
    padding-top: 0.65*$baseScale;
    border-top: 2px solid $lightBorderColor;
    opacity: 0.6;

    .rating {
      background-color: $darkBorderColor !important;

      &:after {
        background-color: rgba($blackColor, 0.5) !important;
      }
    }
  }

  .database-entry-data {
    &.rating {
      float: right;
    }
  }

  .database-entry-sidebar {
    font-size: $smallFontSize;

    .inner {
      padding: 0.5*$baseScale;
      background-color: $primaryLightColor;
      @include border-radius($smallBorderRadius);
    }

    .map-canvas {
      height: 8*$baseScale;
      @include border-radius(3px 3px 0 0);
      overflow: hidden;
    }

    a {
      display: block;
      text-decoration: underline;
      @include text-overflow;

      &.button {
        color: $whiteColor;
        text-decoration: none;

        &.new-restaurant-reservation {
          padding-left: 32px;
        }
      }
    }

    ul {
      margin-left: 0;
      padding-left: 0;
      list-style: none;

      p {
        display: inline;
        margin: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .database-icon {
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 4px 0.5*$baseScale 4px 1.5*$baseScale;
        background-position: 6px 6px;
        background-repeat: no-repeat;

        @each $databaseIcon in "address", "website", "email", "phone", "fax", "facebook", "twitter", "open-result", "reservations", "parking", "seats", "other-seats", "chef", "people", "taste-time", "menu-price", "tags" {
          &.#{$databaseIcon} {
            background-image: image-path('database-icons/#{$databaseIcon}.png');
            background-color: rgba($whiteColor, 0.65);
            @include image-2x('database-icons/#{$databaseIcon}@2x.png', 16px, 16px);
          }
        }
      }
    }

    .error-report-button {
      text-align: center;
    }
  }
}

.not-tested-yet {
  padding: 0.5*$baseScale;
  margin-bottom: 1*$baseScale;
  font-size: $mediumFontSize;
  color: $whiteColor;
  @include border-radius($smallBorderRadius);

  h2 {
    margin-top: 0;
    color: $whiteColor;
  }

  a {
    color: $whiteColor !important;
    font-weight: bold;
    text-decoration: underline;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.database-filter {
  margin-bottom: 0;
  padding-top: 15px;

  select, input[type="text"], input[type="submit"], .rating-options, .select-field {
    margin-bottom: 15px;
  }


  select {
    padding: 0 18px 0 6px;
    height: 1.5*$baseScale;
    margin-top: 0;
    cursor: pointer;
    font-family: $fontFamily;
    font-size: 14px;
    line-height: 2.3em;
    color: $inputFontColor;
    background-color: $whiteColor;
    background-image: image-url("dropdown-arrows.png");
    background-position: right center;
    background-repeat: no-repeat;
    border: 1px solid $whiteColor;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    @include appearance(none);
    @include border-radius($smallBorderRadius);
    opacity: 0.75;

    &:focus {
      outline: none;
      opacity: 1;
    }
  }

  .rating-options {
    margin-top: 1px;
    @include border-radius($smallBorderRadius);

    legend {
      float: left;
      width: 4*$baseScale;
      position: relative;
      top: 0.35*$baseScale;
      margin: 0;
      padding: 0;
      font-size: $inputFontSize;
      font-weight: bold;
      color: $whiteColor;
      @include antialiased;
    }

    .ratings {
      width: 100%;
      margin-left: 0;
    }

    .rating-help-popover-toggle, .clear-filter {
      display: inline-block;
      width: 24px;
      height: 24px;
      position: relative;
      float: right;
      margin-left: 0.35*$baseScale;
      top: 4px;
      color: $whiteColor;
      text-align: center;
      font-size: $smallFontSize;
      font-weight: bold;
      line-height: 24px;
      background-color: rgba($blackColor, 0.25);
      @include border-radius(24px);

      @media screen and (max-width: $smallBreakPoint) {
        display: none;
      }
    }

    .clear-filter {
      @include animation(clearFilterPulsate 3s linear infinite);

      @media screen and (max-width: 1230px) {
        display: none;
      }
    }

    .rating-help-popover {
      width: 400px;
      bottom: 55px;
      right: -15px;
      font-size: $smallFontSize;
      display: none;

      @media screen and (max-width: $smallBreakPoint) {
        display: none;
      }

      &:before {
        display: none;
      }

      &:after {
        content: " ";
        display: block;
        width: 24px;
        height: 18px;
        left: -12px;
        margin-left: 89.75%;
        position: absolute;
        bottom: -18px;
        background: image-url("popover-nub-white-bottom.png") center center no-repeat;
      }

      &.show {
        display: block;
        @include animation(dropPopoverFromBottom 0.15s ease-out);
      }

      .popover-inner {
        height: 300px;
        margin-bottom: 10px;
        overflow: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;

        table {
          margin-bottom: 0;
        }
      }

      .button {
        display: block;
        text-align: center;
        background-color: #3F4E58;
        color: $whiteColor;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    .rating-option {
      float: left;
      width: 32px;
      height: 32px;
      position: relative;
      margin-right: 0.25*$baseScale;

      label {
        display: block;
        width: 32px;
        height: 32px;
        position: relative;
        opacity: 0.25;
        color: $whiteColor;
        line-height: 32px;
        text-align: center;
        vertical-align: middle;
        background-color: $blackColor;
        font-weight: bold;
        font-size: 12px;
        @include border-radius($smallBorderRadius);
        @include antialiased;
      }


      input[type="radio"], input[type="checkbox"] {
        display: block;
        position: absolute;
        z-index: 400;
        width: 32px;
        height: 32px;
        opacity: 0;
        cursor: pointer;
        @include appearance(none);

        &:checked ~ label {
          opacity: 1;
        }
      }

      &.rating-toque-3 {
        label {
          text-indent: -9999px;
          background: $blackColor image-url("ratings/restaurants-toque-3.png") center center no-repeat;
          @include image-2x("ratings/restaurants-toque-3@2x.png", 22px, 21px);
        }
      }

      &.rating-toque-2 {
        label {
          text-indent: -9999px;
          background: $blackColor image-url("ratings/restaurants-toque-2.png") center center no-repeat;
          @include image-2x("ratings/restaurants-toque-2@2x.png", 18px, 21px);
        }
      }

      &.rating-toque-1 {
        label {
          text-indent: -9999px;
          background: $blackColor image-url("ratings/restaurants-toque-1.png") center center no-repeat;
          @include image-2x("ratings/restaurants-toque-1@2x.png", 14px, 21px);
        }
      }

      &.rating-pop {
        label {
          text-indent: -9999px;
          background: $blackColor image-url("ratings/restaurants-pop-filter.png") center center no-repeat;
          @include image-2x("ratings/restaurants-pop-filter@2x.png", 21px, 21px);
        }
      }

      &.rating-recommended {
        label {
          text-indent: -9999px;
          background: $blackColor image-url("ratings/restaurant-recommended-filter.png") center center no-repeat;
          @include image-2x("ratings/restaurant-recommended-filter@2x.png", 16px, 16px);
        }
      }

      &.hotel-rating-1 {
        label {
          text-indent: -9999px;
          background: $blackColor image-url("ratings/hotel-rating-1.png") center center no-repeat;
          @include image-2x("ratings/hotel-rating-1@2x.png", 21px, 15px);
        }
      }

      &.hotel-rating-2 {
        label {
          text-indent: -9999px;
          background: $blackColor image-url("ratings/hotel-rating-2.png") center center no-repeat;
          @include image-2x("ratings/hotel-rating-2@2x.png", 21px, 15px);
        }
      }

      &.hotel-rating-3 {
        label {
          text-indent: -9999px;
          background: $blackColor image-url("ratings/hotel-rating-3.png") center center no-repeat;
          @include image-2x("ratings/hotel-rating-3@2x.png", 16px, 14px);
        }
      }

      &.hotel-rating-4 {
        label {
          text-indent: -9999px;
          background: $blackColor image-url("ratings/hotel-rating-4.png") center center no-repeat;
          @include image-2x("ratings/hotel-rating-4@2x.png", 21px, 16px);
        }
      }

      &.hotel-rating-5 {
        width: 38px;

        label {
          text-indent: -9999px;
          background: $blackColor image-url("ratings/hotel-rating-5.png") center center no-repeat;
          @include image-2x("ratings/hotel-rating-5@2x.png", 30px, 17px);
        }

        input[type="radio"], label {
          width: 38px;
        }
      }

      &.winery-rating-1, &.winery-rating-2, &.winery-rating-3, &.winery-rating-4, &.winery-rating-5 {
        label {
          color: $blackColor;
          background: $blackColor image-url("ratings/winery-rating-general.png") center -3px no-repeat;
          @include image-2x("ratings/winery-rating-1@2x.png", 25px, 32px);
        }
      }
    }
  }

  input[type="text"] {
    border-color: transparent;
    background-color: rgba($whiteColor, 0.75);

    &:focus {
      background-color: $whiteColor;
      @include box-shadow(none);
    }
  }

  input::-webkit-input-placeholder {
    color: rgba($blackColor, 0.25);
  }

  .checkbox {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    color: $inputFontColor;
    background-color: rgba($whiteColor, 0.75);
    border-radius: $smallBorderRadius;
    cursor: pointer;
  }
}

.restaurants, .hotels, .wineries, .wines {
  &.index, &.map, &.best_of_map, &.additional {
    background-color: $primaryDarkColor !important;

    .content {
      height: 100%;
      background-color: $primaryDarkColor;
    }

    .bottom {
      display: none;
    }

    .application {
      padding-bottom: 0;
      background-color: $primaryDarkColor;

      .map-canvas {
        height: 450px;
        @include transition(height 0.35s ease-out);

        @media screen and (min-height: $largeHeightBreakPoint) {
          height: 600px;
        }

        @media screen and (max-width: $smallBreakPoint) {
          display: none;
        }
      }
    }
  }

  .main-statistics {
    margin-bottom: 1*$baseScale;

    label, .data-label {
      font-size: $mediumFontSize;
    }

    label.with-icon {
      padding-left: 0.8*$baseScale;
      background-position: left center;
      background-repeat: no-repeat;
    }
  }

  &.best_of_map, &.additional {
    .content {
      @media screen and (max-width: $largeBreakPoint) {
        width: 78% !important;
        margin-left: 22% !important;
      }

      @media screen and (max-width: $mediumBreakPoint) {
        width: 100% !important;
        margin-left: 0 !important;
      }

      .application {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }

    .map-canvas, .budapest-extra-map {
      position: absolute;
      height: auto !important;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100% !important;

      @media screen and (max-width: $smallBreakPoint) {
        display: block !important;
      }
    }

    .budapest-extra-map {
      height: 100% !important;
      border: none;
    }

    .best-of-map-title {
      top: 10px;
      left: 33%;
      right: 10px;
      position: absolute;
      z-index: 9998;
      background-color: rgba($whiteColor, 0.95);
      @include box-shadow(0 1px 3px rgba($blackColor, 0.15));
      @include border-radius($smallBorderRadius);

      @media screen and (max-width: $smallBreakPoint) {
        left: 0;
        top: 0;
        right: 0;
        @include border-radius(0);
      }

      .best-of-map-logo {
        display: none;
        margin-bottom: 0.5*$baseScale;
        width: 182px;
        height: 26px;
        position: relative;
        text-indent: -9999px;
        background: image-url("logo-email.png") center center no-repeat;
      }

      .close-best-of-modal {
        position: absolute;
        display: block;
        top: 5px;
        right: 5px;
        width: 32px;
        height: 32px;
        text-indent: -9999px;
        background: image-url('icon-close.png') center center no-repeat;
        opacity: 0.25;

        &:hover {
          opacity: 1;
        }
      }
    }

    &.embedded {
      .best-of-map-logo {
        display: block;
      }

      .navigation, .mobile-branding {
        display: none;
      }

      .application, .content {
        width: 100% !important;
        margin-left: 0 !important;
      }
    }
  }
}

.database-filter-container {
  margin: 0;

  .results-counter {
    text-align: center;
    color: rgba($whiteColor, 0.4);
    padding-top: 0.4*$baseScale;
    padding-bottom: $baseScale;
  }

  .results-counter strong {
    color: $whiteColor;
  }

  .record-tiles {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }

  .database-results {
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    .start-search {
      width: 65%;
      max-width: 664px;
      margin: 2*$baseScale auto;
      padding-left: 2.25*$baseScale;
      font-size: $mediumFontSize;
      color: $whiteColor;
      background: image-url('icon-start-search.png') 0.5*$baseScale 0.35*$baseScale no-repeat;
      opacity: 0.35;

      strong, h3, ul, a {
        color: $whiteColor;
      }

      a {
        border-bottom: 1px solid rgba($whiteColor, 0.45);
      }

      @media screen and (max-width: $smallBreakPoint) {
        width: 90%;
        margin: 0.5*$baseScale auto;
      }
    }

    .result {
      display: block;
      width: 33%;

      @media screen and (max-width: 2000px) {
        width: 24.8%;
      }

      @media screen and (max-width: 1500px) {
        width: 33%;
      }

      @media screen and (max-width: 1000px) {
        width: 49.8%;
      }

      @media screen and (max-width: $smallBreakPoint) {
        width: 100%;
      }

      a {
        display: block;
        overflow: hidden;
        margin: 15px;
        margin-top: 0;
        padding: 0.5*$baseScale;
        padding-bottom: 0;
        line-height: 1.25;
        background-color: rgba($blackColor, 0.4);
        @include border-radius($smallBorderRadius);

        @media screen and (max-width: $smallBreakPoint) {
          min-height: 3.3*$baseScale;
        }

        &:active {
          background-color: rgba($blackColor, 0.6);
        }

        .title, .address, .tags {
          display: block;
        }

        .title {
          font-weight: bold;
          margin-bottom: 0.25*$baseScale;
        }

        .address {
          margin-bottom: 0.5*$baseScale;
          font-size: $smallFontSize;
          color: rgba($whiteColor, 0.4);
        }

        .rating-container {
          float: right;
          min-height: 2.5*$baseScale;
          margin-left: 0.5*$baseScale;
          margin-bottom: 0.5*$baseScale;
        }
      }
    }
  }
}

.database-results .tags, .map-canvas .tags, .database-entry-sidebar .tags {
  display: block;
  margin-bottom: 0.5*$baseScale;

  span {
    display: inline-block;
    margin-right: 5px;
    padding: 3px 7px;
    color: #fff;
    font-size: $smallFontSize;
    background: #000;
    text-transform: capitalize;
  }
}

.database-entry-sidebar .tags {
  a {
    display: inline;
  }

  span {
    background: rgba(255, 255, 255, 0.65);
    color: $primaryFontColor;
  }
}

.map-canvas {
  .tags {
    span {
      background: #333645;
    }
  }
}
