.guides2012, .guides2013, .guides2014, .guides2015, .guides2016, .guides2017 {
  &.default {
    a {
      color: $restaurantsLinkColor;

      &:hover {
        color: darken($restaurantsLinkColor, 15%);
      }
    }
  }

  &.index {
    background-color: transparent !important;

    .content, .application {
      position: relative;
    }

    .content {
      background-color: transparent !important;
    }

    .application {
      background-color: $primaryBackgroundColor !important;
      padding-bottom: 2*$baseScale;
    }

    .bottom {
      display: block;
    }
  }

  .blog-header {
    .blog-logo {
      white-space: nowrap;
    }

    .blog-logo-container {
      @media screen and (max-width: $smallBreakPoint) {
        width: 75%;
      }
    }

    .table-of-contents-container {
      text-align: right;

      @media screen and (max-width: $smallBreakPoint) {
        width: 25%;
      }
    }

    .blog-logo {
      color: $whiteColor;
      background-color: rgba($blackColor, 0.15);

      &:hover {
        color: $whiteColor;
      }
    }

    .table-of-contents-popover-toggle {
      position: relative;
      top: 0.89*$baseScale;
      font-weight: bold;
      font-size: $smallFontSize;
      text-transform: uppercase;
      color: $whiteColor;
      background-color: $primaryColor;

      &:hover {
        color: $whiteColor;
      }

      &:active {
        background-color: darken($primaryColor, 10%);
      }

      @media screen and (max-width: $smallBreakPoint) {
        top: 0.3*$baseScale;
      }
    }

    .table-of-contents-popover {
      visibility: hidden;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0;
      padding-right: 0;
      position: absolute;
      top: 2.1*$baseScale;
      right: 15px;
      text-align: left;

      h3 {
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 0.25*$baseScale;
        font-size: $mediumFontSize;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      &:before {
        margin-left: 93%;
        left: -12px;
      }

      &.show {
        visibility: visible;
        @include animation(dropPopover 0.15s ease-out);
      }

      a {
        display: block;
        padding: 2px 10px;
        font-size: $smallFontSize;

        &:hover {
          background-color: $primaryLightColor;
        }
      }
    }
  }

  .redeem-code-needed-label {
    display: none;
  }

  &.user-without-redeem-code {
    .redeem-code-needed-label {
      display: inline;
    }

    .popover {
      .redeem-code-needed-label {
        display: none;
      }
    }
  }
}

.guides2012 .blog-header {
  background: $guidesColor image-url("headers/bg-kalauz-2014.jpg") center 25% no-repeat;
  @include background-size(cover);
}

.guides2013 .blog-header {
  background: $guidesColor image-url("headers/bg-kalauz-2014.jpg") center 25% no-repeat;
  @include background-size(cover);
}

.guides2014 .blog-header {
  background: $guidesColor image-url("headers/bg-kalauz-2014.jpg") center 25% no-repeat;
  @include background-size(cover);
}

.guides2015 .blog-header {
  background: $guidesColor image-url("headers/bg-kalauz-2015.jpg") center 25% no-repeat;
  @include background-size(cover);
}

.guides2016 .blog-header {
  background: $guidesColor image-url("headers/bg-kalauz-2016.jpg") center center no-repeat;
  @include background-size(cover);
}

.guides2017 .blog-header {
  background: $guidesColor image-url("headers/bg-kalauz-2017.jpg") center center no-repeat;
  @include background-size(cover);
}
