.inner {
  padding: 12px;
}

.home, .home_blocks {
  .application {
    padding-bottom: 0;
  }

  .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
  }

  .main-post {
    position: relative;
    padding-top: 2*$baseScale;
    width: 100%;
    background-color: $primaryDarkColor;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    @include background-size(cover);

    .main-post-excerpt {
      @include transition(all 0.25s ease-out);

      .inner {
        margin-top: 4*$baseScale;
        margin-bottom: 0 !important;
        padding-bottom: 2px;

        @media screen and (max-width: $smallBreakPoint) {
          margin-top: 0*$baseScale;
          padding-bottom: 12px;
        }

        h1 {
          font-size: 1.75*$baseScale;
          margin-top: 0;
          letter-spacing: -1px;
          margin-bottom: 0.35*$baseScale;
          line-height: 0.85*$baseScale;
          position: relative;

          a {
            color: $whiteColor;
            text-shadow: 0 3px 1px rgba($blackColor, 0.5);
            background-color: rgba($primaryColor, 0.85);
            @include box-shadow(-10px 0 0 rgba($primaryColor, 0.85), 10px 0 0 rgba($primaryColor, 0.85));
          }
        }

        p {
          font-size: $bigFontSize;
          margin-bottom: 0;

          @media screen and (max-width: $smallBreakPoint) {
            font-size: 17px;
          }
        }

        .post-meta {
          margin-bottom: 0 !important;
          font-size: 0.75*$baseScale;
          font-weight: bold;
          color: $whiteColor;
          text-shadow: 0 2px 1px rgba($blackColor, 0.35);

          .comments-count {
            float: none;
            display: inline-block;
            position: relative;
            top: -0.18*$baseScale;
            width: 48px;
            height: 48px;
            letter-spacing: -1px;
            font-size: $mediumFontSize;
            line-height: 2.55;
            color: #888;
            text-shadow: none;
            background-image: image-url('post-meta-icons/comments-big-invert.png');
            opacity: 1;

            @media screen and (max-width: $smallBreakPoint) {
              display: none;
            }
          }
        }

        .read-more {
          position: relative;
          top: 0.015*$baseScale;
        }
      }
    }
  }

  .featured-posts {
    padding-top: 0.5*$baseScale;

    .post-meta {
      margin-bottom: 0.25*$baseScale;
      font-size: $mediumFontSize;

      .comments-count {
        position: relative;
        top: -0.2*$baseScale;
        display: inline-block;
        float: none;
      }
    }

    .post {
      h2 {
        margin-bottom: 0.5*$baseScale;
        line-height: 0.95;
        font-size: 1.05*$baseScale;

        a {
          display: block;
        }
      }

      .excerpt {
        margin-bottom: 0;
      }

      .featured-image {
        margin-bottom: 0;
      }
    }

    .gm-ad {
      margin-bottom: 1.2*$baseScale;

      .inner {
        padding: 0.75*$baseScale;
        @include box-shadow(inset 0 0 0 1px rgba(0,0,0,0.085));

        h2 {
          font-size: 1.05*$baseScale;
          margin-top: 0;
        }

        .clearfix {
          margin-bottom: 0;
        }

        .button {
          background-color: rgba($blackColor, 0.25);

          &:active {
            background-color: rgba($blackColor, 0.35);
          }
        }
      }

      &.kalauz-2012, &.kalauz-2013, &.kalauz-2014, &.kalauz-2015, &.kalauz-2016, &.kalauz-2017 {
        margin-top: 0.8*$baseScale;
        font-size: $mediumFontSize;

        .inner {
          background-color: $secondaryColor;
        }

        h2, p {
          color: darken($secondaryColor, 30%);
        }

        .product-photo {
          padding: 5px;
          background-color: $whiteColor;
          border: 1px solid darken($secondaryColor, 8%);

          @media screen and (max-width: $smallBreakPoint) {
            display: none;
          }
        }

        .button {
          display: inline-block;
          padding: 0.5*$baseScale 1*$baseScale;
          text-align: center;
          font-size: $mediumFontSize;

          @media screen and (max-width: $smallBreakPoint) {
            display: block;
            padding: 0.5*$baseScale 1*$baseScale;
            font-size: $mediumFontSize;
          }
        }
      }

      &.newsletter {
        .inner {
          background-color: rgba($blueColor, .9);
        }

        h2, p {
          color: $whiteColor;
        }
      }
    }
  }

  .latest-comments {
    @media screen and (max-width: $smallBreakPoint) {
      display: none;
    }

    h2 {
      margin-bottom: 0.15*$baseScale;
      line-height: 0.95;
      font-size: 1.05*$baseScale;
    }

    .latest-comment {
      font-size: $mediumFontSize;
      margin-bottom: 1*$baseScale;
      word-wrap: break-word;

      .comment-post-title {
        font-size: $mediumFontSize;
        font-weight: normal;

        a {
          display: block;
          color: $lightFontColor;
        }
      }

      .comment-author {
        color: $primaryColor;
        font-weight: bold;
      }

      .comment-body {
        padding: 0.5*$baseScale;
        margin-bottom: 0;
        color: $whiteColor;
        background-color: $primaryColor;
        @include border-radius($smallBorderRadius);

        &:before {
          display: block;
          content: " ";
          margin-left: -0.25*$baseScale;
          margin-top: -1.1*$baseScale;
          margin-bottom: 0.35*$baseScale;
          width: 0;
          height: 0;
          border: 0.35*$baseScale solid transparent;
          border-bottom-color: $primaryColor;
        }

        .read-more-button {
          display: block;
          margin-top: 0.5*$baseScale;
          padding-top: 0.5*$baseScale;
          font-weight: bold;
          color: $whiteColor;
          border-top: 1px solid rgba($whiteColor, 0.1);
          @include text-overflow;
        }
      }

      &.a-muvelt-alkoholista {
        .comment-author {
          color: $amuvaColor;
        }

        .comment-body, .read-more-button {
          background-color: $amuvaColor;

          &:before {
            border-bottom-color: $amuvaColor;
          }
        }
      }

      &.buvos-szakacs {
        .comment-author {
          color: darken($bszColor, 35%);
        }

        .comment-body, .read-more-button {
          background-color: $bszColor;

          &:before {
            border-bottom-color: $bszColor;
          }
        }
      }

      &.mese-habbal {
        .comment-author {
          color: $mhColor;
        }

        .comment-body, .read-more-button {
          background-color: $mhColor;

          &:before {
            border-bottom-color: $mhColor;
          }
        }
      }
    }
  }
}
