.hotels {
  a {
    color: $hotelsLinkColor;

    &:hover {
      color: darken($hotelsLinkColor, 15%);
    }
  }

  .button {
    color: $whiteColor;
    background-color: $hotelsColor;

    &:hover {
      color: $whiteColor;
    }

    &:active {
      background-color: darken($hotelsColor, 10%);
    }
  }

  .infobox div {
    a {
      color: $hotelsColor;
    }
  }

  .rating {
    background-color: $hotelsColor;
    color: $whiteColor;

    .rating-value {
      visibility: hidden;
    }

    &:after {
      background-color: darken($hotelsColor, 20%);
    }

    @each $hotelRating in '1', '2', '3', '4', '5' {
      &[data-rating="#{$hotelRating}"] {
        background-image: image-url('ratings/hotel-rating-#{$hotelRating}.png');
      }
    }

    &[data-rating="1"] {
      @include image-2x("ratings/hotel-rating-1@2x.png", 21px, 15px);
    }

    &[data-rating="2"] {
      @include image-2x("ratings/hotel-rating-2@2x.png", 21px, 15px);
    }

    &[data-rating="3"] {
      @include image-2x("ratings/hotel-rating-3@2x.png", 16px, 14px);
    }

    &[data-rating="4"] {
      @include image-2x("ratings/hotel-rating-4@2x.png", 21px, 16px);
    }

    &[data-rating="5"] {
      @include image-2x("ratings/hotel-rating-5@2x.png", 30px, 17px);
    }

    &[data-rating="?"] {
      .rating-value {
        visibility: visible;
      }
    }

  }

  .database-filter-container {
    .button {
      background-color: $hotelsColor;
    }

    .result {
      a {
        color: $hotelsColor;

        .hotel-tests {
          display: block;
          margin-left: 0.5*$baseScale;
          min-height: 3.5*$baseScale;
        }
      }

      .record-kind-rating {
        display: none;

        .rating {
          background-color: #000;
          color: #fff;

          &:after {
            background: $redColor;
            text-transform: lowercase;
            font-size: 0.6rem;
          }

          .rating-value {
            visibility: visible;
          }
        }
      }

      .recommended {
        .rating-container {
          display: none;
        }

        .rating-container.record-kind-rating.recommended-badge {
          display: block;

          .rating {
            box-shadow: inset 0 0 0 1px $redColor;
          }
        }
      }
    }
  }

  .database-entry {
    .rating {
      margin-left: 20px;
      margin-bottom: 20px;
      float: right;
    }

    .database-entry-sidebar {
      margin-bottom: 2*$baseScale;

      .inner {
        background-color: $primaryLightColor;
      }
    }

    .not-tested-yet {
      background-color: $primaryColor;
    }

    .paid-hotel-image {
      margin-bottom: 1*$baseScale;
    }
  }
}
