.news {
  .blog-header {
    background: $newsColor image-url("headers/bg-news.jpg") center center no-repeat;
    @include background-size(cover);
  }

  .blog-logo {
    background-color: rgba($blackColor, 0.5);
  }

  .related-posts h1 a {
    background-color: rgba($newsColor, 0.85);
    @include box-shadow(-5px 0 0 rgba($newsColor, 0.85), 5px 0 0 rgba($newsColor, 0.85));
  }
}

.english-guide-title {
  img {
    display: block;
    margin-bottom: 0.5rem;
  }

  &.first-in-second-column {
    margin-top: 3.75rem;
  }
}

.english-guide-restaurant-list {
  overflow: hidden;
  clear: both;
}

.english-guide-restaurants-column {
  float: left;
  width: 50%;
}

.english-guide-restaurant-thumbnail {
  height: 14rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.english-guide-restaurant h2 {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  color: #fff;
  font-weight: bold !important;
  font-size: 1.5rem;
  background-color: $restaurantsColor;
}

.english-guide-restaurant-rating {
  position: relative;

  img {
    max-width: none;
    width: 4rem;
    height: auto;
    position: absolute;
    margin-left: -3.5rem;
    top: -2rem;
  }
}

.english-guide-restaurant-body {
  padding: 1rem;
  background-color: #fff;
}

.english-guide-restaurant-address {
  font-size: 1.25rem;
  margin-bottom: 0.5*$baseScale;
}

.english-guide-restaurant-description {
  margin-bottom: 0 !important;
}