.orders:not(.admin){
  .inner {
    padding: 0.35*$baseScale;
    padding-bottom: 0.75*$baseScale;
    background-color: $primaryLightColor;
    @include border-radius($smallBorderRadius);
  }

  .order-form {
    margin-top: 0;
    margin-bottom: 0;

    legend {
      margin-top: 0.75*$baseScale;
      margin-bottom: 0.25*$baseScale;
    }

    input {
      border-color: transparent;

      &:focus {
        border-color: $blueColor;
      }
    }

    .form-actions {
      margin-top: 0;
      padding-top: 0.4*$baseScale;
      border-top: none;
    }
  }

  .product-description {
    img.product-photo {
      width: 220px;
      margin-left: 10px;
      margin-bottom: 10px;
      padding: 5px;
      border: 1px solid $darkBorderColor;

      @media screen and (max-width: $smallBreakPoint) {
        width: 100%;
        float: none;
        margin-left: 0;
        margin-top: 1*$baseScale;
        margin-bottom: 1*$baseScale;
        padding: 0;
        border: none;
      }
    }

    .panel {
      font-size: $smallFontSize;
    }
  }

  &.show {
    .order-panel {
      padding-bottom: 0;
      margin-bottom: 1*$baseScale;
    }

    mark {
      background-color: transparent;
      color: inherit;
    }
  }
}
