.post {
  .embedded-recipe {
    margin-bottom: 1.5*$baseScale;
    margin-left: -12.5%;
    margin-right: -12.5%;
    padding-left: 12.5%;
    padding-right: 12.5%;
    padding-bottom: 1*$baseScale;
    background-color: $whiteColor;
    border-bottom: 4px solid lighten($bszColor, 20%);
    @include box-shadow(inset 14px 0 0 -10px $bszColor);

    @media screen and (max-width: $smallBreakPoint) {
      padding-left: 4.5%;
      margin-left: 0;
      margin-right: 0;
      padding-right: 4.5%;
    }

    .embedded-title {
      margin-top: 0;
      width: 150%;
      margin-left: -25%;
      padding: 0.35*$baseScale;
      padding-left: 25%;
      padding-right: 25%;
      font-family: "lft-etica", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      font-weight: normal;
      font-size: 1*$baseScale;
      color: $whiteColor;
      background-color: $bszColor;
      background-image: image-url('bg-recipe-title.png');
      background-position: 7% center;
      background-repeat: no-repeat;
      @include background-size(32px 32px);

      @media screen and (max-width: $smallBreakPoint) {
        width: 109%;
        margin-left: -4.5%;
        margin-right: -4.5%;
        padding-left: 0.35*$baseScale;
        background-image: none;
      }

      a {
        color: $whiteColor;
        border: none;

        &:hover {
          color: rgba($whiteColor, 0.65);
        }
      }
    }

    .embedded-recipe {
      padding-left: 6.25%;
      padding-bottom: 0;
      margin-left: -6.25%;
      @include box-shadow(none);

      .embedded-title {
        width: 112.5%;
        padding-left: 12.5%;
        margin-left: -12.5%;
        background-image: none;

        @media screen and (max-width: $smallBreakPoint) {
          width: 104.5%;
          padding-left: 0.35*$baseScale;
          margin-left: -4.5%;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}
.recipes {
  a {
    color: $recipesLinkColor;

    &:hover {
      color: darken($recipesLinkColor, 15%);
    }
  }

  .button {
    background-color: $recipesColor;
  }

  .application {
    padding-bottom: 0;
  }

  .database-filter-container {
    margin-top: 0;

    .keyword-field {
      border: 1px solid $darkBorderColor;

      &:focus {
        background-color: lighten($blueColor, 30%);
        border-color: $blueColor;
        @include box-shadow(0 1px 10px rgba($blueColor, 0.2));
      }
    }

    .select-field {
      border: 1px solid $darkBorderColor;
    }
  }

  .recipe-category-title {
    margin-top: 0;

    a {
      display: block;
    }

    .recipe-category {
      padding: 0.15*$baseScale 0.25*$baseScale 0.15*$baseScale;
      color: $whiteColor;
      position: absolute;
      font-weight: normal;
      background: rgba($blackColor, 0.5);
    }

    .recipe-category-thumbnail {
      display: block;
      width: 100%;
      padding-bottom: 48%;
      background-color: $recipesColor;
      background-position: center center;
      background-repeat: no-repeat;
      @include background-size(cover);

      @each $recipeCategory in "alapkeszitmeny-martas", "leves", "zoldsegetelek", "eloetel-es-salata", "hal-es-tenger-gyumolcsei", "teszta", "negylabu", "szarnyas", "desszert", "egyeb" {
        &.#{$recipeCategory} {
          background-image: image-url('recipe-categories/#{$recipeCategory}.jpg');
        }
      }
    }
  }

  .featured-recipes {
    margin-bottom: 1*$baseScale;
  }

  .recipe {
    display: block;
    padding: 0.65*$baseScale;
    border-bottom: 1px solid $lightBorderColor;

    &:hover {
      background-color: rgba($blackColor, 0.025);
    }

    .title {
      font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: $bigFontSize;
    }
  }

  .recipe-container:last-child {
    .recipe {
      border-bottom: none;
    }
  }

  .pagination {
    margin-bottom: 1*$baseScale;
  }
}
