.restaurants, .restaurant_reservations:not(.admin) {
  a {
    color: $restaurantsLinkColor;

    &:hover {
      color: darken($restaurantsLinkColor, 15%);
    }
  }

  .ui-autocomplete {
    a {
      color: $inputFontColor;
    }
  }

  .button {
    color: $whiteColor;
    background-color: $restaurantsColor;

    &:hover {
      color: $whiteColor;
    }

    &:active {
      color: $whiteColor;
      background-color: darken($restaurantsColor, 10%);
    }
  }

  .infobox div {
    a {
      color: $secondaryColor;
    }
  }

  .rating {
    background-color: $restaurantsColor;
    color: $redColor;

    &:after {
      background-color: $primaryColor;
    }

    &[data-rating="11"],
    &[data-rating="12"],
    &[data-rating="13"],
    &[data-rating="14"],
    &[data-rating="15"],
    &[data-rating="16"],
    &[data-rating="17"],
    &[data-rating="18"],
    &[data-rating="19"],
    &[data-rating="20"] {
      .rating-value {
        color: $blackColor !important;
        position: relative;
        top: -5px;
      }
    }

    &[data-rating="11"],
    &[data-rating="12"] {
      background-image: image-url("ratings/restaurant-recommended.png");
      background-position: center 4px;
      @include image-2x("ratings/restaurant-recommended@2x.png", 32px, 32px);

      .rating-value {
        top: 2px;
        left: -3px;
      }
    }

    &[data-rating="13"],
    &[data-rating="14"] {
      background-image: image-url("ratings/restaurant-high.png");
      @include image-2x("ratings/restaurant-high@2x.png", 24px, 37px);
    }

    &[data-rating="15"],
    &[data-rating="16"] {
      background-image: image-url("ratings/restaurant-higher.png");
      @include image-2x("ratings/restaurant-higher@2x.png", 30px, 40px);

      .rating-value {
        left: -3px;
      }
    }

    &[data-rating="17"],
    &[data-rating="18"] {
      background-image: image-url("ratings/restaurant-highest.png");
      @include image-2x("ratings/restaurant-highest@2x.png", 37px, 42px);

      .rating-value {
        top: -4px;
        left: -6px;
      }
    }
    &[data-rating="19"],
    &[data-rating="20"] {
      background-image: image-url("ratings/restaurant-highest.png");

      .rating-value {
        left: -6px;
      }
    }

    &.gm-pop {
      background-color: transparent;
      background-image: image-url("ratings/restaurant-pop.png");
      @include image-2x("ratings/restaurant-pop@2x.png", 39px, 39px);
      border-radius: 0;
      margin-bottom: 10px;

      &:after {
        display: none;
      }
    }
  }

  .database-filter-container {
    .button {
      background-color: $restaurantsColor;
    }

    .result {
      a {
        color: $restaurantsColor;

        .restaurant-tests {
          display: block;
          margin-left: 0.5*$baseScale;
          min-height: 3.5*$baseScale;
        }
      }

      .record-kind-rating {
        display: none;

        .rating {
          background-color: #000;
          color: #fff;

          &:after {
            text-transform: lowercase;
            font-size: 0.6rem;
          }
        }
      }

      .recommended, .other {
        .rating-container {
          display: none;
        }
      }

      .recommended {
        .rating-container.record-kind-rating.recommended-badge {
          display: block;

          .rating {
            box-shadow: inset 0 0 0 1px $redColor;
          }
        }
      }

      .other {
        .rating-container.record-kind-rating.other-badge {
          display: block;

          .rating {
            box-shadow: inset 0 0 0 1px $restaurantsColor;

            &:after {
              background-color: $restaurantsColor;
            }
          }
        }
      }
    }
  }

  .database-entry {
    .rating {
      margin-left: 20px;
      margin-bottom: 20px;
      float: right;
    }

    .database-entry-sidebar {
      margin-bottom: 2*$baseScale;

      .inner {
        background-color: $primaryLightColor;
      }
    }

    .not-tested-yet {
      background-color: $primaryColor;
    }

    .paid-restaurant-image {
      margin-bottom: 0.5*$baseScale;

      img {
        width: 100%;
        background-color: $whiteColor;
        padding: 0.5*$baseScale;
        border: 1px solid $darkBorderColor;
      }
    }

    .map-canvas, .restaurant-features {
      margin-bottom: 0.5*$baseScale;
    }
  }
}
