.restaurant-reservation-block {
  padding: 0.5*$baseScale 0 0.4*$baseScale;
  background-color: $secondaryColor;

  h3 {
    margin: 0.35*$baseScale 0;
    font-size: $mediumFontSize;

    @media screen and (max-width: $smallBreakPoint) {
      margin-top: 0;
      margin-bottom: 0.25*$baseScale;
      font-size: $bigFontSize;
      text-align: center;
    }
  }

  .restaurant-select-field {
    @media screen and (max-width: $smallBreakPoint) {
      margin-bottom: 0.5*$baseScale;
    }

    select {
      display: block;
      width: 100%;
    }
  }

  .button {
    margin-top: 1px;
    float: right;
    background-color: rgba($blackColor, 0.25);
  }
}
