.search {
  .application {
    background-color: $primaryLightColor;
  }

  .bottom {
    border-top-color: rgba($blackColor, 0.1);
    background-color: $lightBorderColor;
  }

  .gs-title, .gs-title b {
    color: $primaryColor !important;
    text-decoration: none !important;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: $bigFontSize !important;
    font-weight: bold;
  }

  .gs-visibleUrl {
    color: $lightFontColor !important;
  }

  .gs-snippet {
    font-size: $mediumFontSize;
    color: $primaryFontColor !important;
  }

  .gsc-result {
    padding-bottom: 30px;
  }

  .gcsc-branding, .gsc-above-wrapper-area {
    display: none;
  }

  .gsc-control-cse {
    padding-top: 0;
    padding-bottom: 0;
  }

  .gsc-control-cse, .gsc-control-cse .gsc-table-result {
    font-family: $fontFamily;
  }

  .gs-bidi-start-align {
    padding-bottom: 0;
  }

  .gsc-thumbnail-inside, .gsc-url-top, .gsc-result-info {
    padding: 0;
  }

  table {
    width: 100%;
    margin-bottom: auto;
    font-size: auto;
    @include box-shadow(none);

    thead {
      font-size: $mediumFontSize;

      tr {
        background-color: transparent;
      }

      th {
        padding: auto;
        border: 0;
      }
    }

    td {
      padding: 0;
      border: none;
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color:  none;
        }
      }
    }
  }
}
