/* Defaults ---------------------- */
html, body {
  height: 100%;
  background-color: $secondaryBackgroundColor;
}

body {
  margin: 0;
  color: $primaryFontColor;
  font-family: $fontFamily;
  font-size: $fontSize;
  @include antialiased;

  @media screen and (max-width: $mediumBreakPoint) {
    font-size: 17px;
  }

  @media screen and (max-width: $smallBreakPoint) {
    font-size: 15px;
  }

  &.user-without-redeem-code {
    &.wines .wine-review {
      display: none !important;
    }

    &.wines .wine-price {
      margin-bottom: 0 !important;
    }
  }
}

.content {
  margin-left: 20%;
  position: relative;
  @include transition(margin-left 0.15s ease-out);

  @media screen and (max-width: $largeBreakPoint) {
    width: 78%;
    margin-left: 22%;
  }

  @media screen and (max-width: $mediumBreakPoint) {
    width: 100%;
    margin-left: 0;
  }
}

a {
  color: $primaryColor;
  text-decoration: none;
  @include transition(color 0.15s ease-out);

  &:hover {
    color: darken($primaryColor, 20%);
  }
}

.text-cut-on-small {
  @media screen and (max-width: $smallBreakPoint) {
    display: none;
  }
}

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@include keyframes(shake) {
  from {
    @include transform(translateX(0));
  }

  20% {
    @include transform(translateX(-8px));
  }

  40% {
    @include transform(translateX(8px));
  }

  60% {
    @include transform(translateX(-8px));
  }

  80% {
    @include transform(translateX(8px));
  }

  to {
    @include transform(translateX(0));
  }
}

.shake {
  @include animation(0.4s shake ease-out);
}

/* Flash messages ---------------------- */
.notices {
  position: fixed;
  top: 15px;
  right: 0;
  width: 30%;
  z-index: 9999;

  @media screen and (max-width: $smallBreakPoint) {
    width: 100%;
  }
}

@include keyframes(flashMessageDropIn) {
  from {
    opacity: 0;
    @include transform(translateY(-35px));
  }

  to {
    opacity: 1;
    @include transform(translateY(0));
  }
}

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.flash-notice {
  width: 100%;
  margin-bottom: 0.5*$baseScale;
  padding: 6px 10px;
  font-size: $smallFontSize;
  font-weight: bold;
  line-height: $baseScale;
  @include border-radius($smallBorderRadius);
  @include animation(0.15s flashMessageDropIn ease-out 0.5s backwards);
  color: $whiteColor;
  background-color: $primaryDarkColor;

  a {
    color: inherit;
    text-decoration: underline;
  }

  a.flash-close {
    float: left;
    margin-left: -0.625*$baseScale;
    margin-top: -0.45*$baseScale;
    width: 0.625*$baseScale;
    height: 0.625*$baseScale;
    font-size: $bigFontSize;
    color: $whiteColor !important;
    line-height: 0.525*$baseScale;
    text-decoration: none;
    text-align: center;
    background-color: $blackColor;
    @include border-radius(100%);
  }

  &.email, &.success-modal, &.error-modal {
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
    text-align: left;
    color: $whiteColor;
    font-size: 0.75*$baseScale;
    font-weight: normal;
    background-color: rgba($primaryDarkColor, 0.95);
    border: none;
    @include border-radius(0);
    @include animation(0.15s fadeIn ease-out 0.5s backwards);

    .flash-modal {
      width: 50%;
      margin-left: 50%;
      padding: 0.5*$baseScale;
      padding-left: 5.25*$baseScale;
      padding-bottom: 0.65*$baseScale;
      position: relative;
      margin-top: 10%;
      left: -25%;
      background-color: #242B30;
      background-image: image-url('flash-messages-icons/email.png');
      background-position: 0.65*$baseScale 0.65*$baseScale;
      background-repeat: no-repeat;
      @include border-radius($bigBorderRadius);
      @include animation(0.15s flashMessageDropIn ease-out 0.65s backwards);

      @media screen and (max-width: $mediumBreakPoint) {
        margin-top: 5%;
        width: 95% !important;
        margin-left: 0 !important;
        padding-left: 0.5*$baseScale !important;
        left: 2.5% !important;
        background-image: none !important;
        font-size: $mediumFontSize;
      }
    }

    a.flash-close.button {
      float: none;
      padding: 10px 20px 10px 40px;
      margin-left: 0;
      color: $whiteColor !important;
      font-size: 0.5*$baseScale;
      text-decoration: none;
      background-color: $blueColor;
      background-image: image-url('flash-messages-icons/checkmark.png');
      background-position: 10px center;
      background-repeat: no-repeat;
      @include border-radius($bigBorderRadius);
      @include box-shadow(none);

      &.cancel-button {
        background-color: rgba($whiteColor, 0.15);
        background-image: none;
        padding-left: 20px;

        &:active {
          background-color: rgba($whiteColor, 0.1);
        }
      }
    }

    p:last-child {
      margin-bottom: 0.25*$baseScale;
    }


    &.modal {
      ul.horizontal {
        li {
          margin-right: 0.5*$baseScale;
        }
      }

      .flash-modal {
        padding-left: 2.85*$baseScale;
        background-image: image-url('flash-messages-icons/alert.png')
      }
    }
  }

  &.success-modal {
    .flash-modal {
      padding-left: 3.25*$baseScale;
      background-image: image-url('flash-messages-icons/checkmark-big.png');
    }
  }

  &.error-modal {
    .flash-modal {
      padding-left: 3.25*$baseScale;
      background-image: image-url('flash-messages-icons/alert.png');
    }
  }
}

.empty-notice {
  .flash-notice {
    background-color: $primaryLightColor;
    color: $primaryFontColor;
    @include animation(none);
  }
}

/* Shared ---------------------- */
.application {
  padding-bottom: 2*$baseScale;
  background-color: $primaryBackgroundColor;
}

.panel {
  padding: 0.35*$baseScale;
  background-color: $primaryLightColor;
  @include border-radius($smallBorderRadius);

  p:last-child {
    margin-bottom: 0;
  }

  &.not-found {
    margin-top: 2*$baseScale;
    margin-bottom: 2*$baseScale;
    padding: 0.5*$baseScale;
    padding-left: 1.95*$baseScale;
    background: $primaryLightColor image-url('icon-medium-info.png') 0.4*$baseScale 0.4*$baseScale no-repeat;
    @include border-radius($bigBorderRadius);

    p {
      margin-bottom: 0;
    }
  }
}

.inactive {
  opacity: 0.25;
}

.hide-on-medium {
  @media screen and (max-width: $mediumBreakPoint) {
    display: none !important;
  }
}

.hide-on-small {
  @media screen and (max-width: $smallBreakPoint) {
    display: none !important;
  }
}

.search-form {
  .search-keyword {
    padding-left: 28px;
    background-image: image-url('icon-magnifying-glass.png');
    background-position: 7px center;
    background-repeat: no-repeat;
    @include image-2x('icon-magnifying-glass@2x.png', 16px, 16px);
  }
}

@include keyframes(dropPopover) {
  from {
    @include transform(translateY(-48px) scale(0.75));
    opacity: 0;
  }

  60% {
    @include transform(translateY(4px) scale(1));
  }

  to {
    @include transform(translateY(0) scale(1));
    opacity: 1;
  }
}

.popover-toggle:after {
  content: " \25BE";
}

.popover {
  position: absolute;
  width: 250px;
  padding: 10px;
  background: $whiteColor;
  border: 1px solid #ccc;
  @include border-radius($smallBorderRadius);
  @include box-shadow(0 1px 15px rgba($blackColor,0.2));
  z-index: 9997;

  &:before {
    content: " ";
    position: absolute;
    display: block;
    width: 24px;
    height: 18px;
    margin-left: 50%;
    top: -18px;
    left: -12px;
    background: image-url("popover-nub-white.png") center center no-repeat;
  }

  &.hidden {
    display: none;
  }

  &.dark {
    background-color: #000;
    border-color: transparent;
    color: $whiteColor;
    opacity: 0.95;
    @include box-shadow(0 1px 15px rgba($blackColor,0.5));

    &:before {
      top: -15px;
      background-image: image-url("popover-nub-black.png");
    }
  }
}

.redeem-code-badge, .admin-comment-badge {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  top: 3px;
}

.redeem-code-badge {
  background: image-url('redeem-code-badge.png') center center no-repeat;
  @include image-2x('redeem-code-badge@2x.png', 16px, 16px);
}

.admin-comment-badge {
  background: image-url('admin-comment-badge.png') center center no-repeat;
  @include image-2x('admin-comment-badge@2x.png', 16px, 16px);
}

.redeem-code-needed-label, .info-label {
  margin-left: 0.25*$baseScale;
  padding: 4px 6px;
  color: $secondaryFontColor;
  font-size: $tinyFontSize;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba($blackColor, 0.1);
  @include border-radius($smallBorderRadius);
}

.edit-post {
  display: block;
  position: absolute;
  margin-top: 0.1*$baseScale;
  margin-left: -2.75*$baseScale;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  background: image-url('post-meta-icons/edit.png') center center no-repeat;
  opacity: 0.1;

  &:hover {
    opacity: 1;
  }
}

.short-url {
  display: block;
  position: absolute;
  margin-top: 0.1*$baseScale;
  margin-left: -1.5*$baseScale;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  background: image-url('post-meta-icons/short-url.png') center center no-repeat;
  opacity: 0.1;

  &:hover {
    opacity: 1;
  }
}

.post-header {
  .post-meta-icon {
    display: block;
    float: right;
    position: relative;
    margin-top: -0.125*$baseScale;
    width: 32px;
    height: 32px;
    font-weight: bold;
    color: $whiteColor;
    font-size: $tinyFontSize;
    line-height: 2.249;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;

    &.comments-count {
      letter-spacing: -1px;
      color: $whiteColor;
      background-image: image-url('post-meta-icons/comments.png');
      opacity: 0.35;

      &:hover {
        opacity: 1;
        color: $whiteColor;
      }

      @media screen and (max-width: $smallBreakPoint) {
        display: none;
      }
    }

    &.post-tags-popover-toggle {
      margin-left: 0.25*$baseScale;
      text-indent: -9999px;
      background-image: image-url('post-meta-icons/tags.png');
      opacity: 0.35;

      @media screen and (max-width: $smallBreakPoint) {
        display: none;
      }

      &:hover {
        opacity: 1;
      }
    }

    &.print {
      margin-left: 0.25*$baseScale;
      text-indent: -9999px;
      background-image: image-url('post-meta-icons/print.png');
      opacity: 0.35;

      &:hover {
        opacity: 1;
      }

      @media screen and (max-width: $smallBreakPoint) {
        display: none;
      }
    }
  }

  .post-meta {
    margin-top: -0.5*$baseScale;
    margin-bottom: 0.5*$baseScale;
    font-size: $mediumFontSize;
    color: $lightFontColor;

    a {
      color: $primaryFontColor;

      &:hover {
        color: lighten($primaryFontColor, 20%);
      }
    }
  }

  .post-tags-popover {
    visibility: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    position: absolute;
    right: 0;
    list-style: none;

    &:before {
      margin-left: 88%;
      left: -12px;
    }

    &.show {
      visibility: visible;
      @include animation(dropPopover 0.15s ease-out);
    }

    a {
      display: block;
      padding: 2px 10px 2px 32px;
      font-size: $smallFontSize;
      background-image: image-url('icon-mini-tag.png');
      background-position: 10px center;
      background-repeat: no-repeat;

      &:hover {
        background-color: $primaryLightColor;
      }
    }
  }
}

.post-body {
  .share-actions {
    height: 1.35*$baseScale;
    margin-bottom: 1*$baseScale;
    border-bottom: 1px solid $lightBorderColor;
  }
}

.main-tag {
  padding: 0.15*$baseScale 0.25*$baseScale;
  font-size: 0.7em;
  color: $whiteColor !important;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #aaa;
  @include border-radius($smallBorderRadius);

  &:hover {
    color: $whiteColor;
  }

  &.hirek {
    background-color: $newsColor;
  }

  &.a-muvelt-alkoholista {
    background-color: $amuvaColor;
  }

  &.buvos-szakacs {
    background-color: $bszColor;
  }

  &.mese-habbal {
    background-color: $mhColor;
  }

  &.receptek {
    background-color: $recipesColor;
  }

  &.oldalak {
    display: none;
  }
}

.post-tiles, .home-tiles {
  .post-tile, .home-editor-tile {
    margin-bottom: 1.3*$baseScale;
    font-size: $mediumFontSize;
    position: relative;

    @media screen and (min-width: 1920px) {
      width: 19.8%;
    }

    @media screen and (max-width: 1920px) {
      width: 24.8%;
    }

    @media screen and (max-width: 1540px) {
      width: 33%;
    }

    @media screen and (max-width: 1150px) {
      width: 49.8%;
    }

    @media screen and (max-width: $smallBreakPoint) {
      width: 100%;
    }

    h1, h2 {
      font-size: 1.65em;;
      margin-top: 0;
    }

    .post-meta {
      font-size: $smallFontSize;
    }

    .post-meta-icon {
      width: 24px;
      height: 24px;
      @include background-size(85% 85%);

      &.comments-count {
        font-size: $tinyFontSize;
        line-height: 1.65;
      }
    }

    .post-tags-popover {
      right: 0.45*$baseScale;
    }

    .edit-post, .short-url {
      display: none;
    }

    .featured-image {
      padding-bottom: 67%;
    }

    .post-excerpt {
      margin-bottom: 0;
    }

    &.big-tile {
      font-size: $bigFontSize;

      @media screen and (max-width: $largeBreakPoint) {
        width: 100%;
      }

      .post-meta {
        font-size: $mediumFontSize;
      }

      .featured-image {
        height: 14*$baseScale;
      }

      .post-meta-icon {
        width: 32px;
        height: 32px;
        @include background-size(auto);

        &.comments-count {
          font-size: $smallFontSize;
          line-height: 1.89;
        }
      }

      @media screen and (max-width: $smallBreakPoint) {
        font-size: $mediumFontSize;

        .post-meta {
          font-size: $smallFontSize;
        }
      }
    }

    .main-tag-container {
      margin-bottom: 0.5*$baseScale;
      line-height: 1;
    }

    .post-tile-inner {
      padding: 0.5*$baseScale;
      background-color: $whiteColor;
      @include box-shadow(inset 0 0 0 1px rgba(0,0,0,0.085));

      &.oldalak {
        .post-tile-inner {
          .main-tag-container {
            display: none;
          }
        }
      }

      &.hirdetesek {
        background-color: $secondaryFontColor;

        h3 {
          margin-top: 0;
          color: $whiteColor;

          .subtitle {
            color: $whiteColor;
          }
        }

        p:last-child, ul:last-child {
          margin-bottom: 0;
        }
      }

      &.a-buvos-szakacs-archivumabol, &.a-mese-habbal-archivumabol {
        $archiveLinkColor: #777;
        h1 {
          a {
            color: $archiveLinkColor;

            &:hover {
              color: darken($archiveLinkColor, 20%);
            }
          }
        }

        .main-tag {
          background-color: $archiveLinkColor;
        }

        .post-meta {
          color: rgba($blackColor, 0.35);

          .post-meta-icon.comments-count {
            color: $whiteColor;
          }
        }
      }

      &.restaurant_reservation_block {
        background-color: $secondaryColor;

        h1, p {
          color: darken($secondaryColor, 30%);
        }

        h1 {
          padding-left: 27px;
          background: image-url('home/icon-mini-restaurant-reservation.png') left center no-repeat;
        }

        .chosen-single {
          background-color: rgba($whiteColor, 0.75) !important;
        }


        .button {
          background-color: rgba($blackColor, 0.25);
        }
      }

      &.gm-kalauz-megrendelese, &.tokaj-guide-megrendelese {
        @include box-shadow(inset 0 0 0 3px $secondaryColor);
      }

      &.gm-kalauz-megrendelese, &.tokaj-guide-megrendelese, &.product {
        .order-button-container {
          margin-bottom: 0.25*$baseScale;
        }

        @media screen and (max-width: $smallBreakPoint) {
          .kalauz-photo {
            display: none;
          }
        }
      }

      &.tokaj-guide-megrendelese {
        h1 a {
          color: $blackColor;
        }

        .order-button-container .button {
          background-color: $blackColor;
        }
      }
    }
  }
}

.user-permissions-table {
  @include box-shadow(none);

  td, th {
    width: 25%;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #fff !important;

    &.full-access {
      background-color: #CCE8B5;
    }

    &.partial-access {
      background-color: #FFC4AB;
    }
  }

  .module-name {
    font-weight: normal;
    padding: 8px;
    background-color: $whiteColor;
  }

  tbody {
    tr {
      background-color: transparent !important;
    }
  }
}

@include keyframes(favouriteEgoBoosterActivated) {
  from {
    opacity: 0;
    @include transform(translate(0));
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    @include transform(translate(0, -30px));
  }
}

.favourite {
  .favourite-form {
    padding: 0;
    margin: 0;
    display: inline;
    position: relative;
    top: -4px;

    @media screen and (max-width: $mediumBreakPoint) {
      top: -0.075*$baseScale;
    }

    @media screen and (max-width: $smallBreakPoint) {
      top: -0.225*$baseScale;
    }
  }

  .favourite-ego-booster {
    position: absolute;
    display: none;
    top: 0;
    width: 16px;
    height: 16px;
    background: image-url('database-icons/fav-ego-booster.png') center center no-repeat;

    &.favourite-added {
      display: block;
      opacity: 0;
      @include transform(scale(1.2) translate(0, -30));
      @include animation(favouriteEgoBoosterActivated 0.65s ease-out backwards);
    }
  }

  .add-to-favs, .remove-from-favs {
    background-repeat: no-repeat;
  }

  .add-to-favs {
    padding-left: 32px;
    background-image: image-url('database-icons/fav-off.png');
    background-position: 8px center;
  }

  .remove-from-favs {
    position: relative;
    display: inline-block;
    width: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-indent: -9999px;
    color: rgba($whiteColor, 0.0);
    background-image: image-url('database-icons/fav-on.png');
    background-position: center center;
    @include transition(width 0.175s ease-out, opacity 0.175s ease-out, background-position 0.175s ease-out, padding 0.175s ease-out);

    &.faved-at-the-moment {
      width: auto;
      padding-left: 32px;
      padding-right: 14px;
      text-indent: 0 !important;
      color: $whiteColor;
      background-color: $redColor !important;
      background-position: 8px center;
    }
  }
}

/* Footer ---------------------- */

.bottom {
  padding-top: 2*$baseScale;
  padding-bottom: 2*$baseScale;
  font-size: $smallFontSize;
  color: #8A9094;
  text-align: center;
  background-color: $secondaryBackgroundColor;

  p {
    margin-bottom: 0;
  }

  a {
    color: $footerLinkColor;

    &:hover {
      color: #666;
    }
  }
}

/* Rating tables ---------------------- */
.restaurant-ratings, .hotel-ratings, .winery-ratings, .wine-ratings {
  margin-bottom: 0.5*$baseScale;
  @include box-shadow(none);

  td, th {
    vertical-align: baseline;
    background-color: $primaryLightColor;
    border: none;
  }

  th {
    text-align: center;
  }

  th img {
    width: auto !important;
    height: auto !important;
    display: inline-block;
    margin: 0 auto;
    padding: 8px;
  }

  td {
    &.restaurant-rating, &.hotel-rating, &.winery-rating, &.wine-rating {
      font-weight: bold;
      text-align: center;
    }
  }

  .table-title {
    font-size: $smallFontSize;
    text-align: center;
  }
}

.restaurant-ratings {
  .table-title {
    color: $whiteColor;
    background-color: $restaurantsColor;
  }

  th {
    width: 60px;
  }

  .restaurant-rating {
    width: 3*$baseScale;
  }
}

.hotel-ratings {
  .table-title {
    color: $whiteColor;
    background-color: $hotelsColor;
  }

  th {
    width: 3*$baseScale;
    vertical-align: middle;
  }

  td {
    vertical-align: middle;
  }
}

.winery-ratings {
  .table-title {
    color: $whiteColor;
    background-color: $wineriesColor;
  }

  th {
    width: 4*$baseScale;
  }

  td {
    vertical-align: middle;
  }
}

.wine-ratings {
  .table-title {
    color: $whiteColor;
    background-color: $wineriesColor;
  }

  .wine-rating {
    width: 5*$baseScale;
  }
}

/* Maps ---------------------- */

.map-canvas {
  height: 2*$baseScale;

  .infobox div {
    margin-top: 8px;
    padding: 10px;
    padding-bottom: 3px;
    font-size: $smallFontSize;
    @include border-radius($smallBorderRadius);
    @include box-shadow(0 1px 4px rgba(0,0,0,0.5));

    a {
      color: $secondaryColor;

      &:hover {
        color: $whiteColor;
      }
    }

    h3 {
      margin-top: 0;
      font-weight: bold;
      margin-bottom: 9px;
      color: $whiteColor;
    }

    p {
      margin-bottom: 9px;
      color: #ccc;
    }


    .restaurant-tests, .hotel-tests, .winery-tests {
      display: block;
      min-height: 3.5*$baseScale;
    }

    .restaurant-test {
      float: left;
      margin-right: 0.75*$baseScale;
      overflow: hidden;
      width: 1.5*$baseScale;
      height: 3.3*$baseScale;
      color: $whiteColor;
      font-size: $smallFontSize;
      font-weight: bold;
      text-align: center;
      background: image-url("bg-restaurant-rating.png") center 8px no-repeat;

      .rating {
        display: block;
        margin-top: 0.75*$baseScale;
        color: $blackColor;
      }

      .year {
        margin-top: 0.9*$baseScale;
        width: 100%;
        display: block;
        line-height: 1.5em;
      }
    }
  }

  img {
    max-width: none;
    height: auto !important;
  }
}

/* Chosen ---------------------- */
.chosen-container {
  z-index: 555;
}

.chosen-single {
  padding: 5px 6px 7px !important;
  height: 36px !important;
  margin-top: 0;
  cursor: pointer;
  font-family: $inputFontFamily !important;
  font-size: $inputFontSize !important;
  color: $inputFontColor !important;
  background-color: #fafafa !important;
  background-image: none !important;
  background-position: right center, 0 0;
  background-repeat: no-repeat, repeat;
  border: 1px solid $darkBorderColor !important;
  @include box-shadow(none !important);
  @include border-radius($smallBorderRadius !important);

  b {
    background: image-url("dropdown-arrows.png") right center no-repeat !important;
  }
}

.chosen-drop {
  width: 100% !important;
  margin-top: -36px !important;
  border: 1px solid $darkBorderColor !important;
  @include border-radius($smallBorderRadius !important);
  @include box-shadow(none !important);

  .chosen-results {
    li {
      margin: 1px !important;
      font-size: 13px !important;

      em {
        background: #FFFF99;
      }

      &.highlighted {
        background: $blueColor !important;
      }
    }
  }
}

.chosen-search {
  padding: 5px !important;
  width: 100% !important;

  input {
    width: 100% !important;
    height: auto !important;
    padding: 7px 10px !important;
    padding-left: 28px !important;
    margin-right: 0;
    font-size: $inputFontSize !important;
    color: $inputFontColor !important;
    background: $whiteColor image-url("icon-magnifying-glass.png") 8px center no-repeat !important;
    border-color: $darkBorderColor !important;
    @include box-shadow(none !important);

    &:focus {
      background-color: lighten($blueColor, 30%) !important;
      border-color: $blueColor !important;
      outline: none !important;
      @include box-shadow(0 1px 10px rgba($blueColor, 0.2) !important);
    }
  }
}

.chosen-container .chosen-results li.highlighted em {
  background-color: rgba($blackColor, 0.25);
}

.chosen-container-single .chosen-single div b {
  @include image-2x("dropdown-arrows.png", 12px, 11px);
}

.chosen-container-single .chosen-search input[type="text"] {
  @media (min--moz-device-pixel-ratio: 1.3),
        (-o-min-device-pixel-ratio: 2.6/2),
        (-webkit-min-device-pixel-ratio: 1.3),
        (min-device-pixel-ratio: 1.3),
        (min-resolution: 1.3dppx) {
    background: $whiteColor image-url("icon-magnifying-glass@2x.png") 8px center no-repeat !important;
    @include background-size(16px 16px !important);
  }
}

/* jQuery UI ---------------------- */

.ui-autocomplete {
  a, span {
    @include transition(none);
  }
}

.ui-datepicker {
  display: none;
  z-index: 9000 !important;
  padding: 0.15*$baseScale;
  padding-top: 0.25*$baseScale;
  background: $whiteColor;
  @include border-radius($smallBorderRadius);

  &.ui-widget-content .ui-state-hover {
    color: $primaryFontColor !important;
  }

  .ui-datepicker-prev {
    margin-left: 2px;
    float: left;
    width: 16px;
    height: 16px;
    position: relative;
    text-indent: -9999px;
    background: image-url("icon-mini-arrow-left.png") center center no-repeat;
    cursor: pointer;

    &:hover {
      border: none;
    }
  }

  .ui-datepicker-next {
    margin-right: 2px;
    float: right;
    width: 16px;
    height: 16px;
    position: relative;
    text-indent: -9999px;
    background: image-url("icon-mini-arrow-right.png") center center no-repeat;
    cursor: pointer;

    &:hover {
      border: none;
    }
  }

  .ui-datepicker-header {
    padding-top: 0.15*$baseScale;
    padding-bottom: 0.15*$baseScale;
    background: none;
    border: none;
  }

  .ui-datepicker-title {
    margin-bottom: 0.25*$baseScale;
    font-size: $smallFontSize;
    font-weight: bold;
    text-align: center;
  }

  .ui-datepicker-calendar {
    margin-bottom: 0;
    border: none;
    background: none;
    @include box-shadow(none);

    thead tr th {
      padding: 0.15*$baseScale 0 0.15*$baseScale 0;
      width: 1*$baseScale;
      font-size: $smallFontSize;
      text-align: center;
    }

    tbody {
      tr {
        background-color: $whiteColor !important;
      }

      td {
        border-color: $whiteColor;
      }
    }

    td {
      padding: 0;
      text-align: right;
      font-size: $smallFontSize;

      &.ui-datepicker-today {
        a, .ui-state-highlight, .ui-state-hover {
          background-color: $darkBorderColor;
          color: $primaryFontColor;
        }
      }

      a, span {
        padding: 0.25*$baseScale;
        display: block;
        font-weight: normal;
        color: $lightFontColor;
        background: none;
        border: none;
        @include transition(none);
        @include border-radius($smallBorderRadius);
      }

      a {
        color: $primaryFontColor;

        &:hover, &.ui-state-active {
          color: $whiteColor !important;
          background-color: $blueColor !important;
        }
      }
    }
  }
}

.ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index:1000 !important;
}
