.user-form {
  margin-top: 1*$baseScale;
  margin-bottom: 1*$baseScale;

  .registration-editing-authentication {
    padding-top: 0.25*$baseScale;
    margin-bottom: 0.5*$baseScale;
  }

  .guided {
    input, select {
      padding-left: 26px;
    }

    &:before {
      display:block;
      width: 24px;
      height: 24px;
      margin-top: 5px;
      margin-left: 3px;
      position: absolute;
      z-index: 4;
      content: " ";
      background-position: center center;
      background-repeat: no-repeat;
    }

    &.username:before {
      background-image: image-url("user-input-icons/user.png");
    }

    &.full-name:before {
      background-image: image-url("user-input-icons/user.png");
    }

    &.address:before {
      background-image: image-url("user-input-icons/delivery.png");
    }

    &.billing:before {
      background-image: image-url("user-input-icons/billing.png");
    }

    &.product-count:before {
      background-image: image-url("user-input-icons/cart.png");
    }

    &.phone:before {
      background-image: image-url("user-input-icons/phone.png");
    }

    &.email:before {
      background-image: image-url("user-input-icons/mail.png");
    }

    &.password:before {
      background-image: image-url("user-input-icons/lock.png");
    }

    &.calendar:before {
      background-image: image-url("user-input-icons/calendar.png");
    }

    &.clock:before {
      background-image: image-url("user-input-icons/clock.png");
    }
  }
}

.user-links {
  margin-bottom: 0;
  font-size: $smallFontSize;
  color: $lightFontColor;

  a {
    display: block;
    color: $lightFontColor;

    &:hover {
      color: $primaryColor;
    }
  }

  .cancel-user-registration {
    color: #C50F13;
  }
}

.registrations {
  .user-form {
    margin-top: 0;
    padding-bottom: 1*$baseScale;
    border-bottom: 1px solid $lightBorderColor;

    @media screen and (max-width: $smallBreakPoint) {
      input[type="submit"] {
        margin-top: 0.5*$baseScale;
      }
    }
  }

  .panel, .info-panel {
    margin-bottom: 1*$baseScale !important;
  }

  .captcha {
    margin-bottom: 0.5*$baseScale;
  }

  .registration-info-icon {
    padding-left: 1.5* $baseScale;
    margin-bottom: $baseScale;
    background-position: left top;
    background-repeat: no-repeat;

    &.free-registration {
      background-image: image-url('registration-info-icons/free-registration.png');
    }

    &.community {
      background-image: image-url('registration-info-icons/community.png');
    }

    &.discount {
      background-image: image-url('registration-info-icons/discount.png');
    }
  }

  .user-redeem-codes, .user-orders, .user-restaurant-reservations {
    label.inline {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 33px;
    }
  }

  .user-redeem-codes {
    .panel p:last-child {
      margin-bottom: 1*$baseScale;
    }

    .redeem-code-form {
      .redeem-code-token-field {
        margin-right: -1px;

        @media screen and (max-width: $smallBreakPoint) {
          width: 33.33333%;
          margin-bottom: 0.5*$baseScale;
        }

        input {
          text-align: center;
          position: relative;
          @include border-radius(0);

          &:focus {
            z-index: 3;
          }
        }

        &:first-child {
          input {
            @include border-top-left-radius($smallBorderRadius);
            @include border-bottom-left-radius($smallBorderRadius);
          }
        }

        &:last-child {
          input {
            @include border-top-right-radius($smallBorderRadius);
            @include border-bottom-right-radius($smallBorderRadius);
          }
        }
      }
    }
  }

  .user-orders {
    .order-status {
      display: block;
      padding-left: 1.25*$baseScale;
      line-height: 1.45*$baseScale;
      background-position: left 4px;
      background-repeat: no-repeat;
      background-image: image-url('database-icons/order-unconfirmed.png');

      a {
        color: $primaryColor;

        &:hover {
          color: darken($primaryColor, 15%);
        }

        &.show-order-details {
          padding: 0 10px;
          float: right;
          font-weight: normal;
          font-style: normal;
          color: $primaryColor;
          font-size: $smallFontSize;

          &:hover {
            color: darken($primaryColor, 20%);
          }

          &.opened {
            background-color: $primaryLightColor;
            @include border-radius($smallBorderRadius $smallBorderRadius 0 0);
          }
        }
      }
    }

    .order-details {
      display: none;
    }
  }

  .user-restaurant-reservations {
    .restaurant-reservation-status {
      display: block;
      padding-left: 1.25*$baseScale;
      line-height: 1.45*$baseScale;
      font-style: italic;
      background-position: left 4px;
      background-repeat: no-repeat;
      background-image: image-url('database-icons/restaurant-reservation-unconfirmed.png');

      &.confirmed, &.phone {
        font-style: normal;

        a {
          font-weight: bold;
        }
      }

      &.confirmed {
        background-image: image-url('database-icons/restaurant-reservation-confirmed.png');
      }

      &.phone {
        background-image: image-url('database-icons/restaurant-reservation-phone.png');
      }

      a {
        color: $restaurantsColor;

        &:hover {
          color: darken($restaurantsColor, 15%);
        }

        &.show-restaurant-restaurant-details {
          padding: 0 10px;
          float: right;
          font-weight: normal;
          font-style: normal;
          color: $primaryColor;
          font-size: $smallFontSize;

          &:hover {
            color: darken($primaryColor, 20%);
          }

          &.opened {
            background-color: $primaryLightColor;
            @include border-radius($smallBorderRadius $smallBorderRadius 0 0);
          }
        }
      }
    }

    .restaurant-reservation-details {
      display: none;
    }
  }

  .user-newsletter-subscriptions {
    ul {
      font-size: $smallFontSize;
    }
  }

  .user-favourites {
    .favourite-kind {
      display: block;
      padding-left: 1.25*$baseScale;
      line-height: 1.45*$baseScale;
      font-weight: bold;
      background-position: left 4px;
      background-repeat: no-repeat;

      &.faved-restaurant {
        color: $restaurantsColor;
        background-image: image-url('database-icons/faved-restaurant.png');

        &:hover {
          color: darken($restaurantsColor, 15%);
        }
      }

      &.faved-hotel {
        color: $hotelsColor;
        background-image: image-url('database-icons/faved-hotel.png');

        &:hover {
          color: darken($hotelsColor, 15%);
        }
      }

      &.faved-winery {
        color: $wineriesColor;
        background-image: image-url('database-icons/faved-winery.png');

        &:hover {
          color: darken($wineriesLinkColor, 15%);
        }
      }
    }
  }
}
