.wineries {
  a {
    color: $wineriesLinkColor;

    &:hover {
      color: darken($wineriesLinkColor, 15%);
    }
  }

  .button {
    color: $whiteColor;
    background-color: $wineriesColor;

    &:hover {
      color: $whiteColor;
    }

    &:active {
      background-color: darken($wineriesColor, 10%);
    }
  }

  .database-results {
    top: 7.05*$baseScale;

    .start-search {
      top: 40%;
    }
  }

  .infobox div {
    a {
      color: $wineriesColor;
    }
  }

  .rating {
    float: right;
    background-color: $wineriesColor;
    background-position: center center;
    background-repeat: no-repeat;

    .rating-value {
      visibility: hidden;
    }

    &:after {
      background-color: darken($wineriesColor, 20%);
    }

    @each $wineryRating in '1', '2', '3', '4', '5' {
      &[data-rating="#{$wineryRating}"] {
        background-image: image-url('ratings/winery-rating-#{$wineryRating}.png');
      }
    }

    &[data-rating="1"] {
      width: 45px;
      @include image-2x("ratings/winery-rating-1@2x.png", 25px, 32px);
    }

    &[data-rating="2"] {
      width: 73px;
      @include image-2x("ratings/winery-rating-2@2x.png", 53px, 32px);
    }

    &[data-rating="3"] {
      width: 101px;
      @include image-2x("ratings/winery-rating-3@2x.png", 81px, 32px);
    }

    &[data-rating="4"] {
      width: 129px;
      @include image-2x("ratings/winery-rating-4@2x.png", 109px, 32px);
    }

    &[data-rating="5"] {
      width: 157px;
      @include image-2x("ratings/winery-rating-5@2x.png", 137px, 32px);
    }
  }

  .rating-container, .winery-tests {
    .rating {
      float: none;
      width: 2*$baseScale;
      background-image: image-url('ratings/winery-rating-general.png');
      @include image-2x("ratings/winery-rating-1@2x.png", 25px, 32px);

      .rating-value {
        position: relative;
        top: 3px;
        color: $wineriesColor;
        visibility: visible;
      }
    }
  }

  .database-filter-container {
    .button {
      background-color: $wineriesColor;
    }

    .result {
      a {
        color: $wineriesColor;

        .winery-tests {
          display: block;
          margin-left: 0.5*$baseScale;
          min-height: 3.5*$baseScale;
        }

        .wines {
          margin-left: 0.5*$baseScale;
          margin-bottom: 0.5*$baseScale;
          padding-left: 0.35*$baseScale;
          list-style: square outside;
          font-size: $smallFontSize;

          li {
            padding-top: 0.35*$baseScale;
            padding-bottom: 0.35*$baseScale;
            border-bottom: 1px dotted rgba($whiteColor, 0.075);

            &:first-child {
              background-position: 0 0.0575*$baseScale !important;
              padding-top: 0 !important;
            }

            &:last-child {
              border-bottom: 0 !important;
              padding-bottom: 0 !important;
            }
          }

          .wine-title {
            display: block;
            font-weight: bold;
            color: $whiteColor;

            &.best-buy {
              &:after {
                content: " ";
                display: inline-block;
                position: relative;
                width: 16px;
                height: 16px;
                left: 3px;
                top: 3px;
                background: image-url('database-icons/best-buy.png') center center transparent;
              }
            }

            .wine-rating {
              float: right;
              margin-left: 0.5*$baseScale;
              margin-top: -1px;
              padding: 0.05*$baseScale 0.25*$baseScale;
              color: $whiteColor;
              font-weight: bold;
              font-size: $smallFontSize;
              background-color: $wineriesColor;
              border-radius: $smallBorderRadius;
            }
          }

          .wine-details {
            display: block;
          }
        }
      }
    }
  }

  .database-entry {
    .rating {
      margin-left: 20px;
      margin-bottom: 20px;
      float: right;
    }

    .database-entry-sidebar {
      margin-bottom: 2*$baseScale;

      .inner {
        background-color: $primaryLightColor;
      }
    }

    .not-tested-yet {
      background-color: $primaryColor;
    }

    .paid-winery-image {
      margin-bottom: 0.5*$baseScale;

      img {
        width: 100%;
        background-color: $whiteColor;
        padding: 0.5*$baseScale;
        border: 1px solid $darkBorderColor;
      }
    }

    label.speciality {
      background-image: image-url('database-icons/speciality.png');
    }

    .winery-tests {
      h2 {
        margin-top: 0;
        margin-bottom: 0.5*$baseScale;
      }

      .wines-title {
        margin-top: 0;
        font-weight: normal;
      }

      .wine {
        font-size: $smallFontSize;

        .wine-inner {
          margin-bottom: 0.5*$baseScale;
          padding-bottom: 0.5*$baseScale;
          border-bottom: 1px solid $lightBorderColor;
        }

        &:last-child {
          .wine-inner {
            border-bottom: none;
          }
        }

        h3 {
          margin-top: 0;
          margin-bottom: 0;

          .best-buy {
            &:after {
              content: image-url('database-icons/best-buy.png');
              position: relative;
              left: 5px;
              top: 2px;
            }
          }
        }

        .subtitle {
          color: $primaryFontColor;
        }

        .year, .rating-badge {
          float: right;
          margin-left: 0.25*$baseScale;
          padding: 0.15*$baseScale 0.25*$baseScale;
          color: $whiteColor;
          font-weight: bold;
          font-size: $smallFontSize;
          background-color: $wineriesColor;
          @include border-radius($smallBorderRadius);
        }

        .price {
          padding: 0.15*$baseScale 0;
          margin-right: 0.25*$baseScale;
          margin-bottom: 0;
          font-size: $smallFontSize;
          font-weight: bold;
          color: $wineriesColor;
        }

        &.wine-excerpt {
          margin-bottom: 0.5*$baseScale;

          h3 {
            margin-bottom: 0.5*$baseScale;
          }

          .year {
            margin-left: 0;
            background-color: darken($wineriesColor, 15%);
            @include border-radius(0 $smallBorderRadius $smallBorderRadius 0);
          }

          .rating-badge {
            background-color: $wineriesColor;
            @include border-radius($smallBorderRadius 0 0 $smallBorderRadius);
          }
        }
      }

      .last-years-wines {
        .wine {
          opacity: 0.6;
          -webkit-filter: grayscale(1);
          -moz-filter: grayscale(1);
          filter: grayscale(1);
        }
      }
    }
  }
}
