.wines {
  .database-filter-container {
    .button {
      background-color: $wineriesColor;
    }

    .result {
      float: left;
      width: 50%;

      @media screen and (max-width: $smallBreakPoint) {
        width: 100%;
      }

      a {
        color: $wineriesColor;
      }

      p:last-child {
        margin-bottom: 0;
      }

      .best-buy {
        &:after {
          content: image-url('database-icons/best-buy.png');
          position: relative;
          left: 5px;
          top: 2px;
        }
      }

      .title {
        color: $whiteColor !important;
      }

      .wine-winery {
        display: block;
        margin-bottom: 0.5*$baseScale;
        font-weight: normal;
      }

      .wine-grapes, .wine-review, .wine-price {
        margin-bottom: 0.5*$baseScale;
        font-size: $smallFontSize;
      }

      .wine-grapes, .wine-price {
        padding-left: 20px;
        background-position: left 2px;
        background-repeat: no-repeat;
      }

      .wine-grapes {
        background-image: image-url('database-icons/grape.png');
      }

      .wine-price {
        background-image: image-url('database-icons/price.png');
      }

      .wine-review {
        color: $whiteColor;
      }
    }
  }
}
