<% content_for :title do %>
  <%= t('guides.name') %> &ndash; <%= site_title %>
<% end  %>

<% content_for :post_class do %>
  restaurants
<% end  %>

<%= render :partial => 'guides2017/header' %>

<div class="row">
  <div class="twelve columns">
    <article class="row post">
      <div class="eight columns centered">
        <div class="post-body">
          <% render_embedded_page('kalauz-oldalsav-2017') %>
        </div>
      </div>
    </article>
  </div>
</div>
