<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <%= render :partial => 'shared/mailer_styles' %>
  <p><%= t('shared.welcome') %></p>
  <%= t('user.mailers.confirmation.description', :confirmation_url => confirmation_url(@resource, :confirmation_token => @token)).html_safe %>
  <%= t('user.mailers.signature', :site_name => CONFIG_SITE_NAME).html_safe %>
  </body>
</html>
