<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <%= render :partial => 'shared/mailer_styles' %>
  <%= t('user.mailers.forgot_password.description', :edit_password_url => edit_password_url(@resource, :reset_password_token => @token)).html_safe %>
  <%= t('user.mailers.signature', :site_name => CONFIG_SITE_NAME).html_safe %>
  </body>
</html>
