<div class="twelve columns">
  <%= form_for([:admin, @user], :html => { :class => 'admin-form user-form', :mutlipart => true }) do |f| %>
    <div class="row">
      <div class="six columns centered">
        <% if !@user.confirmed? %>
          <div class="row" data-behavior="manual-confirm">
            <div class="twelve columns">
              <p class="info-panel" ><%= t('admin.users.messages.info_panels.not_confirmed') %> <%= link_to t('admin.users.actions.manual_confirm'), manual_confirm_admin_user_path(@user), :remote => true %></span>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="five columns">
            <%= f.label :username, :class => 'inline right' %>
          </div>
          <div class="seven columns end">
            <span class="data-label"><%= @user.username %></span>
          </div>
        </div>
        <div class="row">
          <div class="five columns">
            <%= f.label :email, :class => 'inline right' %>
          </div>
          <div class="seven columns end">
            <span class="data-label"><%= mail_to @user.email, @user.email, :encode => 'hex' %></span>
          </div>
        </div>
        <div class="row">
          <div class="five columns">
            <%= f.label :created_at, :class => 'inline right' %>
          </div>
          <div class="seven columns end">
            <span class="data-label"><%= l @user.created_at, :format => :long %></span>
          </div>
        </div>
        <div class="row">
          <div class="five columns">
            <%= f.label :comments, :class => 'inline right' %>
          </div>
          <div class="seven columns end">
            <span class="data-label">
              <%= link_to admin_comments_path(:search => @user.username) do %>
                <%= format_count @user.comments.count %>
              <% end %>
            </span>
          </div>
        </div>
        <%= spacer_tag('twelve') %>
        <% if current_user != @user %>
          <div class="row">
            <div class="five columns">
              <%= f.label :roles, :class => 'inline right' %>
            </div>
            <div class="seven columns end">
              <div class="checkbox inline">
                <%= f.check_box :role_admin %> <%= f.label :role_admin %>
              </div>
              <div class="checkbox inline">
                <%= f.check_box :role_senior_editor %> <%= f.label :role_senior_editor %>
              </div>
              <div class="checkbox inline">
                <%= f.check_box :role_editor %> <%= f.label :role_editor %>
              </div>
              <div class="checkbox inline">
                <%= f.check_box :role_accountant %> <%= f.label :role_accountant %>
              </div>
            </div>
          </div>
        <% else %>
          <p class="info-panel">A saját jögköreit nem állíthatja.</p>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="six columns centered">
        <div class="form-actions">
          <%= f.submit t('admin.users.actions.update'), 'data-behavior' => 'save-button' %>
          <% if current_user != @user %>
            <%= t('shared.messages.or') %>
            <%= link_to t('shared.actions.destroy'), [:admin, @user], method: :delete, data: { confirm: t('admin.users.messages.confirmations.destroy') } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

