<tr data-user-id="<%= user.id %>" class="<%= 'inactive' if user.confirmed_at.nil? %>">
  <td class="title">
    <%= link_to edit_admin_user_path(user) do %>
      <span class="username"><%= user.username %></span>
    <% end %>
    </td>
  <td><%= mail_to user.email, user.email, :encode => 'hex' %></td>
  <td><time><%= l user.created_at, :format => :short %></time></td>
  <td><%= user_role(user) %></td>
</tr>
