<% content_for :title do %>
  <%= t('admin.users.titles.show') %> &ndash; <%= t('admin.name') %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <div class="three columns">
    <div class="action-group">
      <ul class="horizontal">
        <li><%= link_to t('admin.users.actions.back').html_safe, admin_users_path() %></li>
      </ul>
    </div>
  </div>
  <h2 class="six columns"><%= t('admin.users.titles.show') %></h2>

  <%= render 'form' %>
</div>

