<% content_for :title do %>
  <%= t('admin.users.name') %> &ndash; <%= t('admin.name') %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <div class="twelve columns">
    <div class="row">
      <h2 class="five columns"><%= t('admin.users.name') %> <%= content_tag :span, "(#{all_users_count(@users)})", :class => 'subtitle' %></h2>
      <div class="seven columns">
        <div class="action-group">
          <%= form_tag admin_users_path, :method => :get, :class => 'search-form row collapse', 'data-behavior' => 'table-filter' do %>
            <div class="six columns offset-by-six">
              <%= text_field_tag :search, params[:search], :placeholder => t('shared.placeholders.filter_table'), :class => 'search-keyword' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="twelve columns">
    <table cellspacing="2" class="users-table">
      <thead>
        <tr>
          <th class="three title"><%= t('activerecord.attributes.user.username') %></th>
          <th class="three"><%= t('activerecord.attributes.user.email') %></th>
          <th class="two"><%= t('activerecord.attributes.user.created_at') %></th>
          <th class="two"><%= t('activerecord.attributes.user.roles') %></th>
        </tr>
      </thead>

      <tbody>
        <% if !@users.empty? %>
          <% @users.each do |user| %>
            <%= render user %>
          <% end %>
        <% else %>
          <tr>
            <td colspan="4">
              <div class="row empty-notice">
                <div class="six columns centered">
                  <div class="flash-notice notice text-centered"><%= t('admin.users.messages.notices.empty_users') %></div>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="twelve columns text-centered">
      <div class="pagination-container">
        <%= page_navigation_links(@comments) %>
      </div>
    </div>
  </div>
</div>
