$('[data-behavior~=flash-notices]').html('<%= j render(:partial => 'shared/notice_messages', :locals => { :level => :notice, :msg => t('admin.users.messages.notices.confirmed').html_safe }) %>');
$('[data-behavior~=manual-confirm]').remove();
$.fn.flash_notice();
$('html').addClass('loaded');
