<h3><%= link_to hotel.title, hotel_path(hotel) %></h3><p><%= hotel.postcode %> <%= hotel.city %>, <%= hotel.address %></p>
<span class="hotel-tests">
  <%= render :partial => 'shared/rating_badge', :locals => { :record => hotel } %>
</span>
