<% content_for :title do %>
  <%= t('hotels.name') %> &ndash; <%= site_title %>
<% end  %>
<script type="text/javascript">
function initialize_map() {
  var map_center = new google.maps.LatLng(47.11,19.30);
  var mapOptions = {
    scrollwheel: false,
    center: map_center,
    zoom: 7,
    maxZoom: 19,
    panControl: false,
    zoomControl: true,
    zoomControlOptions: {
      position: google.maps.ControlPosition.LEFT_CENTER
    },
    mapTypeControl: true,
    mapTypeControlOptions: {
      position: google.maps.ControlPosition.RIGHT_BOTTOM
    },
    scaleControl: false,
    streetViewControl: false,
    overviewMapControl: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
  <% if !@hotels.empty? %>
    var bounds = new google.maps.LatLngBounds();
  <% end %>

<% @hotels.each do |hotel| %>
  <% if has_map?(hotel) %>
    <% cache ['v28', 'map', hotel] do %>
      var info_text_<%= hotel.id %> = document.createElement("div");
      info_text_<%= hotel.id %>.style.cssText = "background: #000;";
      info_text_<%= hotel.id %>.innerHTML = '<%=j render :partial => 'hotels/map_pin', :locals => { :is_embedded => false, :hotel => hotel } %>';
      var info_box_style_<%= hotel.id %> = {
        content: info_text_<%= hotel.id %>,
        disableAutoPan: false,
        boxClass: "infobox",
        maxWidth: 0,
        pixelOffset: new google.maps.Size(-140, 17),
        zIndex: null,
        boxStyle: {
          background: "url('/assets/popover-nub-black.png') top center no-repeat",
          width: "280px"
        },
        closeBoxMargin: "13px 5px 5px 9px",
        closeBoxURL: "/assets/icon-mini-close.png",
        infoBoxClearance: new google.maps.Size(1, 1),
        isHidden: false,
        pane: "floatPane",
        enableEventPropagation: false
      };
      var position_<%= hotel.id %> = new google.maps.LatLng(<%= hotel.latitude %>, <%= hotel.longitude %>);
      var image = {
        url: '/assets/markers/hotels-<%= hotel.record_kind_class %>.png',
        size: new google.maps.Size(20.0, 35.0),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(10.0, 17.0),
        scaledSize: new google.maps.Size(20.0, 35.0)
      };
      var shadow = {
        url: '/assets/markers/shadow.png',
        size: new google.maps.Size(38.0, 35.0),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(10.0, 17.0)
      };
      var marker_<%= hotel.id %> = new google.maps.Marker({
        position: position_<%= hotel.id %>,
        map: map,
        title: '<%= hotel.title %>',
        icon: image,
        shadow: shadow
      });

      google.maps.event.addListener(marker_<%= hotel.id %>, 'click', function() {
        var info_box_<%= hotel.id %> = new InfoBox(info_box_style_<%= hotel.id %>);
        info_box_<%= hotel.id %>.open(map, marker_<%= hotel.id %>);
      });
      bounds.extend(position_<%= hotel.id %>);
    <% end %>
  <% end %>
<% end %>
  google.maps.event.addListener(map, 'idle', function(){
    $('.gm-style').removeClass('gm-style');
  });
<% if !@hotels.empty? %>
  map.fitBounds(bounds);
<% end %>
}
</script>

<div id="map-canvas" class="big-map map-canvas map" data-behavior="map-canvas" data-no-turbolink></div>
<div class="database-filter-container">
  <%= form_tag hotels_path, :method => 'get', :class => 'database-filter clearfix row', 'data-behavior' => 'database-filter' do |f| %>
    <div class="three columns"><%= text_field_tag :search, params[:search], :class => 'keyword-field', :placeholder => t('hotels.placeholders.keyword'), :autofocus => true %></div>
    <div class="three columns"><%= select_tag :country, options_for_select(Hotel::COUNTRIES, :selected => params[:country]), :prompt => t('hotels.placeholders.country'), :class => 'inline-field' %></div>
    <div class="four columns">
      <fieldset class="rating-options">
        <div class="row ratings">
          <div class="rating-option hotel-rating-5">
            <%= check_box_tag 'rating[]', '5', params[:rating].present? && params[:rating].include?('5') ? true : false, :title => "Luxusigényeket kielégítő szálloda", 'data-behavior' => 'rating-option' %> <%= label_tag 'rating_5', '5' %>
          </div>
          <div class="rating-option hotel-rating-4">
            <%= check_box_tag 'rating[]', '4', params[:rating].present? && params[:rating].include?('4') ? true : false, :title => "Nemzetközi színvonalú, kitűnő szálloda", 'data-behavior' => 'rating-option' %> <%= label_tag 'rating_4', '4' %>
          </div>
          <div class="rating-option hotel-rating-3">
            <%= check_box_tag 'rating[]', '3', params[:rating].present? && params[:rating].include?('3') ? true : false, :title => "Tisztes polgári szálloda", 'data-behavior' => 'rating-option' %> <%= label_tag 'rating_3', '3' %>
          </div>
          <div class="rating-option hotel-rating-2">
            <%= check_box_tag 'rating[]', '2', params[:rating].present? && params[:rating].include?('2') ? true : false, :title => "Egyszerű, hétköznapi igényeket kielégítő szálloda", 'data-behavior' => 'rating-option' %> <%= label_tag 'rating_2', '2' %>
          </div>
          <div class="rating-option hotel-rating-1">
            <%= check_box_tag 'rating[]', '1', params[:rating].present? && params[:rating].include?('1') ? true : false, :title => "Egyszerű panzió, vendégfogadó", 'data-behavior' => 'rating-option' %> <%= label_tag 'rating_1', '1' %>
          </div>
          <%= link_to '?', '#', :class => 'rating-help-popover-toggle', 'data-behavior' => 'rating-help-popover-toggle', :title => t('shared.actions.filter_help') %>
          <div class="popover rating-help-popover" data-behavior="rating-help-popover">
            <div class="popover-inner">
              <% render_embedded_page 'szallodak-pontozasa-tabla' %>
              <p><%= link_to get_page_title('a-szallodak-ertekeleserol'), guide2015_path('a-szallodak-ertekeleserol'), :class => 'button' %></p>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="two columns"><%= submit_tag t('shared.actions.search'), :class => 'button full-width' %></div>
    <% if !hotel_params_blank? %>
      <div class="twelve columns results-counter">Találatok: <strong><%= @hotels.count %> db</strong></div>
    <% end %>
  <% end %>
  <div class="database-results">
    <% if hotel_params_blank? %>
      <p class="start-search"><%= t('hotels.messages.notices.start_search', :hotels_count => format_count(@hotels.size)) %></p>
    <% else %>
      <% if !@hotels.empty? %>
        <ul class="plain record-tiles" data-behavior="record-tiles" data-no-turbolink>
          <% @hotels.each do |hotel| %>
            <li class="result">
              <%= link_to hotel_path(hotel), class: hotel.record_kind_class do %>
                <div class="rating-container">
                  <%= render :partial => 'shared/rating_badge', :locals => { :record => hotel } %>
                </div>
                <div class="rating-container record-kind-rating recommended-badge">
                  <span class="rating" data-rating="GM" data-year="Ajánlott"><span class="rating-value">GM</span></span>
                </div>
                <span class="title"><%= hotel.title %></span>
                <span class="address"><%= hotel.postcode %> <%= hotel.city %>, <%= hotel.address %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="start-search"><%= t('hotels.messages.notices.not_found') %></p>
      <% end %>
    <% end %>
  </div>
</div>
