<% content_for :title do %>
  <%= @hotel.title %> &ndash; <%= t('hotels.name') %> &ndash; <%= site_title %>
<% end  %>
<div class="row database-entry post" itemscope itemtype="http://schema.org/Hotel">
  <div class="twelve columns">
    <div class="row">
      <div class="eight columns">
        <h2>
          <%= link_to t('hotels.name'), hotels_path(session[:last_hotels_filter]) %>
          <span class="subtitle"> / <span itemprop="name"><%= link_to @hotel.title, hotel_path(@hotel) %></span></span>
        </h2>
      </div>
      <% if user_signed_in? %>
        <div class="four columns">
          <ul class="button-panel">
            <li><%= render :partial => 'favourites/favourite', :locals => { :kind => 'hotel', :record_id => @hotel.id } %></li>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="four columns database-entry-sidebar">
        <div class="inner">
          <% if has_map?(@hotel) %>
            <script type="text/javascript">
              function initialize_map() {
                var map_center = new google.maps.LatLng(<%= @hotel.latitude %>,<%= @hotel.longitude %>);
                var mapOptions = {
                  center: map_center,
                  zoom: 13,
                  panControl: false,
                  zoomControl: true,
                  mapTypeControl: false,
                  scaleControl: false,
                  streetViewControl: false,
                  overviewMapControl: false,
                  scrollwheel: false,
                  mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("map-canvas"),
                    mapOptions);
                var image = {
                  url: '/assets/markers/hotels-<%= @hotel.record_kind_class %>.png',
                  size: new google.maps.Size(20.0, 35.0),
                  origin: new google.maps.Point(0, 0),
                  anchor: new google.maps.Point(10.0, 17.0),
                  scaledSize: new google.maps.Size(20.0, 35.0)
                };
                var shadow = {
                  url: '/assets/markers/shadow.png',
                  size: new google.maps.Size(38.0, 35.0),
                  origin: new google.maps.Point(0, 0),
                  anchor: new google.maps.Point(10.0, 17.0)
                };
                var marker = new google.maps.Marker({
                  position: map_center,
                  map: map,
                  title: '<%= @hotel.title %>',
                  icon: image,
                  shadow: shadow
                });
              }
            </script>
            <div id="map-canvas" class="map-canvas" data-behavior="map-canvas"></div>
          <% end %>
          <h2><%= t('hotels.titles.address') %></h2>
          <ul class="plain">
            <li class="database-icon address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="postalCode"><%= @hotel.postcode %></span> <span itemprop="addressLocality"><%= @hotel.city %></span>, <span itemprop="streetAddress"><%= @hotel.address %></span></li>
            <li class="database-icon phone" itemprop="telephone"><%= check_empty_entry_data @hotel.phone_1 %></li>
            <li class="database-icon fax" itemprop="faxNumber"><%= check_empty_entry_data @hotel.phone_2 %></li>
          </ul>
          <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
            <meta itemprop="latitude" content="<%= @hotel.latitude %>" />
            <meta itemprop="longitude" content="<%= @hotel.longitude %>" />
          </div>
          <ul>
            <li class="database-icon open-result"><%= check_empty_entry_data @hotel.open_result %></li>
          </ul>
          <h2><%= t('hotels.titles.web_contact') %></h2>
          <ul class="plain">
            <li class="database-icon website" itemprop="url"><%= check_link_for @hotel.website %></li>
            <li class="database-icon email" itemprop="email"><%= check_mail_link_for @hotel.email %></li>
            <li class="database-icon facebook" itemprop="url"><%= check_link_for @hotel.facebook %></li>
            <li class="database-icon twitter" itemprop="url"><%= check_link_for @hotel.twitter%></li>
          </ul>
          <ul class="plain">
            <li><%= link_to t('shared.actions.error_report').html_safe, new_feedback_path(:is_error_reporting => true, :record_name => @hotel.title, :record_id => @hotel.id, :record_kind => 'hotel'), :class => 'button full-width error-report-button' %></li>
          </ul>
        </div>
      </div>
      <div class="eight columns database-entry-body">
        <% if CONFIG_HIDE_HOTEL_TESTS %>
          <div class="not-tested-yet">
            <h2><%= t('hotels.titles.test_not_available') %></h2>
            <%= t('hotels.messages.info_panels.test_not_available', :contact_page_path => page_path('kapcsolat'), :new_order_path => new_product_order_path(@gm_guide_product)).html_safe %>
          </div>
        <% else %>
          <% if !@hotel.parent.hotel_images.paid.empty? %>
            <div class="row">
              <div class="twelve columns paid-hotel-image">
                <% @hotel.parent.hotel_images.paid.each do |image| %>
                  <%= image_tag hotel_image_url(image), 'itemprop' => 'image' %>
                <% end %>
              </div>
            </div>
          <% end %>
          <% if !@hotel.rating.blank? && @hotel.rating != '--' %>
            <div class="row">
              <div class="hotel-entry twelve columns">
                <%= render :partial => 'shared/rating_badge', :locals => { :record => @hotel } %>
                <%= simple_format @hotel.description unless @hotel.description.empty? %>
              </div>
            </div>
            <div class="row main-statistics">
              <% if !@hotel.rooms.empty? %>
                <div class="six columns end">
                  <%= label_tag :rooms ,t('hotels.attributes.rooms'), :class => 'inline' %>
                  <span class="data-label inline"><%= format_count @hotel.rooms %></span>
                </div>
              <% end %>
              <% if !@hotel.beds.empty? %>
                <div class="six columns end">
                  <%= label_tag :beds, t('hotels.attributes.beds'), :class => 'inline ' %>
                  <span class="data-label inline"><%= format_count @hotel.beds %></span>
                </div>
              <% end %>
            </div>
            <div class="hotel-features row">
              <%= render_feature_icon @hotel.feature_nemdohanyzo_szobak, t('hotels.features.feature_nemdohanyzo_szobak'), 'feature_nemdohanyzo_szobak' %>
              <%= render_feature_icon @hotel.feature_fodraszat, t('hotels.features.feature_fodraszat'), 'feature_fodraszat' %>
              <%= render_feature_icon @hotel.feature_legkondicionalt_szobak, t('hotels.features.feature_legkondicionalt_szobak'), 'feature_legkondicionalt_szobak' %>
              <%= render_feature_icon @hotel.feature_tv_a_szobaban, t('hotels.features.feature_tv_a_szobaban'), 'feature_tv_a_szobaban' %>
              <%= render_feature_icon @hotel.feature_wifi, t('hotels.features.feature_wifi'), 'feature_wifi' %>
              <%= render_feature_icon @hotel.feature_vezetekes_internet, t('hotels.features.feature_vezetekes_internet'), 'feature_vezetekes_internet' %>
              <%= render_feature_icon @hotel.feature_minibar, t('hotels.features.feature_minibar'), 'feature_minibar' %>
              <%= render_feature_icon @hotel.feature_fedett_uszoda, t('hotels.features.feature_fedett_uszoda'), 'feature_fedett_uszoda' %>
              <%= render_feature_icon @hotel.feature_szauna, t('hotels.features.feature_szauna'), 'feature_szauna' %>
              <%= render_feature_icon @hotel.feature_tornaterem, t('hotels.features.feature_tornaterem'), 'feature_tornaterem' %>
              <%= render_feature_icon @hotel.feature_beauty_farm, t('hotels.features.feature_beauty_farm'), 'feature_beauty_farm' %>
              <%= render_feature_icon @hotel.feature_wellness, t('hotels.features.feature_wellness'), 'feature_wellness' %>
              <%= render_feature_icon @hotel.feature_uzletek, t('hotels.features.feature_uzletek'), 'feature_uzletek' %>
              <%= render_feature_icon @hotel.feature_sajat_etterem, t('hotels.features.feature_sajat_etterem'), 'feature_sajat_etterem' %>
              <%= render_feature_icon @hotel.feature_uszoda, t('hotels.features.feature_uszoda'), 'feature_uszoda' %>
              <%= render_feature_icon @hotel.feature_sajat_teniszpalya, t('hotels.features.feature_sajat_teniszpalya'), 'feature_sajat_teniszpalya' %>
              <%= render_feature_icon @hotel.feature_lovaglas, t('hotels.features.feature_lovaglas'), 'feature_lovaglas' %>
              <%= render_feature_icon @hotel.feature_terasz_kert, t('hotels.features.feature_terasz_kert'), 'feature_terasz_kert' %>
              <%= render_feature_icon @hotel.feature_gyogykezeles, t('hotels.features.feature_gyogykezeles'), 'feature_gyogykezeles' %>
              <%= render_feature_icon @hotel.feature_gyogyfurdo, t('hotels.features.feature_gyogyfurdo'), 'feature_gyogyfurdo' %>
              <%= render_feature_icon @hotel.feature_konferenciaterem, t('hotels.features.feature_konferenciaterem'), 'feature_konferenciaterem' %>
              <%= render_feature_icon @hotel.feature_gyermekbarat, t('hotels.features.feature_gyermekbarat'), 'feature_gyermekbarat' %>
              <%= render_feature_icon @hotel.feature_alkalmas_mozgasserulteknek, t('hotels.features.feature_alkalmas_mozgasserulteknek'), 'feature_alkalmas_mozgasserulteknek' %>
              <%= render_feature_icon @hotel.feature_kutyaknak_megengedett, t('hotels.features.feature_kutyaknak_megengedett'), 'feature_kutyaknak_megengedett' %>
              <%= render_feature_icon @hotel.feature_garazs, t('hotels.features.feature_garazs'), 'feature_garazs' %>
              <%= render_feature_icon @hotel.feature_parkolo, t('hotels.features.feature_parkolo'), 'feature_parkolo' %>
              <%= render_feature_icon @hotel.feature_csak_reggeli, t('hotels.features.feature_csak_reggeli'), 'feature_csak_reggeli' %>
              <%= render_feature_icon @hotel.feature_hitelkartya_elfogadas, t('hotels.features.feature_hitelkartya_elfogadas'), 'feature_hitelkartya_elfogadas' %>
              <%= render_feature_icon @hotel.feature_kulonosen_csendes, t('hotels.features.feature_kulonosen_csendes'), 'feature_kulonosen_csendes' %>
              <%= render_feature_icon @hotel.feature_wellness_szalloda, t('hotels.features.feature_wellness_szalloda'), 'feature_wellness_szalloda' %>
              <%= render_feature_icon @hotel.feature_kastely_szalloda, t('hotels.features.feature_kastely_szalloda'), 'feature_kastely_szalloda' %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
