<% content_for :title do %>
  <%= t('products.titles.index') %> &ndash; <%= site_title %>
<% end  %>

<header>
  <div class="row">
    <h2 class="twelve columns">
      <%= link_to t('products.titles.index'), products_path %>
    </h2>
  </div>
</header>

<section class="products-body">
  <div class="row product-tiles post-tiles" data-behavior="post-tiles">
    <% @products.each do |product| %>
    <article class="six columns end post post-tile">
      <div class="post-tile-inner product">
        <header class="post-header">
          <h1><%= link_to product.name, product %></h1>
        </header>
        <% if product.image_url.present? %>
          <p>
            <%= link_to product do %>
              <%= image_tag product.image_url %>
            <% end %>
          </p>
        <% end %>
        <% if product.excerpt.present? %>
          <p class="excerpt"><%= clear_excerpt_field(product.excerpt) %></p>
        <% end %>
        <p class="order-button-container">
          <%= link_to 'Megrendelés', product, class: 'button' %>
        </p>
      </div>
    </article>
    <% end %>
  </div>
</section>
