<li class="user-restaurant-reservation">
  <div class="row">
    <div class="eight columns offset-by-two restaurant-reservation-excerpt">
      <span class="restaurant-reservation-status <%= 'confirmed' if restaurant_reservation.confirmed  %> <%= 'phone' if restaurant_reservation.feedback_type == 'phone'  %>">
        <% if restaurant_exists_for_restaurant_reservation? restaurant_reservation %>
          <%= link_to restaurant_reservation.restaurant.title, restaurant_path(restaurant_reservation.restaurant) %> &ndash;
        <% end %>
        <%= restaurant_reservation.book_at %> <%= restaurant_reservation.book_time %>
        <span class="subtitle">(<%= time_ago_in_words(restaurant_reservation.created_at) %>)</span>
        <%= link_to t('shared.actions.details'), '#', :class => 'show-restaurant-restaurant-details', 'data-restaurant-reservation-id' => restaurant_reservation.id, 'data-behavior' => 'show-restaurant-reservation-details' %>
      </span>
    </div>
  </div>
  <div class="row restaurant-reservation-details" data-restaurant-reservation-details="<%= restaurant_reservation.id %>">
    <div class="eight columns offset-by-two">
      <div class="panel">
        <div class="row">
          <div class="three columns">
            <%= label_tag '', t('helpers.label.restaurant_reservation.feedback_type'), :class => 'right inline' %>
          </div>
          <div class="nine columns">
            <% if restaurant_reservation.feedback_type == 'email' %>
              <span class="data-label"><%= t('helpers.label.restaurant_reservation.feedback_types.in_email') %></span>
            <% elsif restaurant_reservation.feedback_type == 'phone' %>
              <span class="data-label"><%= t('helpers.label.restaurant_reservation.feedback_types.on_phone') %></span>
            <% end %>
          </div>
        </div>

        <% if restaurant_reservation.feedback_type != 'phone' %>
          <div class="row">
            <div class="three columns">
              <%= label_tag '', t('helpers.label.restaurant_reservation.confirmed'), :class => 'right inline' %>
            </div>
            <div class="nine columns">
              <span class="data-label"><%= restaurant_reservation.confirmed ? t('shared.messages.boolean_true') : t('shared.messages.boolean_false') %></span>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="three columns">
            <%= label_tag '', t('helpers.label.restaurant_reservation.book_datetime'), :class => 'right inline' %>
          </div>
          <div class="nine columns">
            <span class="data-label"><%= restaurant_reservation.book_at %> <%= restaurant_reservation.book_time %></span>
          </div>
        </div>

        <div class="row">
          <div class="three columns">
            <%= label_tag '', t('helpers.label.restaurant_reservation.number_of_persons'), :class => 'right inline' %>
          </div>
          <div class="nine columns">
            <span class="data-label"><%= restaurant_reservation.number_of_persons %></span>
          </div>
        </div>

        <div class="row">
          <div class="three columns">
            <%= label_tag '', t('helpers.label.restaurant_reservation.name'), :class => 'right inline' %>
          </div>
          <div class="nine columns">
            <span class="data-label"><%= restaurant_reservation.name %></span>
          </div>
        </div>

        <div class="row">
          <div class="three columns">
            <%= label_tag '', t('helpers.label.restaurant_reservation.email'), :class => 'right inline' %>
          </div>
          <div class="nine columns">
            <span class="data-label"><%= restaurant_reservation.email %></span>
          </div>
        </div>

        <div class="row">
          <div class="three columns">
            <%= label_tag '', t('helpers.label.restaurant_reservation.phone'), :class => 'right inline' %>
          </div>
          <div class="nine columns">
            <span class="data-label"><%= restaurant_reservation.phone %></span>
          </div>
        </div>

        <div class="row">
          <div class="three columns">
            <%= label_tag '', t('helpers.label.restaurant_reservation.comment'), :class => 'right inline' %>
          </div>
          <div class="nine columns">
            <span class="data-label"><%= restaurant_reservation.comment %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
