<% content_for :title do  %>
  <%= t('restaurant_reservations.name') %> &ndash; <%= site_title %>
<% end  %>
<div class="row">
  <h2 class="twelve columns">
    <% restaurant = Restaurant.find(params[:book_to].blank? ? @restaurant_reservation.restaurant_id : params[:book_to]) %>
    <%= link_to t('restaurants.name'), restaurants_path(session[:last_restaurants_filter]) %>
    <span class="subtitle"> / <%= link_to restaurant.title, restaurant_path(restaurant) %> /
    <%= t('restaurant_reservations.name') %></span>
  </h2>
</div>
<div class="row">
  <div class="eight columns centered">
    <p><%= t('restaurant_reservations.messages.info_panels.intro', :site_title => site_title) %></p>
  </div>
</div>
<div class="row">
  <div class="eight columns centered">
    <div class="panel">
      <script>
        $(function() {
          var number_of_persons_tags = [
          <%= raw RestaurantReservation.number_of_persons_options.map { |option| "'#{option}'" }.join(', ') %>
          ];

          $('[data-behavior~=number-of-persons]').autocomplete({
            source: number_of_persons_tags,
            minLength: 0
          });

          $('[data-behavior~=number-of-persons]').on('focus', function() {
            $(this).autocomplete('search', '');
          });

          $('[data-behavior~=book-at]').datepicker({
            minDate: 0,
            maxDate: "+6M",
            dateFormat: "yy. MM d."
          });

        });
      </script>
      <%= form_for(@restaurant_reservation, :html => { :class => 'user-form restaurant-reservation-form', 'data-behavior' => 'restaurant-reservation-form' }) do |f| %>
        <%= f.hidden_field :restaurant_id, :value => params[:book_to].blank? ? @restaurant_reservation.restaurant_id : params[:book_to] %>

        <div class="row">
          <div class="three columns"><%= f.label :book_at, :class => 'inline right text-right text-right required' %></div>
          <div class="eight columns end">
            <div class="row collapse date-time-picker">
              <div class="six columns end guided calendar date-field <%= field_has_error?(@restaurant_reservation, :book_at) %>">
                <%= f.text_field :book_at, :class => field_has_error?(@restaurant_reservation, :book_at), 'data-behavior' => 'book-at', :value => params[:book_to].blank? ? @restaurant_reservation.book_at : "#{I18n.l(Date.today, :format => :long)}", 'readonly' => true %>
                <%= field_errors @restaurant_reservation, :book_at %>
              </div>
              <div class="six columns end guided clock time-field <%= field_has_error?(@restaurant_reservation, :book_time) %>">
                <%= f.select :book_time, options_for_select(RestaurantReservation.book_time_options, :selected => params[:book_to].blank? ? @restaurant_reservation.book_time : "19:00"), {}, { :class => 'select-field', 'data-behavior' => 'book-time' } %>
                <%= field_errors @restaurant_reservation, :book_time %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="three columns"><%= f.label :number_of_persons, :class => 'inline right text-right text-right required' %></div>
          <div class="four columns end guided full-name <%= field_has_error?(@restaurant_reservation, :number_of_persons) %>">
            <%= f.text_field :number_of_persons, :class => field_has_error?(@restaurant_reservation, :number_of_persons), 'data-behavior' => 'number-of-persons', :value => params[:book_to].blank? ? @restaurant_reservation.number_of_persons : "2 fő" %>
            <%= field_errors @restaurant_reservation, :number_of_persons %>
          </div>
        </div>

        <div class="row">
          <div class="three columns"><%= f.label :name, :class => 'inline right text-right' %></div>
          <div class="eight columns end guided full-name">
            <%= f.text_field :name %>
          </div>
        </div>

        <div class="row">
          <div class="three columns"><%= f.label :email, :class => 'inline right text-right required' %></div>
          <div class="eight columns end guided email <%= field_has_error?(@restaurant_reservation, :email) %>">
            <%= f.email_field :email, :class => field_has_error?(@restaurant_reservation, :email), :value => params[:book_to].blank? ? @restaurant_reservation.email : (current_user.nil? ? '' : current_user.email) %>
            <%= field_errors @restaurant_reservation, :email %>
          </div>
        </div>

        <% if !user_signed_in? %>
          <div class="row">
            <div class="eight columns offset-by-three">
              <div class="checkbox">
                <%= f.check_box :save_to_users %><%= f.label :save_to_users %>
              </div>

            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="three columns"><%= f.label :phone, :class => 'inline right text-right' %></div>
          <div class="eight columns end guided phone <%= field_has_error?(@restaurant_reservation, :phone) %>">
            <%= f.phone_field :phone, :class => field_has_error?(@restaurant_reservation, :phone), :value => params[:book_to].blank? ? @restaurant_reservation.phone : (current_user.nil? ? '' : current_user.phone) %>
            <%= field_errors @restaurant_reservation, :phone %>
          </div>
        </div>

        <% if user_signed_in? %>
          <div class="row">
            <div class="eight columns offset-by-three">
              <div class="checkbox">
                <%= f.check_box :save_phone_to_profile %><%= f.label :save_phone_to_profile %>
              </div>

            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="eight columns offset-by-three end <%= field_has_error?(@restaurant_reservation, :feedback_type) %>">
            <div class="radio-button">
              <%= f.radio_button :feedback_type, 'email', :id => "feedback_types_email" %><%= label_tag "feedback_types_email", t('helpers.label.restaurant_reservation.feedback_types.in_email') %>
            </div>
            <div class="radio-button">
              <%= f.radio_button :feedback_type, 'phone', :id => "feedback_types_phone" %><%= label_tag "feedback_types_phone", t('helpers.label.restaurant_reservation.feedback_types.on_phone') %>
            </div>
            <%= field_errors @restaurant_reservation, :feedback_type %>
          </div>
        </div>

        <div class="row">
          <div class="three columns"><%= f.label :comment, :class => 'inline right text-right' %></div>
          <div class="eight columns end <%= field_has_error?(@restaurant_reservation, :comment) %>">
            <%= f.text_area :comment, :class => field_has_error?(@restaurant_reservation, :comment), :rows => '2' %>
            <%= field_errors @restaurant_reservation, :comment %>
          </div>
        </div>

        <div class="row">
          <div class="eight columns offset-by-three">
            <div class="form-actions">
              <%= f.submit t('restaurant_reservations.actions.create'), :class => 'button' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
