<footer class="row bsz-footer">
  <div class="twelve columns blog-navigation">
    <div class="inner">
      <ul>
        <li><%= link_to get_page_title('kulinaris-charta'), page_path('kulinaris-charta') %></li>
        <li><%= link_to get_page_title('charte-culinaire'), page_path('charte-culinaire') %></li>
        <li><%= link_to get_page_title('kulinarische-charta'), page_path('kulinarische-charta') %></li>
      </ul>
      <ul>
        <li><%= link_to get_page_title('a-buvos-szakacsrol'), page_path('a-buvos-szakacsrol') %></li>
        <li><%= link_to get_page_title('az-mge-alapszabalya'), page_path('az-mge-alapszabalya') %></li>
      </ul>
      <div class="about-bsz">
        <p>A Bűvös Szakácsot szerkeszti: Molnár B. Tamás és Bittera Dóra<br>
        A fotókat leggyakrabban Bittera Dóra készíti, a felhasználási jogot fenntartjuk. Ahol nem, ott jelöljük a fotós nevét.<br>
        A Bűvös Szakács 2008 óta a <%= link_to "Magyar Gasztronómiai Egyesület honlapja", bsz_tag_path('mge') %> is.</p>
      </div>
      <div class="panel mge-panel">
        <div class="row mge-container">
          <div class="four columns mge-logo">
            <%= image_tag 'logo-mge.png' %></p>
          </div>
          <div class="eight columns mge-contact">
            <p>Cím: 1011 Budapest, Szilágyi Dezső tér 1.</p>
            <p>Telefonszám: +36 70 370 7494</p>
            <p>Bankszámla: 11701004-20216348</p>
            <p>Adószám: 18116375-2-41</p>
            <p>A közhasznú egyesület várja mindazok hozzájárulását, akik adójuk 1%-át az egyesület céljaira kívánják fordítani</p>
          </div>
        </div>
      </div>
      <h3>Kedvenceink</h3>
      <% render_embedded_page('buvos-szakacs-kedvencek') %>
    </div>
  </div>
</footer>
