<header class="blog-header">
  <div class="row">
    <h2 class="eight columns centered">
      <%= link_to t('bsz.name'), bsz_posts_path, :class => 'blog-logo' %>
    </h2>
  </div>
</header>

<header class="row bsz-tags">
  <div class="twelve columns blog-navigation">
    <div class="inner">
      <ul>
        <% Post.main_bsz_categories.each do |tag| %>
          <li><%= link_to tag, bsz_tag_path(tag) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% render_embedded_page('bsz-fejlec-hirdetes') %>
</header>
