<article class="post <%= "post-tile six columns end" if params[:action] == 'index' %>">
  <div class="post-tile-inner">
    <%= link_to t('shared.actions.short_url'), get_short_url_for_post(post), :class => 'short-url', :title => t('shared.actions.short_url') %>
    <% if user_signed_in? %>
      <% if current_user.role_admin || current_user.role_senior_editor || current_user.role_editor %>
        <%= link_to t('shared.actions.edit'), edit_admin_post_path(post), :class => 'edit-post', :title => t('shared.actions.edit') %>
      <% end %>
    <% end %>
    <% cache ['v113', 'bsz', 'header', post] do %>
      <header class="post-header">
        <p class="main-tag-container">
          <% (post.tag_list & Post.main_bsz_categories).each do |tag| %>
            <%= link_to tag, bsz_tag_path(tag), :class => "main-tag #{css_class_for_bsz_tag(tag)}" %>
          <% end %>
        </p>
        <h1><%= link_to post.title, get_post_path_for(post) %></h1>
        <p class="post-meta">
          <time class="post-date"><%= l post.published_at, :format => :long %></time> &ndash;
          <% unless post.user.nil? %>
            <span class="post-author"><%= post.user.username %></span>
          <% end %>
          <% if !post.tag_list.empty? %>
            <%= link_to 'Tags', '#', :class => 'post-meta-icon post-tags-popover-toggle', 'data-behavior' => 'post-tags-popover-toggle' %>
          <% end %>
          <% if !post.not_commentable? %>
            <a href="<%= "#{get_post_path_for post}#comments" %>" class="post-meta-icon comments-count"><%= t('comment.titles.counter', :comments_count => number_for_comments(post.comments.count)).html_safe %></a>
          <% end %>
        </p>
        <% if !post.tag_list.empty? %>
          <ul class="plain popover post-tags-popover" data-behavior="post-tags-popover">
            <% post.tag_list.map do |tag| %>
              <li><%= link_to tag, bsz_tag_path(tag) %></li>
            <% end %>
          </ul>
        <% end %>
      </header>
    <% end %>
    <div class="post-body">
      <% if params[:action] == "show" %>
        <div class="share-actions">
          <div class="fb-like" data-href="<%= get_post_url_for post %>" data-send="false" data-layout="button_count" data-width="200" data-show-faces="false" data-action="recommend"></div>
        </div>
        <% @post.blocks.each do |block| %>
          <%= render :partial => 'blocks/block', :locals => { :post => @post, :block => block } %>
        <% end %>
      <% else %>
          <div class="row">
          <% if has_thumbnail_image?(post) %>
            <div class="twelve columns">
              <div class="featured-image" style="background-image: url('<%= thumbnail_image_for post %>'); background-color: <%= thumbnail_image_average_color_for(post) %>;">
              </div>
            </div>
          <% end %>
          <div class="<%= has_thumbnail_image?(post) ? 'twelve' : 'twelve' %> columns post-excerpt">
            <p>
            <%= clear_excerpt_field(post.excerpt) %><%= link_to "<span class=\"continue-to-post\">#{t('shared.actions.read_more')}</span>".html_safe, get_post_path_for(post), :class => 'read-more' %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</article>
