<div class="three columns blog-sidebar">
  <h5><%= t('shared.titles.search') %></h5>
  <%= form_tag bsz_posts_path, method: :get do %>
    <%= text_field_tag :query, params[:query], :placeholder => t('shared.placeholders.search') %>
  <% end %>
  <h5><%= t('bsz.titles.tags') %></h5>
  <ul class="tags">
    <% tag_cloud Post.bsz_public().tag_counts, %w[tag tag tag] do |tag, css_class| %>
      <li><%= link_to tag.name, bsz_tag_path(tag.name), class: css_class %></li>
    <% end %>
  </ul>
</div>
