<div class="twelve columns wine wine-excerpt" id="wine-<%= wine.id %>">
  <div class="wine-inner">
    <h3>
      <%= link_to "#{winery_path(@winery)}#wine-#{wine.id}" do %>
        <span class="title <%= "best-buy" if wine.best_buy %>"><%= wine.title %>, <%= wine.processed_at %></span>
        <span class="year"><%= wine.year %></span>
        <span class="rating-badge"><%= t('shared.counts.rating', :number => wine.rating) %></span>
      <% end %>
    </h3>
    <%= simple_format wine.review %>
    <% if !wine.price.blank? %>
      <p class="price"><%= number_to_currency wine.price %></p>
    <% end %>
  </div>
</div>
