<div class="twelve columns wine">
  <div class="wine-inner">
    <h3>
      <span class="rating-badge"><%= t('shared.counts.rating', :number => wine.rating) %></span>
      <% wine_meta = [wine.title] %>
      <% wine_meta << wine.processed_at if wine.year == CONFIG_GM_YEAR %>
      <span class="title <%= "best-buy" if wine.best_buy %>"><%= wine_meta.join(', ') %></span>
    </h3>
  </div>
</div>
