<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="utf-8" />
  <title><%= content_for?(:title) ? yield(:title) : site_title %> Magyarország</title>
  <meta name="viewport" content="<%= yield_viewport %>" />
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="apple-mobile-web-app-title" content="<%= site_title %>" />
  <%= favicon_link_tag 'favicon.ico' %>
  <link rel="apple-touch-icon-precomposed" href="/assets/apple-touch-icon-precomposed.png" />
  <%= stylesheet_link_tag "application", 'data-turbolinks-track' => 'true' %>
  <script src="http://maps.googleapis.com/maps/api/js?key=<%= google_maps_api_key %>&sensor=false"></script>
  <script type="text/javascript" src="//use.typekit.net/lqg2ooy.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => 'true' %>
  <%= csrf_meta_tags unless response.cache_control[:public] %>
</head>
<body class="admin <%= controller_name %> <%= action_name %>">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-2083103-12', 'gaultmillau.hu');
    ga('send', 'pageview');
  </script>
  <header class="mobile-branding">
    <%= link_to 'Gault&Millau', root_path, :class => 'mobile-logo' %>
    <%= link_to 'Hamburger', '#', :class => 'hamburger', 'data-behavior' => 'hamburger' %>
  </header>
  <header class="navigation" data-behavior="navigation">
    <div class="row collapse">
      <div class="twelve columns">
        <%= link_to "Gault&Millau", root_path, :class => 'logo' %>
      </div>
      <div class="twelve columns">
        <ul class="plain menu">
          <% if policy(Post.new).index? %>
            <li>
              <%= link_to t('admin.posts.name'), admin_posts_path, :class => 'admin-link posts' %>
            </li>
          <% end %>
          <% if policy(HomeBlock.new).index? %>
            <li>
              <%= link_to t('admin.home_blocks.name'), admin_home_blocks_path, :class => 'admin-link home-editor' %>
            </li>
          <% end %>
          <% if policy(Comment.new).index? %>
            <li>
              <%= link_to "#{t('admin.comments.name')} <span class=\"unread-count #{style_for_unread_comments}\" data-behavior=\"unread-comments-count\">#{current_user.unread_comments}</span>".html_safe, admin_comments_path, :class => 'admin-link comments' %>
            </li>
          <% end %>
          <% if policy(Attachment.new).index? %>
            <li>
              <%= link_to t('admin.attachments.name'), admin_attachments_path, :class => 'admin-link attachments' %>
            </li>
          <% end %>
          <% if current_user.role_admin || current_user.role_senior_editor %>
            <li>
              <%= link_to t('admin.tags.name'), admin_tags_path, :class => 'admin-link tags' %>
            </li>
          <% end %>
          <% if policy(Product.new).index? %>
            <li>
              <%= link_to t('admin.products.name'), admin_products_path, :class => 'admin-link products' %>
            </li>
          <% end %>
          <% if policy(Order.new).index? %>
            <li>
              <%= link_to "#{t('admin.orders.name')} <span class=\"unread-count #{style_for_new_orders}\" data-behavior=\"new-orders-count\">#{new_orders_count}</span>".html_safe, admin_orders_path, :class => 'admin-link orders' %>
            </li>
          <% end %>
          <% if policy(RestaurantReservation.new).index? %>
            <li>
              <%= link_to t('admin.restaurant_reservations.name'), admin_restaurant_reservations_path, :class => 'admin-link restaurant-reservations' %>
            </li>
          <% end %>
          <% if policy(User.new).index? %>
            <li>
              <%= link_to t('admin.users.name'), admin_users_path, :class => 'admin-link users' %>
            </li>
          <% end %>
        </ul>
      </div>
      <%= render :partial => 'shared/user_menu' %>
    </div>
  </header>
  <div class="content">
    <%= render :partial => 'shared/notices' %>
    <div id="application" class="application">
      <%= yield %>
    </div>
  </div>
  <div class="loader"></div>
</body>
</html>
