<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="utf-8" />
  <title><%= content_for?(:title) ? yield(:title) : site_title %> Magyarország</title>
  <meta name="viewport" content="<%= yield_viewport %>">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="apple-mobile-web-app-title" content="<%= site_title %>" />
  <meta name="description" content="<%= content_for?(:og_description) ? yield(:og_description) : '' %>">
  <link rel="canonical" href="<%= request.original_url %>">
  <meta property="og:locale" content="hu_HU">
  <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : site_title %> Magyarország">
  <meta property="og:description" content="<%= content_for?(:og_description) ? yield(:og_description) : ''%>">
  <meta property="og:image" content="<%= content_for?(:og_image) ? yield(:og_image) : '/assets/og-image.png' %>">
  <meta property="og:url" content="<%= request.original_url %>">
  <meta property="og:site_name" content="<%= site_title %>"/>
  <meta property="og:type" content="<%= content_for?(:og_type) ? yield(:og_type) : 'website' %>"/>
  <%= favicon_link_tag 'favicon.ico' %>
  <link rel="apple-touch-icon-precomposed" href="/assets/apple-touch-icon-precomposed.png" />
  <%= stylesheet_link_tag "application", :media => 'all', 'data-turbolinks-track' => 'true' %>
  <script src="http://maps.googleapis.com/maps/api/js?key=<%= google_maps_api_key %>&sensor=false"></script>
  <script type="text/javascript" src="//use.typekit.net/lqg2ooy.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => 'true' %>
  <%= csrf_meta_tags unless response.cache_control[:public] %>
  <%= render :partial => 'shared/feeds' %>
  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '226082257859014');
  fbq('track', 'PageView');
    </script>
    <noscript>
      <img height="1" width="1"
                      src="https://www.facebook.com/tr?id=226082257859014&ev=PageView
                      &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body class="<%= controller_name %> <%= action_name %> <%= content_for?(:post_class) ? yield(:post_class) : "" %>">
  <div id="fb-root"></div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-2083103-12', 'gaultmillau.hu');
    ga('send', 'pageview');

  </script>
  <script>
    (function() {
      var cx = '013918098913408760322:bmzmmu0zrlu';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
          '//cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
  <header class="mobile-branding">
    <%= link_to 'Gault&Millau', root_path, :class => 'mobile-logo' %>
    <%= link_to 'Menü', '#', :class => 'hamburger', 'data-behavior' => 'hamburger' %>
  </header>
  <header class="navigation" data-behavior="navigation">
    <div class="row collapse">
      <div class="twelve columns">
        <%= link_to "Gault&Millau", root_path, :class => 'logo' %>
      </div>
      <div class="twelve columns">
        <ul class="plain menu kalauz">
          <li>
            <%= link_to guides2017_path, :class => 'guides' do %>
              <span class="sidebar-highlight"><%= t('guides.name') %></span>
            <% end %>
          </li>
          <li>
            <%= link_to t('orders.actions.sidebar'), products_path, :class => 'orders' %>
          </li>
          <li>
            <span class="search-menu-title">Keresők:</span>
          </li>
          <li>
            <%= link_to t('restaurants.navigation_name').html_safe, restaurants_path, :class => 'search-menu restaurants' %>
          </li>
          <li>
            <%= link_to t('hotels.name'), hotels_path, :class => 'search-menu hotels' %>
          </li>
          <li>
            <%= link_to t('wineries.name'), wineries_path, :class => 'search-menu wineries' %>
          </li>
        </ul>
        <ul class="plain menu site">
          <li>
            <%= link_to t('bsz.name'), bsz_posts_path, :class => 'bsz' %>
          </li>
          <li>
            <%= link_to t('recipes.name'), recipes_path, :class => 'recipes' %>
          </li>
          <li>
            <%= link_to t('amuva.name'), amuva_posts_path, :class => 'amuva' %>
          </li>
          <li>
            <%= link_to t('mh.name'), mh_posts_path, :class => 'mh' %>
          </li>
          <li>
            <%= link_to t('news.name'), news_index_path, :class => 'news' %>
          </li>
        </ul>
      </div>
      <%= render :partial => 'shared/user_menu' %>
    </div>
  </header>
  <div class="content">
    <%= render :partial => 'shared/notices' %>
    <div id="application" class="application">
      <%= yield %>
    </div>
    <%= render :partial => 'shared/footer' %>
  </div>
  <div class="loader"></div>
</body>
</html>
