<div class="post-tile-inner editing">
  <div class="row">
    <div class="<%= home_block.kind == 'main_post' ? 'eight centered' : 'twelve' %> columns">
      <header class="post-header">
        <h1><%= link_to home_block.post.title, edit_admin_post_path(home_block.post) %></h1>
        <p class="post-meta">
          <time class="post-date"><%= l home_block.post.published_at, :format => :long %></time>
          <% if home_block.post.category == 'a-muvelt-alkoholista' || home_block.post.category == 'buvos-szakacs' %>
            <a href="<%= get_post_path_for home_block.post %>#comments" class="post-meta-icon comments-count"><%= t('comment.titles.counter', :comments_count => home_block.post.comments.size) %></a>
          <% end %>
        </p>
      </header>
      <%= form_for [:admin, home_block], :html => { :class => 'homeblock-form', 'data-behavior' => 'home-block-form', :remote => true } do |f| %>
        <div class="row choose-home-block-post">
          <div class="twelve columns">
            <%= f.select :post_id, options_for_select(find_all_public_posts, :selected => home_block.post_id), {},  { :id => "choose-home-block-post-#{home_block.id}", :style => 'width:100%' } %>
          </div>
        </div>
        <% if home_block.post.category != 'hirdetesek' && home_block.post.category != 'beagyazott' %>
          <div class="row">
            <div class="twelve columns">
              <%= f.label :title, :class => 'inline' %>
              <%= f.text_field :title, :class => 'blocked-field' %>
            </div>
          </div>
        <% end %>
        <% if home_block.post.category != 'hirdetesek' %>
          <div class="row">
            <div class="twelve columns">
              <%= f.label :style_type, :class => 'inline' %>
              <%= f.select :style_type, options_for_select(HomeBlock.style_type_options, :selected => home_block.style_type), {},  { :class => 'blocked-field' , :style => 'width:100%' } %>
            </div>
          </div>
        <% end %>
        <% if home_block.kind != 'main_post' && home_block.post.category != 'hirdetesek' && home_block.post.category != 'beagyazott' %>
          <div class="row">
            <div class="twelve columns">
              <div class="radio-button">
                <%= f.check_box :has_featured_image %>
                <%= f.label :has_featured_image %>
              </div>
            </div>
          </div>
        <% end %>
        <% if home_block.kind == 'main_post' %>
          <div class="row">
            <div class="twelve columns">
              <%= f.label :image_url, :class => 'inline' %>
              <%= f.text_field :image_url, :class => 'blocked-field' %>
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <%= f.label :image_align, :class => 'inline' %>
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <div class="radio-button">
                <%= f.radio_button :image_align, 'left' %>
                <%= f.label 'image_align_left', 'Balra' %>
              </div>
              <div class="radio-button">
                <%= f.radio_button :image_align, 'right' %>
                <%= f.label 'image_align_right', 'Jobbra' %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="twelve columns">
            <div class="form-actions">
              <%= f.submit t('shared.actions.save') %>
              <%= t('shared.messages.or') %> <%= link_to t('shared.actions.cancel'), admin_home_block_path(home_block), :remote => true %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


