<% if home_block.kind == 'main_post' %>
  <section class="main-post" style="background-image: url('<%= home_block.image_url %>')">
    <%= link_to t('shared.actions.edit'), edit_admin_home_block_path(home_block), :remote => true, :class => 'tile-icon edit' %>
    <div class="row">
      <div class="eight columns <%= "offset-by-four" if home_block.image_align == "right" %> main-post-excerpt">
        <article class="inner post">
          <header class="post-header">
            <h1 class="<%= "text-right" if home_block.image_align == "right" %>"><%= link_to home_block.title.blank? ? home_block.post.title : home_block.title, edit_admin_post_path(home_block.post) %></h1>
            <p class="post-meta <%= "text-right" if home_block.image_align == "right" %>">
              <span class="post-date"><%= l home_block.post.published_at, :format => :long %></span>
            </p>
          </header>
        </article>
      </div>
    </div>
  </section>
<% elsif home_block.kind == 'featured_post' %>
  <div class="post-tile-inner <%= home_block_category home_block %>">
    <%= link_to t('admin.posts.actions.home_blocks.move'), '#', :class => 'tile-icon handle', :title => t('admin.posts.actions.home_blocks.move') %>
    <%= link_to t('admin.posts.actions.home_blocks.edit'), edit_admin_home_block_path(home_block), :remote => true, :class => 'tile-icon edit', :title => t('admin.posts.actions.home_blocks.edit') %>
    <%= link_to t('admin.posts.actions.home_blocks.insert'), new_admin_home_block_path(:insert_before => home_block.id), :remote => true, :class => 'tile-icon insert', :title => t('admin.posts.actions.home_blocks.insert') %>
    <%= link_to t('admin.posts.actions.home_blocks.destroy'), [:admin, home_block], :remote => true, method: :delete, data: { confirm: "Biztos törli ezt a dobozt?" }, :class => 'tile-icon delete', :title => t('admin.posts.actions.home_blocks.destroy') %>
    <% if home_block.post.category == 'hirdetesek' %>
      <h3>Hirdetés &ndash; <span class="subtitle"><%= home_block.post.title %></span></h3>
      <% home_block.post.blocks.each do |block| %>
        <%= render :partial => 'blocks/block', :locals => { :post => @post, :block => block } %>
      <% end %>
    <% elsif home_block.post.category == 'beagyazott' %>
      <% home_block.post.blocks.each do |block| %>
        <%= render :partial => 'blocks/block', :locals => { :post => @post, :block => block } %>
      <% end %>
    <% else %>
      <header class="post-header">
        <h1><%= link_to home_block.title.blank? ? home_block.post.title : home_block.title, edit_admin_post_path(home_block.post) %></h1>
        <p class="post-meta">
          <time class="post-date"><%= l home_block.post.published_at, :format => :long %></time>
          <% if home_block.post.category == 'a-muvelt-alkoholista' || home_block.post.category == 'buvos-szakacs' || home_block.post.category == 'hirek' %>
            <a href="<%= get_post_path_for home_block.post %>#comments" class="post-meta-icon comments-count"><%= t('comment.titles.counter', :comments_count => home_block.post.comments.count) %></a>
          <% end %>
        </p>
      </header>
      <% if home_block.has_featured_image || home_block.post.category == 'receptek' %>
        <div class="featured-image" style="background-image: url('<%= thumbnail_image_for(home_block.post, :medium) unless !has_thumbnail_image?(home_block.post) %>'); background-color: <%= thumbnail_image_average_color_for(home_block.post) unless !has_thumbnail_image?(home_block.post) %>;"></div>
      <% else %>
        <p class="excerpt">
          <%= clear_excerpt_field(home_block.post.excerpt) %><%= link_to "<span class=\"continue-to-post\">#{t('shared.actions.read_more')}</span>".html_safe, edit_admin_post_path(home_block.post), :class => 'read-more' %>
        </p>
      <% end %>
    <% end %>
  </div>
<% elsif home_block.kind == 'custom' %>
  <div class="post-tile-inner <%= home_block_category home_block %>">
    <%= link_to t('admin.posts.actions.home_blocks.move'), '#', :class => 'tile-icon handle', :title => t('admin.posts.actions.home_blocks.move') %>
    <%= link_to t('admin.posts.actions.home_blocks.insert'), new_admin_home_block_path(:insert_before => home_block.id), :remote => true, :class => 'tile-icon insert', :title => t('admin.posts.actions.home_blocks.insert') %>
    <%= render :partial => 'home/custom_block', :locals => { :home_block => home_block } %>
  </div>
<% end %>
