$('[data-home-block-id~=<%= @home_block.id %>]').html('<%= j render :partial => 'admin/home_blocks/form', :locals => { :home_block => @home_block } %>');
if ($('#choose-home-block-post-<%= @home_block.id %>').length > 0) {
  $("#choose-home-block-post-<%= @home_block.id %>").chosen({
    no_results_text: "<%= t('admin.posts.messages.notices.blocks.post_not_found') %>"
  });
}
$('.post-tiles').masonry('reload');
$('html').addClass('loaded');
