<% content_for :title do %>
  <%= t('admin.home_blocks.name') %> &ndash; <%= t('admin.name') %> &ndash; <%= site_title %>
<% end  %>

<div class="row">
  <div class="twelve columns">
    <div class="row">
      <h2 class="twelve columns">
        <%= t('admin.home_blocks.name') %>
      </h2>
    </div>
    <div class="row">
      <div class="twelve columns main-post-container" data-home-block-id="<%= @main_post_home_block.id %>">
        <%= render @main_post_home_block %>
      </div>
    </div>

    <ul class="row plain featured-posts post-tiles" data-behavior="home-blocks post-tiles" data-update-url="<%= admin_sort_home_blocks_path %>">
      <% @featured_blocks.each do |home_block| %>
        <%= content_tag_for :li, home_block, 'data-home-block-id' => home_block.id, :class => "six columns post post-tile home-editor-tile" do %>
          <%= render home_block %>
        <% end %>
      <% end %>
    </ul>
    <div class="row">
      <div class="six columns centered">
        <%= link_to t('admin.posts.actions.home_blocks.append'), new_admin_home_block_path, :remote => true, :class => 'add-new-home-block' %>
      </div>
    </div>
  </div>
</div>
