<% if !params[:insert_before].blank? %>
  $('[data-home-block-id~=<%= params[:insert_before] %>]').before('<%= content_tag_for :li, @home_block, 'data-home-block-id' => @home_block.id, :class => "six columns post post-tile home-editor-tile #{@home_block.post.category}" do %><%= j render :partial => 'admin/home_blocks/form', :locals => { :home_block => @home_block } %><% end %>');
<% else %>
  $('[data-behavior~=post-tiles]').append('<%= content_tag_for :li, @home_block, 'data-home-block-id' => @home_block.id, :class => "six columns post post-tile home-editor-tile #{@home_block.post.category}" do %><%= j render :partial => 'admin/home_blocks/form', :locals => { :home_block => @home_block } %><% end %>');
<% end %>
if ($('#choose-home-block-post-<%= @home_block.id %>').length > 0) {
  $("#choose-home-block-post-<%= @home_block.id %>").chosen({
    no_results_text: "<%= t('admin.posts.messages.notices.blocks.post_not_found') %>"
  });
}
$('.post-tiles').masonry('reload');
$('html').addClass('loaded');
