$('[data-home-block-id~=<%= @home_block.id %>]').html('<%= j render @home_block %>');
$('.post-tiles').masonry('reload');
$('.post-tiles').imagesLoaded(function() {
  $('.post-tiles').masonry("reload");
});
$('html').addClass('loaded');
